Repository helm/helm, pull requests merged in 2018-03, with the labels that each got.

#3502 fix occurences typo in charts.md
  docs/charts.md
Labels: cncf-cla: yes, docs, size/XS

#3591 adding Helmsman in docs/related.md
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3590 Add helm-hashtag plugin
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3582 Add link to securing helm docs in 'helm init' text
  cmd/helm/init.go
Labels: cncf-cla: yes, size/XS

#3611 added Codefresh
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3464 Add --replicas option for Tiller HA fixes #2334
  cmd/helm/init.go
  cmd/helm/installer/install.go
  cmd/helm/installer/install_test.go
  cmd/helm/installer/options.go
  docs/helm/helm_init.md
Labels: cncf-cla: yes, size/M

#3608 Change helm update to helm upgrade
  docs/chart_template_guide/values_files.md
Labels: cncf-cla: yes, size/XS

#3607 Add instruction to support new GnuGP version
  docs/provenance.md
Labels: cncf-cla: yes, size/XS

#3621 Fixed bad link to Issues page
  CONTRIBUTING.md
Labels: cncf-cla: yes, size/XS

#3626 bump go to 1.10
  .circleci/config.yml
Labels: cncf-cla: yes, size/XS

#3623 fix kubeVersion example
  docs/examples/nginx/Chart.yaml
Labels: cncf-cla: yes, size/XS

#3641 Add helm-unittest plugins in related
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3595 Relative home path part1
  cmd/helm/init.go
  cmd/helm/init_unix.go
  cmd/helm/init_windows.go
Labels: cncf-cla: yes, size/S

#3597 replace FAILED deployments with `helm upgrade --install --force`
  pkg/storage/storage.go
  pkg/tiller/release_update.go
  pkg/tiller/release_update_test.go
Labels: cncf-cla: yes, size/L

#3638 Remove duplicate test code from cmd/helm/list_test.go
  cmd/helm/list_test.go
Labels: cncf-cla: yes, refactor, size/M

#3631 Respect http proxy settings when using custom Transport
  pkg/getter/httpgetter.go
Labels: cncf-cla: yes, feature, size/XS

#3640 fix typo in docs and fake
  docs/chart_tests.md
  pkg/helm/fake.go
Labels: cncf-cla: yes, docs, size/XS

#3646 Accept .yml files as well as .yaml for templates.
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
Labels: cncf-cla: yes, feature, size/S

#3650 Fix duplicate test code in helm history command
  cmd/helm/history_test.go
Labels: cncf-cla: yes, refactor, size/M

#3666 remove "This Repository" link from releases page
  scripts/get
Labels: cncf-cla: yes, size/XS

#3667 docs(OWNERS): add emeritus section
  OWNERS
Labels: cncf-cla: yes, size/S

#3662 Refactor helm status command tests to remove duplication
  cmd/helm/status_test.go
Labels: cncf-cla: yes, in progress, refactor, size/L

#3645 Recover from a tiller pod crash caused due to errors in values.yaml
  pkg/engine/engine.go
Labels: awaiting review, bug, cncf-cla: yes, size/XS

#3671 refactor helm version command tests to remove duplication.
  cmd/helm/version_test.go
Labels: cncf-cla: yes, size/M

#3507 Fix the unit tests to avoid leaving behind 'helm_home*' temporary directories during build
  cmd/helm/init_test.go
  cmd/helm/repo_update_test.go
Labels: cncf-cla: yes, size/S

#3651 bump version to v2.8.2
  README.md
Labels: cncf-cla: yes, docs, size/XS

#3680 add newline after header
  docs/securing_installation.md
Labels: cncf-cla: yes, docs, size/XS

#3686 Fixed referencing the wrong env variable if SHA sum doesn't match.
  scripts/get
Labels: cncf-cla: yes, size/XS

#3653 fixed an issue with the canaray rudder image in versioning.mk
  versioning.mk
Labels: cncf-cla: yes, size/XS

#3695 fix windows path issues on `helm template -x`
  cmd/helm/template.go
Labels: cncf-cla: yes, size/XS

#3705 Refactor tests on helm dependency list command to remove duplication
  cmd/helm/dependency_test.go
Labels: cncf-cla: yes, size/M

#3688 Fix helm search command error on index search failures
  cmd/helm/search.go
  cmd/helm/search_test.go
Labels: cncf-cla: yes, size/L

#3652 add support for output format in json or yaml
  cmd/helm/history.go
  cmd/helm/history_test.go
  docs/helm/helm_history.md
Labels: cncf-cla: yes, feature, size/L

#3677 Fix link to github issues in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cncf-cla: yes, docs, size/XS

#3719 Fixed typo
  cmd/helm/install.go
Labels: cncf-cla: yes, size/XS

#3717 fix(helm): fix helm history unit tests
  cmd/helm/helm_test.go
  cmd/helm/history.go
  cmd/helm/history_test.go
Labels: cncf-cla: yes, size/M

#3599 Adding --set-string flag to force string values.
  cmd/helm/install.go
  cmd/helm/lint.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  docs/chart_best_practices/values.md
  docs/helm/helm_install.md
  docs/helm/helm_lint.md
  docs/helm/helm_template.md
  docs/helm/helm_upgrade.md
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
  scripts/completions.bash
Labels: cncf-cla: yes, feature, in progress, size/L

#3737 Fix HTML parsing when setting TAG with wget
  scripts/get
Labels: cncf-cla: yes, size/XS

#3716 Add actionable message in the error
  cmd/helm/install.go
Labels: cncf-cla: yes, size/XS

#3738 fix Syntax error
  docs/chart_repository.md
Labels: cncf-cla: yes, size/XS

#3743 Add issue_template.md which asks for version info.
  .github/issue_template.md
Labels: cncf-cla: yes, size/XS

#3733 add a link to Jenkins X and how it uses helm
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3730 Create index.yaml if missing when running repo index --merge
  cmd/helm/repo_index.go
  cmd/helm/repo_index_test.go
Labels: cncf-cla: yes, size/M

#3661 add back the default 5 second connection timeout
  pkg/helm/client.go
  pkg/helm/client_test.go
Labels: bug, cncf-cla: yes, size/M

#3750 Updated to mention the --purge flag on delete
  docs/install_faq.md
Labels: cncf-cla: yes, size/XS

#3759 Update tiller_ssl.md
  docs/tiller_ssl.md
Labels: cncf-cla: yes, size/XS

#3771 Remove outdated note from doc
  docs/provenance.md
Labels: cncf-cla: yes, size/XS

#3756 Fix several golint warnings
  pkg/chartutil/chartfile.go
  pkg/downloader/chart_downloader.go
  pkg/getter/httpgetter.go
  pkg/repo/chartrepo.go
  pkg/repo/repo.go
  pkg/strvals/parser.go
Labels: cncf-cla: yes, size/S

#3755 fix 'mulitenant'->'multitenant'
  docs/securing_installation.md
Labels: cncf-cla: yes, size/XS

#3754 fix 'eveything' -> 'everything'
  docs/release_checklist.md
Labels: cncf-cla: yes, size/XS

#3721 ref(*): kubernetes v1.10 support
  glide.lock
  glide.yaml
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: cncf-cla: yes, size/L

#3768 Updated kubernetes_distros.md with DC/OS note.
  docs/kubernetes_distros.md
Labels: cncf-cla: yes, size/XS

#3789 fix output leak from unit tests of helm create command
  cmd/helm/create_test.go
Labels: cncf-cla: yes, size/XS
