Repository helm/helm, pull requests merged in 2018-02, with the labels that each got.

#3417 Update charts_tips_and_tricks.md
  docs/charts_tips_and_tricks.md
Labels: cncf-cla: yes, docs, size/S

#2720 feat(helm): add --template flag to `helm version`
  cmd/helm/version.go
  cmd/helm/version_test.go
  docs/helm/helm_version.md
Labels: cncf-cla: yes, feature, size/S

#3499 fix a typo in client
  pkg/helm/client.go
Labels: cncf-cla: yes, size/XS

#3504 fix the bug in test code that leaves behind temp directories during build
  cmd/helm/create_test.go
Labels: cncf-cla: yes, size/XS

#3505 Typo once/one
  docs/chart_template_guide/subcharts_and_globals.md
Labels: cncf-cla: yes, size/XS

#3516 chore(README): add ref to helm mailing list
  README.md
Labels: cncf-cla: yes, size/XS

#3521 Add Helm.NET to the list of related Helm tools
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3520 Fix 'Namesapce' typo
  _proto/hapi/services/tiller.proto
Labels: cncf-cla: yes, size/XS

#3525 Update download links to 2.8.1 binaries
  README.md
Labels: cncf-cla: yes, size/XS

#3542 Added ReactiveOps Autohelm to the related tools list
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3524 update docs to demonstrate best practices in regards to named templates
  docs/chart_template_guide/named_templates.md
Labels: cncf-cla: yes, lgtm, size/M

#3547 docs(related): add helm-local plugin
  docs/related.md
Labels: cncf-cla: yes, docs, size/XS

#3482 Tiller should only enforce what we expect from Helm
  cmd/tiller/tiller.go
Labels: cncf-cla: yes, needs-pick, size/S

#3571 fix(plugins): support newer git
  pkg/plugin/installer/vcs_installer.go
  pkg/plugin/installer/vcs_installer_test.go
  pkg/storage/driver/records_test.go
Labels: bug, cncf-cla: yes, size/M

#3568 fix(plugins): support installing plugins by relative path
  pkg/plugin/installer/installer.go
  pkg/plugin/installer/local_installer.go
Labels: bug, cncf-cla: yes, size/S

#3473 use an underscore for release_checklist.md
  docs/release_checklist.md
Labels: cncf-cla: yes, size/XS

#3561 docs(helm): Added kubeVersion to documentation.
  docs/charts.md
  docs/examples/nginx/Chart.yaml
Labels: cncf-cla: yes, docs, size/XS

#3514 Bump client side grpc max msg size
  pkg/helm/client.go
  pkg/tiller/server.go
Labels: cncf-cla: yes, needs-pick, size/S

#3494 docs: Fix FromJson comment
  pkg/chartutil/files.go
Labels: cncf-cla: yes, docs, size/XS

#3562 Fix link to Slack
  README.md
Labels: cncf-cla: yes, docs, size/XS

#3543 Clean up temporary "helm-repotest-*" directories left behind by tests under cmd/helm
  cmd/helm/repo_add_test.go
  cmd/helm/repo_remove_test.go
  cmd/helm/repo_update_test.go
Labels: bug, cncf-cla: yes, size/XS

#3544 Fix minor typo
  pkg/helm/option.go
Labels: cncf-cla: yes, docs, size/XS

#3535 fix the output leak from test code under pkg/tiller
  pkg/tiller/release_server_test.go
Labels: bug, cncf-cla: yes, size/XS

#3532 Mute upgrade --install default namespace warning
  cmd/helm/upgrade.go
Labels: cncf-cla: yes, size/XS

#3527 Fix the output leak to stdout during build by tests under pkg/releasetesting
  pkg/releasetesting/environment_test.go
  pkg/releasetesting/test_suite_test.go
Labels: bug, cncf-cla: yes, size/S

#3519 Fix linting bug with charts containing more than one hyphen
  cmd/helm/lint.go
  cmd/helm/lint_test.go
  cmd/helm/testdata/testcharts/compressedchart-with-hyphens-0.1.0.tgz
Labels: cncf-cla: yes, size/S

#3539 fix(tiller): Supersede multiple deployments
  pkg/storage/storage.go
  pkg/tiller/release_rollback.go
  pkg/tiller/release_rollback_test.go
  pkg/tiller/release_server.go
Labels: cncf-cla: yes, size/L

#3492 Minor documentation fixes
  docs/securing_installation.md
Labels: cncf-cla: yes, size/S

#3508 fix the implicit dependency of TestSetAppVersion test on previous tests
  cmd/helm/package_test.go
Labels: cncf-cla: yes, size/S

#3491 defer in loop may cause resource leak
  pkg/chartutil/expand.go
Labels: cncf-cla: yes, size/XS

#3488 bump docker to 17.11.0-ce
  .circleci/config.yml
  .circleci/deploy.sh
Labels: cncf-cla: yes, size/XS

#3405 Fix typo
  docs/kubernetes_distros.md
Labels: cncf-cla: yes, size/XS

#3383 refactor prettyError, closes #3381
  cmd/helm/helm.go
Labels: cncf-cla: yes, size/S

#3578 fix(circle): fix download link to download.docker.com
  .circleci/config.yml
  .circleci/deploy.sh
Labels: cncf-cla: yes, size/XS

#3475 fix(helm): update helm reset --force tip for clarity
  cmd/helm/reset.go
  cmd/helm/reset_test.go
  docs/helm/helm_reset.md
Labels: cncf-cla: yes, size/S

#3579 remove deprecated -e flag to `docker login`
  .circleci/deploy.sh
Labels: cncf-cla: yes, lgtm, size/XS

#3567 Create missing directories when saving files in chartutil.SaveDir
  pkg/chartutil/save.go
  pkg/chartutil/save_test.go
Labels: cncf-cla: yes, size/S
