Repository helm/helm, pull requests merged in 2018-11, with the labels that each got.

#4741 add s390x architecture to the release notes
  docs/release_checklist.md
Labels: docs

#4597 docs: add special note for RBAC users
  docs/install.md
Labels: docs

#4887 Small typo fix
  docs/chart_template_guide/control_structures.md
Labels: size/XS

#4828 fix(engine): Fix template rendering thread safety issue
  pkg/engine/engine.go
Labels: size/S

#4882 Full path to mysubchart file
  docs/chart_template_guide/subcharts_and_globals.md
Labels: size/XS

#4881 Fix missing formatting character error in wrapf statement
  cmd/helm/init.go
Labels: size/XS, v3

#4877 fix snap install command in install docs
  docs/install.md
Labels: size/XS

#4883 Fix/bad name
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/template.go
  cmd/helm/template_test.go
  docs/helm/helm_template.md
Labels: size/S

#4867 related docs - remove import, export, add backup and plugin-utils instead
  docs/related.md
Labels: size/XS

#4633 note on prefixing of resource names with release name
  docs/chart_best_practices/templates.md
Labels: size/M

#4136 add appveyor for testing on Windows
  .appveyor.yml
Labels: cncf-cla: yes, size/S

#4820 fix(tiller): rollback deleted release (#3722)
  pkg/storage/storage.go
  pkg/tiller/release_rollback.go
  pkg/tiller/release_rollback_test.go
Labels: size/M

#4348 fix(helm): Non-zero exit code on failed chart repository update
  cmd/helm/repo_update.go
  cmd/helm/repo_update_test.go
Labels: bug, cncf-cla: yes, in progress, size/M

#4901 Helm code of conduct
  code-of-conduct.md
Labels: size/XS

#4920 ref(pkg/chart): rename files to be consistent with types
  pkg/chart/chart.go
  pkg/chart/chartfile.go
  pkg/chart/dependency.go
  pkg/chartutil/requirements.go
  pkg/chartutil/values.go
Labels: size/L, v3

#4924 fix(docs): run `make docs`
  docs/helm/helm_repo_update.md
Labels: size/XS

#4927 ref: rename inspect to show
  cmd/helm/root.go
  cmd/helm/show.go
  cmd/helm/show_test.go
Labels: size/M, v3

#4682 fix(helm): --set for out of order list values
  cmd/helm/install_test.go
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
Labels: size/M

#4869 Securing tiller via running it locally.
  docs/securing_installation.md
Labels: size/M

#4948 Update control_structures.md
  docs/chart_template_guide/control_structures.md
Labels: size/XS

#4913 chore(deps): update cobra to latest
  glide.lock
  glide.yaml
Labels: size/XS

#4946 ref(pkg/repo): rename RepoFile to File
  cmd/helm/helm_test.go
  cmd/helm/init.go
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
  cmd/helm/repo_list.go
  cmd/helm/repo_remove.go
  cmd/helm/repo_remove_test.go
  cmd/helm/repo_update.go
  cmd/helm/search.go
  pkg/downloader/chart_downloader.go
  pkg/downloader/chart_downloader_test.go
  pkg/downloader/manager.go
  pkg/repo/repo.go
  pkg/repo/repo_test.go
  pkg/repo/repotest/server.go
Labels: size/L, v3

#4897 fix(appveyor): fix up failing unit tests on Windows
  .appveyor.yml
  cmd/helm/helm_test.go
  cmd/helm/package_test.go
  cmd/helm/template_test.go
  cmd/helm/verify_test.go
  pkg/chartutil/load.go
  pkg/chartutil/requirements_test.go
  pkg/chartutil/testdata/joonix/charts/.gitkeep
  pkg/chartutil/testdata/joonix/charts/frobnitz
  pkg/getter/plugingetter_test.go
  pkg/repo/index.go
  pkg/repo/index_test.go
Labels: size/M

#4904 Adding link labels to doc links for more conspicuity
  CONTRIBUTING.md
Labels: size/XS

#4940 docs: Fix indent
  docs/charts.md
Labels: size/M

#4952 Error message if anyone try to create multiple helm chart at a time
  cmd/helm/create.go
Labels: size/XS

#4962 ref(url): update helm's github url
  CONTRIBUTING.md
  README.md
  cmd/helm/history.go
  cmd/helm/install.go
  cmd/helm/testdata/helmhome/repository/cache/testing-index.yaml
  cmd/helm/testdata/testcharts/alpine/Chart.yaml
  cmd/helm/testdata/testcharts/issue1979/Chart.yaml
  cmd/helm/testdata/testcharts/novals/Chart.yaml
  cmd/helm/testdata/testcharts/signtest/alpine/Chart.yaml
  docs/chart_repository.md
  docs/chart_repository_faq.md
  docs/chart_template_guide/builtin_objects.md
  docs/chart_template_guide/wrapping_up.md
  docs/charts.md
  docs/charts_tips_and_tricks.md
  docs/developers.md
  docs/examples/alpine/Chart.yaml
  docs/examples/nginx/Chart.yaml
  docs/examples/nginx/charts/alpine/Chart.yaml
  docs/install.md
  docs/install_faq.md
  docs/provenance.md
  docs/quickstart.md
  docs/related.md
  docs/release_checklist.md
  docs/using_helm.md
  pkg/chartutil/files_test.go
  pkg/downloader/manager.go
  pkg/downloader/testdata/helmhome/repository/cache/kubernetes-charts-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/malformed-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-basicauth-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-https-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-querystring-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-relative-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-relative-trailing-slash-index.yaml
  pkg/downloader/testdata/signtest/alpine/Chart.yaml
  pkg/getter/testdata/repository/cache/stable-index.yaml
  pkg/ignore/rules_test.go
  pkg/lint/rules/template.go
  pkg/resolver/testdata/helmhome/repository/cache/kubernetes-charts-index.yaml
  pkg/tiller/release_server.go
  scripts/get
Labels: size/L

#4966 docs: add documentation for the helmignore file
  docs/README.md
  docs/chart_template_guide/helm_ignore_file.md
Labels: size/S

#4977 Update chart doc with details about the license file
  docs/charts.md
Labels: size/XS

#4956 Allow missing trailing '/' in --repo url
  pkg/repo/chartrepo.go
  pkg/repo/chartrepo_test.go
Labels: size/S

#4978 fix(storage): when pruning release versions, never delete the last deployed revision
  pkg/storage/storage.go
  pkg/storage/storage_test.go
Labels: bug, size/M

#4963 avoid kubernetes import for slice contains logic
  cmd/helm/inspect.go
Labels: size/S

#4986 fix(helm): Allow custom resources in hooks
  pkg/kube/client.go
Labels: size/S

#4983 ref(pkg/chartutil): simplify chart dependency unit tests
  cmd/helm/template.go
  pkg/chartutil/dependencies.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/testdata/subpop/Chart.yaml
  pkg/chartutil/testdata/subpop/charts/subchart1/Chart.yaml
  pkg/chartutil/testdata/subpop/charts/subchart2/Chart.yaml
  pkg/chartutil/testdata/subpop/values.yaml
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
  pkg/helm/client.go
Labels: size/XL, v3

#4974 Update messaging in value parsing to improve traceability
  pkg/chartutil/requirements.go
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
Labels: size/M
