Repository helm/helm, pull requests merged in 2018-10, with the labels that each got.

#4794 ref(*): kubernetes v1.12 support
  Gopkg.lock
  Gopkg.toml
  cmd/helm/helm.go
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/config.go
  pkg/kube/converter.go
  pkg/kube/factory.go
  pkg/kube/log.go
  pkg/kube/result.go
  pkg/kube/result_test.go
  pkg/kube/wait.go
  pkg/releasetesting/environment.go
  pkg/releasetesting/test_suite.go
  pkg/releasetesting/test_suite_test.go
  pkg/tiller/environment/environment.go
  pkg/tiller/environment/environment_test.go
  pkg/tiller/release_server_test.go
Labels: v3

#4524 Add test template example for helm create
  cmd/helm/create.go
  cmd/helm/create_test.go
  docs/helm/helm_create.md
  pkg/chartutil/create.go
  pkg/chartutil/create_test.go
  pkg/chartutil/save.go
Labels: feature

#4788 doc(helm): remove Tiller reference from the docs
  README.md
  docs/architecture.md
  docs/chart_best_practices/conventions.md
  docs/chart_best_practices/labels.md
  docs/chart_template_guide/accessing_files.md
  docs/chart_template_guide/builtin_objects.md
  docs/chart_template_guide/debugging.md
  docs/chart_template_guide/getting_started.md
  docs/charts.md
  docs/charts_hooks.md
  docs/charts_tips_and_tricks.md
  docs/developers.md
  docs/glossary.md
  docs/history.md
  docs/index.md
  docs/install.md
  docs/install_faq.md
  docs/kubernetes_distros.md
  docs/provenance.md
  docs/quickstart.md
  docs/rbac.md
  docs/related.md
  docs/release_checklist.md
  docs/securing_installation.md
  docs/tiller_ssl.md
  docs/using_helm.md
Labels: v3

#4802 ref(tests): remove broken symlinks in testdata
  pkg/downloader/testdata/helmhome/repository/cache/local-index.yaml
  pkg/getter/testdata/repository/cache/local-index.yaml
Labels: v3

#4141 remove dirname constraint on `helm package`
  cmd/helm/package.go
  cmd/helm/package_test.go
  cmd/helm/testdata/testcharts/issue1979/Chart.yaml
  cmd/helm/testdata/testcharts/issue1979/README.md
  cmd/helm/testdata/testcharts/issue1979/extra_values.yaml
  cmd/helm/testdata/testcharts/issue1979/more_values.yaml
  cmd/helm/testdata/testcharts/issue1979/templates/alpine-pod.yaml
  cmd/helm/testdata/testcharts/issue1979/values.yaml
Labels: cncf-cla: yes, size/M, v3

#4804 Update Contributing.md to remove mention of CLA
  CONTRIBUTING.md
Labels: size/XS

#4829 Missing the batch permission in one of the example
  docs/rbac.md
Labels: size/XS

#4861 Add plugins and tools to docs
  docs/related.md
Labels: size/XS

#4853 test(tiller): cover crash fixed by #4630
  pkg/tiller/release_update_test.go
Labels: size/S

#4839 Remove executable bits from chartutil generated files
  pkg/chartutil/save.go
Labels: size/XS

#4859 ref(kube): use external api types where possible
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: size/M

#4858 ref: require name by default on 'helm install'
  Gopkg.lock
  Gopkg.toml
  Makefile
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/template.go
  cmd/helm/testdata/output/install-no-args.txt
  pkg/tiller/release_install_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
  pkg/tiller/release_update_test.go
Labels: size/L, v3
