Repository helm/helm, pull requests merged in 2018-08, with the labels that each got.

#4364 fix(release_server): fix how we merge values
  pkg/tiller/release_server.go
  pkg/tiller/release_update_test.go
Labels: bug, needs-pick

#4438 Test+Fix for Query string in repo URL is discarded when downloading packages
  pkg/repo/chartrepo.go
  pkg/repo/chartrepo_test.go
Labels: bug, needs-pick, size/small

#4444 fix(helm): fix(helm): add `--tls-hostname` flag to tls flags
  cmd/helm/helm.go
  docs/helm/helm_delete.md
  docs/helm/helm_get.md
  docs/helm/helm_get_hooks.md
  docs/helm/helm_get_manifest.md
  docs/helm/helm_get_values.md
  docs/helm/helm_history.md
  docs/helm/helm_install.md
  docs/helm/helm_list.md
  docs/helm/helm_reset.md
  docs/helm/helm_rollback.md
  docs/helm/helm_status.md
  docs/helm/helm_test.md
  docs/helm/helm_upgrade.md
  docs/helm/helm_version.md
  docs/tiller_ssl.md
  pkg/tlsutil/cfg.go
Labels: needs-pick

#4449 bump version to v2.10
  pkg/version/version.go
Labels: awaiting review, needs-pick

#4509 ref(*): kubernetes v1.11 support
  Gopkg.lock
  Gopkg.toml
  cmd/helm/helm.go
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/config.go
  pkg/kube/result.go
  pkg/kube/result_test.go
  pkg/kube/wait.go
  pkg/tiller/environment/environment.go
  pkg/tiller/environment/environment_test.go
  pkg/tiller/release_server_test.go
Labels: v3

#4528 Fix helm create note for k8 label convention changes
  pkg/chartutil/create.go
Labels: bug

#4486 Improve documentation for helm upgrade (#4030)
  cmd/helm/upgrade.go
  docs/helm/helm_upgrade.md
  docs/man/man1/helm_upgrade.1
Labels: docs, in progress

#4327 feat(helm): hiding password input on terminal
  cmd/helm/repo_add.go
  glide.yaml
Labels: awaiting review, cncf-cla: yes, feature, size/S

#4559 ref(chart): use map for chart.Values
  cmd/helm/init.go
  cmd/helm/inspect.go
  cmd/helm/package.go
  cmd/helm/package_test.go
  cmd/helm/template.go
  cmd/helm/testdata/testcharts/alpine/values.yaml
  pkg/chart/chart.go
  pkg/chart/loader/load.go
  pkg/chart/loader/load_test.go
  pkg/chartutil/create.go
  pkg/chartutil/create_test.go
  pkg/chartutil/requirements.go
  pkg/chartutil/requirements_test.go
  pkg/chartutil/save.go
  pkg/chartutil/save_test.go
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
  pkg/engine/engine_test.go
  pkg/helm/client.go
  pkg/lint/lint_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_update_test.go
Labels: v3

#4566 ref(*): rename requirements.lock to Chart.lock
  cmd/helm/dependency_build.go
  cmd/helm/dependency_build_test.go
  cmd/helm/testdata/testcharts/reqtest/Chart.lock
  pkg/chart/chart.go
  pkg/chart/loader/load.go
  pkg/chart/loader/load_test.go
  pkg/chart/loader/testdata/frobnitz-1.2.3.tgz
  pkg/chart/loader/testdata/frobnitz/Chart.lock
  pkg/chart/loader/testdata/frobnitz/charts/mariner-4.3.2.tgz
  pkg/chart/loader/testdata/frobnitz_backslash-1.2.3.tgz
  pkg/chart/loader/testdata/frobnitz_backslash/Chart.lock
  pkg/chart/loader/testdata/mariner/charts/albatross-0.1.0.tgz
  pkg/chart/requirements.go
  pkg/chartutil/requirements_test.go
  pkg/chartutil/testdata/dependent-chart-alias/Chart.lock
  pkg/chartutil/testdata/frobnitz/Chart.lock
  pkg/chartutil/testdata/frobnitz_backslash/Chart.lock
  pkg/downloader/manager.go
  pkg/resolver/resolver.go
  pkg/resolver/resolver_test.go
Labels: v3

#4172 Add containerized options for tests in Makefile
  Makefile
  docs/developers.md
Labels: cncf-cla: yes, feature, in progress, size/M
