Repository helm/helm, pull requests merged in 2018-05, with the labels that each got.

#4018 Typo fix: usa Helm->use Helm
  docs/securing_installation.md
Labels: cncf-cla: yes, size/XS

#4027 ref(cmd): consistent naming of cmd variables
  cmd/helm/create.go
  cmd/helm/delete.go
  cmd/helm/dependency.go
  cmd/helm/dependency_build.go
  cmd/helm/dependency_update.go
  cmd/helm/dependency_update_test.go
  cmd/helm/docs.go
  cmd/helm/fetch.go
  cmd/helm/get.go
  cmd/helm/get_hooks.go
  cmd/helm/get_manifest.go
  cmd/helm/get_values.go
  cmd/helm/helm.go
  cmd/helm/history.go
  cmd/helm/init.go
  cmd/helm/init_test.go
  cmd/helm/inspect.go
  cmd/helm/inspect_test.go
  cmd/helm/install.go
  cmd/helm/lint.go
  cmd/helm/list.go
  cmd/helm/package.go
  cmd/helm/plugin_install.go
  cmd/helm/plugin_list.go
  cmd/helm/plugin_remove.go
  cmd/helm/plugin_update.go
  cmd/helm/release_testing.go
  cmd/helm/repo_add.go
  cmd/helm/repo_index.go
  cmd/helm/repo_list.go
  cmd/helm/repo_remove.go
  cmd/helm/repo_update.go
  cmd/helm/repo_update_test.go
  cmd/helm/rollback.go
  cmd/helm/search.go
  cmd/helm/status.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  cmd/helm/verify.go
  cmd/helm/version.go
Labels: cncf-cla: yes, size/XXL, v3

#4029 ref(*): s/tiller/helm/
  pkg/chartutil/requirements_test.go
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
  pkg/hapi/chart/metadata.go
  pkg/helm/option.go
  pkg/repo/repo.go
  pkg/storage/driver/cfgmaps.go
  pkg/storage/driver/driver.go
  pkg/storage/driver/records.go
  pkg/storage/driver/secrets.go
  pkg/storage/storage.go
  pkg/tiller/release_server.go
Labels: cncf-cla: yes, size/M, v3

#3982 feat(tiller): support CRD installation
  _proto/hapi/release/hook.proto
  _proto/hapi/services/tiller.proto
  cmd/helm/install.go
  docs/charts_hooks.md
  docs/helm/helm_install.md
  pkg/helm/client.go
  pkg/helm/option.go
  pkg/hooks/hooks.go
  pkg/proto/hapi/release/hook.pb.go
  pkg/proto/hapi/services/tiller.pb.go
  pkg/tiller/hooks.go
  pkg/tiller/release_install.go
  pkg/tiller/release_install_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
Labels: cncf-cla: yes, size/XL

#4034 Upgrade moniker version
  glide.yaml
Labels: cncf-cla: yes, size/XS

#4042 fix(kube): run schema validation on BuildUnstructured
  pkg/kube/client.go
Labels: cncf-cla: yes, size/XS

#4048 ref(tests): simplify cmd test setup/teardown
  Makefile
  cmd/helm/create.go
  cmd/helm/create_test.go
  cmd/helm/delete_test.go
  cmd/helm/dependency_build.go
  cmd/helm/dependency_build_test.go
  cmd/helm/dependency_test.go
  cmd/helm/dependency_update_test.go
  cmd/helm/fetch_test.go
  cmd/helm/get_hooks_test.go
  cmd/helm/get_manifest_test.go
  cmd/helm/get_test.go
  cmd/helm/get_values_test.go
  cmd/helm/helm.go
  cmd/helm/helm_test.go
  cmd/helm/history_test.go
  cmd/helm/init_test.go
  cmd/helm/install_test.go
  cmd/helm/list_test.go
  cmd/helm/package_test.go
  cmd/helm/plugin_test.go
  cmd/helm/release_testing_test.go
  cmd/helm/repo_add_test.go
  cmd/helm/repo_index_test.go
  cmd/helm/repo_remove_test.go
  cmd/helm/repo_update_test.go
  cmd/helm/rollback_test.go
  cmd/helm/root.go
  cmd/helm/root_test.go
  cmd/helm/search_test.go
  cmd/helm/status_test.go
  cmd/helm/testdata/output/upgrade-with-install-timeout.txt
  cmd/helm/testdata/output/upgrade-with-install.txt
  cmd/helm/testdata/output/upgrade-with-reset-values.txt
  cmd/helm/testdata/output/upgrade-with-reset-values2.txt
  cmd/helm/testdata/output/upgrade-with-timeout.txt
  cmd/helm/testdata/output/upgrade-with-wait.txt
  cmd/helm/testdata/output/upgrade.txt
  cmd/helm/upgrade_test.go
  cmd/helm/version_test.go
  internal/test/test.go
  pkg/helm/environment/environment_test.go
Labels: cncf-cla: yes, size/XXL, v3

#4061 Typo fix: mach->match
  pkg/chartutil/requirements.go
Labels: cncf-cla: yes, size/XS

#4062 Don't request Tiller version in installer
  scripts/get
Labels: cncf-cla: yes, size/XS

#4069 Typo fix: KuberVerison->KuberVersion
  pkg/chartutil/capabilities.go
Labels: cncf-cla: yes, size/XS

#4070 ref(cmd): refactor argument validation
  cmd/helm/create.go
  cmd/helm/delete.go
  cmd/helm/dependency.go
  cmd/helm/dependency_build.go
  cmd/helm/dependency_update.go
  cmd/helm/docs.go
  cmd/helm/fetch.go
  cmd/helm/get.go
  cmd/helm/get_hooks.go
  cmd/helm/get_manifest.go
  cmd/helm/get_values.go
  cmd/helm/helm.go
  cmd/helm/history.go
  cmd/helm/home.go
  cmd/helm/init.go
  cmd/helm/inspect.go
  cmd/helm/install.go
  cmd/helm/lint.go
  cmd/helm/list.go
  cmd/helm/package.go
  cmd/helm/plugin_install.go
  cmd/helm/release_testing.go
  cmd/helm/repo.go
  cmd/helm/repo_add.go
  cmd/helm/repo_index.go
  cmd/helm/repo_list.go
  cmd/helm/repo_remove.go
  cmd/helm/repo_update.go
  cmd/helm/require/args.go
  cmd/helm/require/args_test.go
  cmd/helm/rollback.go
  cmd/helm/root.go
  cmd/helm/status.go
  cmd/helm/template.go
  cmd/helm/testdata/output/delete-no-args.txt
  cmd/helm/testdata/output/get-hooks-no-args.txt
  cmd/helm/testdata/output/get-manifest-no-args.txt
  cmd/helm/testdata/output/get-no-args.txt
  cmd/helm/testdata/output/get-values-args.txt
  cmd/helm/testdata/output/install-no-args.txt
  cmd/helm/testdata/output/rollback-no-args.txt
  cmd/helm/testdata/output/upgrade-with-missing-dependencies.txt
  cmd/helm/upgrade.go
  cmd/helm/verify.go
  cmd/helm/verify_test.go
  cmd/helm/version.go
Labels: cncf-cla: yes, size/L, v3

#4071 ref(cmd): test template cmd using golden files
  cmd/helm/template.go
  cmd/helm/template_test.go
  cmd/helm/testdata/output/template-absolute.txt
  cmd/helm/testdata/output/template-kube-version.txt
  cmd/helm/testdata/output/template-name-template.txt
  cmd/helm/testdata/output/template-name.txt
  cmd/helm/testdata/output/template-no-args.txt
  cmd/helm/testdata/output/template-notes.txt
  cmd/helm/testdata/output/template-set.txt
  cmd/helm/testdata/output/template-values-files.txt
  cmd/helm/testdata/output/template.txt
  internal/test/test.go
Labels: cncf-cla: yes, size/XL, v3

#4079 ref(cmd): dry up values and chartpath flag options
  cmd/helm/fetch.go
  cmd/helm/inspect.go
  cmd/helm/install.go
  cmd/helm/lint.go
  cmd/helm/list.go
  cmd/helm/options.go
  cmd/helm/package.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
Labels: cncf-cla: yes, size/XL, v3

#4091 feat(*): remove Time, Namespace, and Revision from template functions
  cmd/helm/template.go
  cmd/helm/testdata/output/template-absolute.txt
  cmd/helm/testdata/output/template-kube-version.txt
  cmd/helm/testdata/output/template-name-template.txt
  cmd/helm/testdata/output/template-name.txt
  cmd/helm/testdata/output/template-notes.txt
  cmd/helm/testdata/output/template-set.txt
  cmd/helm/testdata/output/template-values-files.txt
  cmd/helm/testdata/output/template.txt
  cmd/helm/testdata/testcharts/alpine/templates/alpine-pod.yaml
  cmd/helm/testdata/testcharts/novals/templates/alpine-pod.yaml
  cmd/helm/testdata/testcharts/signtest/alpine/templates/alpine-pod.yaml
  docs/chart_template_guide/builtin_objects.md
  docs/chart_template_guide/named_templates.md
  docs/charts.md
  pkg/chartutil/create.go
  pkg/chartutil/testdata/dependent-chart-alias/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/dependent-chart-helmignore/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/dependent-chart-no-requirements-yaml/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/dependent-chart-with-all-in-requirements-yaml/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/dependent-chart-with-mixed-requirements-yaml/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/frobnitz/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/frobnitz_backslash/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/subpop/charts/subchart1/templates/service.yaml
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
  pkg/downloader/testdata/signtest/alpine/templates/alpine-pod.yaml
  pkg/lint/rules/template.go
  pkg/tiller/release_install.go
  pkg/tiller/release_update.go
Labels: cncf-cla: yes, size/L, v3

#4116 [4013] adding docs for GKE for helm 2
  docs/kubernetes_distros.md
Labels: cncf-cla: yes, size/XS

#4121 Update tiller_ssl.md
  docs/tiller_ssl.md
Labels: cncf-cla: yes, size/S

#4119 docs(helm): Added double quotes to example
  docs/using_helm.md
Labels: cncf-cla: yes, size/XS

#4105 Add helm template --is-upgrade
  cmd/helm/template.go
  cmd/helm/template_test.go
  docs/helm/helm_template.md
  pkg/chartutil/testdata/subpop/charts/subchart1/templates/service.yaml
Labels: cncf-cla: yes, size/M

#4104 removed --install option from --namespace to solve inconsistency with the `helm lint` documentation
  cmd/helm/lint.go
  docs/helm/helm_lint.md
Labels: cncf-cla: yes, size/XS

#4124 update security vulnerability email
  CONTRIBUTING.md
Labels: cncf-cla: yes, size/XS

#3984 Fix filenames in tarball created on windows
  pkg/chartutil/save.go
Labels: cncf-cla: yes, size/XS

#1929 build helm binary in tiller image
  .gitignore
  Makefile
  rootfs/Dockerfile
Labels: cncf-cla: yes, feature, size/XS

#4151 small typo fix
  docs/securing_installation.md
Labels: cncf-cla: yes, size/XS
