Repository helm/helm, pull requests merged in 2018-06, with the labels that each got.

#4153 Fix test failure message
  pkg/releasetesting/test_suite_test.go
Labels: cncf-cla: yes, size/XS

#4159 Typo fix: retruns->returns
  pkg/helm/portforwarder/pod.go
Labels: cncf-cla: yes, size/XS

#4160 Added documentation for the tpl function
  docs/charts_tips_and_tricks.md
Labels: cncf-cla: yes, size/M

#4175 Add link to cdwv/awesome-helm
  docs/related.md
Labels: cncf-cla: yes, size/XS

#4179 Typo fix: indentifies -> identifies
  cmd/helm/installer/options.go
Labels: cncf-cla: yes, size/XS

#4139 Documentation formatting [Tiny]
  docs/examples/README.md
  docs/using_helm.md
Labels: cncf-cla: yes, size/S

#4196 typo fix for lengh to length
  pkg/storage/storage.go
Labels: cncf-cla: yes, size/XS

#4190 Add s390 architecture in TARGETS
  Makefile
Labels: cncf-cla: yes, size/XS

#4192 Remove trailing whitespace from Charts documentation
  docs/charts.md
Labels: cncf-cla: yes, size/XS

#4188 test(helm): add test for 'ParseIntoString' and update test for 'ParseInto'
  pkg/strvals/parser_test.go
Labels: cncf-cla: yes, size/M

#4176 Increase error message specificity for name reuse
  pkg/tiller/release_server.go
Labels: cncf-cla: yes, size/XS

#4165 Setting DisableCompression to true to disable unwanted httpclient transformation
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
  pkg/getter/testdata/sssd-0.1.0.tgz
Labels: cncf-cla: yes, size/M

#4142 Make --set-string flag parse booleans and null as strings
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
Labels: cncf-cla: yes, size/S

#4135 Fix concurrency issues with helm install
  pkg/kube/namespace.go
  pkg/tiller/environment/environment.go
Labels: cncf-cla: yes, size/S

#4130 Fix inaccurate comment in `tiller`
  cmd/tiller/tiller.go
Labels: cncf-cla: yes, size/XS

#4096 fix charts doc: there shouldn't be a space in between the conditions
  docs/charts.md
Labels: cncf-cla: yes, size/XS

#3923 feat(list): Optional output as JSON and YAML
  cmd/helm/list.go
  cmd/helm/list_test.go
  docs/helm/helm_list.md
  pkg/helm/fake.go
Labels: cncf-cla: yes, size/L, v3

#4049 Suppress 'unauthenticated users' warning when --tiller-tls-verify present
  cmd/helm/init.go
Labels: cncf-cla: yes, size/XS

#4208 typo fix for template test
  cmd/helm/template_test.go
Labels: cncf-cla: yes, size/XS

#4072 Fix(helm): fix the bug of the charts not deployed after downloaded in helm install --dep-up
  cmd/helm/install.go
Labels: cncf-cla: yes, size/XS

#4123 add SECURITY_CONTACTS
  SECURITY_CONTACTS
Labels: cncf-cla: yes, size/S

#4041 chore(docs): mv index.md to README.md
  docs/README.md
Labels: cncf-cla: yes, size/XS

#4224 ref(cmd): rename `helm delete` to `helm uninstall`
  cmd/helm/list.go
  cmd/helm/list_test.go
  cmd/helm/root.go
  cmd/helm/testdata/output/delete-no-args.txt
  cmd/helm/testdata/output/delete-no-hooks.txt
  cmd/helm/testdata/output/delete-purge.txt
  cmd/helm/testdata/output/delete-timeout.txt
  cmd/helm/testdata/output/delete.txt
  cmd/helm/testdata/output/uninstall-no-args.txt
  cmd/helm/testdata/output/uninstall-no-hooks.txt
  cmd/helm/testdata/output/uninstall-purge.txt
  cmd/helm/testdata/output/uninstall-timeout.txt
  cmd/helm/testdata/output/uninstall.txt
  cmd/helm/uninstall.go
  cmd/helm/uninstall_test.go
  docs/chart_best_practices/custom_resource_definitions.md
  docs/chart_template_guide/getting_started.md
  docs/charts_hooks.md
  docs/charts_tips_and_tricks.md
  docs/install_faq.md
  docs/quickstart.md
  docs/using_helm.md
  pkg/hapi/release/status.go
  pkg/helm/client.go
  pkg/helm/fake.go
  pkg/helm/fake_test.go
  pkg/helm/helm_test.go
  pkg/helm/interface.go
  pkg/helm/option.go
  pkg/releaseutil/filter_test.go
  pkg/releaseutil/sorter_test.go
  pkg/storage/driver/cfgmaps_test.go
  pkg/storage/driver/memory_test.go
  pkg/storage/driver/secrets_test.go
  pkg/storage/storage.go
  pkg/storage/storage_test.go
  pkg/tiller/release_install_test.go
  pkg/tiller/release_list_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
  pkg/tiller/release_status.go
  pkg/tiller/release_status_test.go
  pkg/tiller/release_uninstall.go
  pkg/tiller/release_uninstall_test.go
  pkg/tiller/release_update.go
  pkg/tiller/release_update_test.go
  scripts/completions.bash
Labels: cncf-cla: yes, size/L, v3

#4035 docs(release_checklist): Adds information about new release meetings
  docs/release_checklist.md
Labels: cncf-cla: yes, size/S

#4093 Migrate 'template' to 'include' in 'helm create'
  pkg/chartutil/create.go
Labels: cncf-cla: yes, size/M

#3739 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cncf-cla: yes, lifecycle/stale, size/XS

#3574 The defined role does not allow Tiller to launch Kubernetes jobs
  docs/rbac.md
Labels: cncf-cla: yes, lifecycle/stale, size/XS

#4241 chore(sprig): bump sprig to 2.15.0
  glide.lock
  glide.yaml
Labels: cncf-cla: yes, size/S
