Repository helm/helm, pull requests merged in 2018-07, with the labels that each got.

#4307 Support Stdin when using downloaders of plugin
  pkg/getter/plugingetter.go
Labels: cncf-cla: yes, size/XS

#4231 Add 'name' label to created namespaces
  pkg/kube/namespace.go
Labels: cncf-cla: yes, size/XS

#4313 Some small typos:
  _proto/hapi/services/tiller.proto
Labels: cncf-cla: yes, size/XS

#4278 Add check for nil in template control structure tutorial
  docs/chart_template_guide/control_structures.md
Labels: cncf-cla: yes, size/XS

#4320 docs(helm): add helm-cos to related helm plugins
  docs/related.md
Labels: cncf-cla: yes, size/XS

#3825 Feature: allow custom description after helm release upgrade
  _proto/hapi/services/tiller.proto
  cmd/helm/delete.go
  cmd/helm/delete_test.go
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/rollback.go
  cmd/helm/rollback_test.go
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
  docs/helm/helm_delete.md
  docs/helm/helm_install.md
  docs/helm/helm_rollback.md
  docs/helm/helm_upgrade.md
  pkg/helm/fake.go
  pkg/helm/fake_test.go
  pkg/helm/option.go
  pkg/proto/hapi/services/tiller.pb.go
  pkg/tiller/release_install.go
  pkg/tiller/release_install_test.go
  pkg/tiller/release_rollback.go
  pkg/tiller/release_rollback_test.go
  pkg/tiller/release_uninstall.go
  pkg/tiller/release_uninstall_test.go
  pkg/tiller/release_update.go
  pkg/tiller/release_update_test.go
Labels: cncf-cla: yes, feature, size/L

#4324 chore(docs): lowercase `Kind` for clarity
  docs/charts_hooks.md
Labels: cncf-cla: yes, size/XS

#4325 fix(helm): return when listing with no releases or nil
  cmd/helm/list.go
Labels: awaiting review, kind/bug, size/XS

#4341 fix(helm): add `--tls-hostname` flag to tls flags.
  cmd/helm/helm.go
  docs/tiller_ssl.md
  pkg/tlsutil/cfg.go
Labels: awaiting review, cncf-cla: yes, kind/bug, size/M

#4334 docs(*): update tiller_ssl.md to reflect IP SAN usage.
  docs/tiller_ssl.md
Labels: cncf-cla: yes, docs, size/S

#4342 Revert "fix(helm): add `--tls-hostname` flag to tls flags."
  cmd/helm/helm.go
  docs/tiller_ssl.md
  pkg/tlsutil/cfg.go
Labels: awaiting review, cncf-cla: yes, kind/bug, size/M

#4346 some minor improvements to the built-in fake
  pkg/helm/fake.go
Labels: cncf-cla: yes, size/S

#3811 template command - output conformity and yaml linting
  cmd/helm/template.go
Labels: awaiting review, cncf-cla: yes, feature, lifecycle/stale, size/XS

#4235 feat(helm): Add the --kubeconfig flag
  cmd/helm/helm.go
  cmd/helm/init.go
  cmd/helm/install.go
  cmd/helm/reset.go
  cmd/helm/version.go
  docs/helm/helm.md
  docs/helm/helm_completion.md
  docs/helm/helm_create.md
  docs/helm/helm_delete.md
  docs/helm/helm_dependency.md
  docs/helm/helm_dependency_build.md
  docs/helm/helm_dependency_list.md
  docs/helm/helm_dependency_update.md
  docs/helm/helm_fetch.md
  docs/helm/helm_get.md
  docs/helm/helm_get_hooks.md
  docs/helm/helm_get_manifest.md
  docs/helm/helm_get_values.md
  docs/helm/helm_history.md
  docs/helm/helm_home.md
  docs/helm/helm_init.md
  docs/helm/helm_inspect.md
  docs/helm/helm_inspect_chart.md
  docs/helm/helm_inspect_readme.md
  docs/helm/helm_inspect_values.md
  docs/helm/helm_install.md
  docs/helm/helm_lint.md
  docs/helm/helm_list.md
  docs/helm/helm_package.md
  docs/helm/helm_plugin.md
  docs/helm/helm_plugin_install.md
  docs/helm/helm_plugin_list.md
  docs/helm/helm_plugin_remove.md
  docs/helm/helm_plugin_update.md
  docs/helm/helm_repo.md
  docs/helm/helm_repo_add.md
  docs/helm/helm_repo_index.md
  docs/helm/helm_repo_list.md
  docs/helm/helm_repo_remove.md
  docs/helm/helm_repo_update.md
  docs/helm/helm_reset.md
  docs/helm/helm_rollback.md
  docs/helm/helm_search.md
  docs/helm/helm_serve.md
  docs/helm/helm_status.md
  docs/helm/helm_template.md
  docs/helm/helm_test.md
  docs/helm/helm_upgrade.md
  docs/helm/helm_verify.md
  docs/helm/helm_version.md
  pkg/helm/environment/environment.go
  pkg/helm/environment/environment_test.go
  pkg/kube/config.go
Labels: cncf-cla: yes, size/L

#3758 feat: Set values from local files
  cmd/helm/install.go
  cmd/helm/lint.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  docs/chart_best_practices/values.md
  docs/helm/helm_install.md
  docs/helm/helm_lint.md
  docs/helm/helm_template.md
  docs/helm/helm_upgrade.md
  docs/using_helm.md
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
Labels: cncf-cla: yes, size/L

#4399 fix path output for Windows
  cmd/helm/dependency.go
Labels: size/XS

#3975 add amendments to release checklist
  README.md
  docs/release_checklist.md
Labels: cncf-cla: yes, docs, size/S

#4305 fix `helm template -x` pathing issues on Windows
  cmd/helm/template.go
Labels: cncf-cla: yes, size/XS

#4344 Include exact details to configure storage=secret
  docs/securing_installation.md
Labels: cncf-cla: yes, size/XS

#4284 Change permission of index.yaml generated by a command `helm repo index`
  cmd/helm/repo_index.go
Labels: cncf-cla: yes, size/XS

#4312 docs(chore): add svg logo
  docs/logos/helm-blue-vector.svg
  docs/logos/helm-white-vector.svg
  docs/logos/helm.svg
Labels: cncf-cla: yes, size/L

#4332 CONTRIBUTING.md: Corrected slack channel/s in support channels
  CONTRIBUTING.md
Labels: cncf-cla: yes, size/L

#4161 Fix incorrect timestamp when helm package
  pkg/chartutil/save.go
  pkg/chartutil/save_test.go
Labels: cncf-cla: yes, size/M, v3

#3556 fix(helm): add service, secret manifests in `init -o`
  cmd/helm/init.go
  cmd/helm/init_test.go
  cmd/helm/installer/install.go
  cmd/helm/installer/install_test.go
Labels: cncf-cla: yes, feature, size/L

#4407 use dot notation for release candidates
  docs/release_checklist.md
Labels: docs, size/XS
