Repository helm/helm, pull requests merged in 2018-12, with the labels that each got.

#5013 ref(*): replace byte array with map for Release config
  cmd/helm/get_values.go
  cmd/helm/lint.go
  cmd/helm/lint_test.go
  cmd/helm/options.go
  cmd/helm/printer.go
  cmd/helm/template.go
  cmd/helm/testdata/output/get-release.txt
  cmd/helm/testdata/output/get-values.txt
  pkg/chartutil/dependencies.go
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
  pkg/engine/engine_test.go
  pkg/hapi/release/release.go
  pkg/hapi/tiller.go
  pkg/helm/client.go
  pkg/helm/fake.go
  pkg/helm/helm_test.go
  pkg/helm/option.go
  pkg/lint/lint.go
  pkg/lint/lint_test.go
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
  pkg/releaseutil/sorter_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
  pkg/tiller/release_update_test.go
Labels: size/L, v3

#4981 Added extra padding to resources template
  pkg/chartutil/create.go
Labels: size/XS

#5011 Charts docs clean-up
  docs/charts.md
Labels: docs, size/M

#4930 fix(helm): Print details for pod resource
  pkg/kube/client.go
Labels: bug, size/XS

#4928 fix(helm): Fix line breaks when printing custom resources
  pkg/kube/client.go
Labels: bug, needs-pick, size/S

#5018 docs(helm): Mention commit signing in the Developer Guide
  docs/developers.md
Labels: size/XS

#5019 ref(kube): Gets rid of superfluous Sprintf call
  pkg/kube/client.go
Labels: needs-pick, refactor, size/XS

#5021 fix(helm): get rid of lint warning in pkg/storage
  pkg/storage/storage.go
Labels: size/XS

#5010 Improve check for template count in create unit test
  cmd/helm/create_test.go
Labels: size/XS

#4748 Return empty string instead of nil when linting on required
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: needs-pick, size/M

#4144 Add --parallel flag to helm test
  _proto/hapi/services/tiller.proto
  cmd/helm/release_testing.go
  docs/helm/helm_test.md
  glide.lock
  glide.yaml
  pkg/helm/option.go
  pkg/proto/hapi/services/tiller.pb.go
  pkg/releasetesting/environment.go
  pkg/releasetesting/environment_test.go
  pkg/releasetesting/test_suite.go
  pkg/releasetesting/test_suite_test.go
  pkg/tiller/release_testing.go
Labels: cncf-cla: yes, feature, in progress, size/L

#5015 Remove k8s.io/kubernetes deps for simple pod and svc util methods
  pkg/kube/wait.go
Labels: refactor, size/S

#5033 ref(*): kubernetes v1.13 support
  glide.lock
  glide.yaml
Labels: size/L

#5034 ref(*): kubernetes v1.13 support
  Gopkg.lock
  Gopkg.toml
  cmd/helm/testdata/output/status.yaml
Labels: size/XL, v3

#5051 docs: add Shipper to the list of additional tools
  docs/related.md
Labels: size/XS

#5055 create: include the namespace in NOTES.txt for LoadBalancer status
  pkg/chartutil/create.go
Labels: size/XS

#5032 Fix some spelling error
  _proto/README.md
  pkg/chartutil/doc.go
Labels: size/XS

#5022 Renaming Issue Templates correctly and adding a pull request template
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/S

#5063 chore(deps): bump kubernetes to v1.13.1
  glide.lock
  glide.yaml
Labels: size/S

#5074 Fix(helm): Use spaces in ingress template
  pkg/chartutil/create.go
Labels: size/XS

#5067 Revert "Fix for existing CRDs are deleted when crd-install hook is in…
  pkg/tiller/hooks.go
  pkg/tiller/hooks_test.go
Labels: needs-pick, size/M

#5095 Ejether/rename autohelm in docs
  docs/related.md
Labels: size/XS

#5097 [docs/related] update orca link to official repo
  docs/related.md
Labels: size/XS
