Repository helm/helm, pull requests merged in 2019-03, with the labels that each got.

#5383 ref(pkg/helm): refactor out `ReleaseStatus`
  cmd/helm/status.go
  cmd/helm/upgrade.go
  pkg/helm/client.go
  pkg/helm/fake.go
  pkg/helm/fake_test.go
  pkg/helm/helm_test.go
  pkg/helm/interface.go
Labels: size/L, v3

#5328 Add --max-history tip and to the quickstart helm init docs
  docs/quickstart.md
  docs/rbac.md
Labels: size/XS

#5401 docs: bring CONTRIBUTING doc up-to-date with current practices
  CONTRIBUTING.md
Labels: docs, size/L, v3

#5402 docs: consolidate FAQs into one doc
  docs/chart_repository_faq.md
  docs/faq.md
  docs/install_faq.md
Labels: docs, size/L, v3

#5404 docs: s,kubernetes/helm,helm/helm,g
  README.md
  cmd/helm/testdata/testcharts/empty/Chart.yaml
  docs/chart_repository_sync_example.md
  docs/developers.md
  docs/glossary.md
  docs/install.md
  docs/release_checklist.md
  pkg/action/install.go
Labels: docs, size/M, v3

#5403 fix(deps): add github sources to gopkg.in dependencies
  Gopkg.lock
  Gopkg.toml
Labels: size/M, v3

#5406 Fix #5046 compatible with MacOS
  cmd/helm/completion.go
Labels: size/XS

#5379 Update dependency build doc to improve understanding
  cmd/helm/dependency_build.go
  docs/helm/helm_dependency_build.md
  docs/man/man1/helm_dependency_build.1
Labels: size/S

#5413 remove appveyor
  .appveyor.yml
Labels: size/S, v3

#5411 restore klog flags
  cmd/tiller/tiller.go
Labels: size/XS

#5382 chore(circle): bump go to 1.12
  .circleci/config.yml
Labels: needs-rebase, size/XS, v3

#5416 disable AppVeyor for branches other than master
  .appveyor.yml
Labels: size/XS

#5092 feat(resource-policy): delete manifests when policy value is delete
  docs/charts_tips_and_tricks.md
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/resource_policy.go
  pkg/kube/resource_policy_test.go
  pkg/tiller/release_server_test.go
  pkg/tiller/release_uninstall_test.go
  pkg/tiller/resource_policy.go
Labels: size/L

#5412 ref(pkg/engine): make template specific functions private
  cmd/helm/template.go
  pkg/action/install.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/engine/files.go
  pkg/engine/files_test.go
  pkg/engine/funcs.go
  pkg/engine/funcs_test.go
  pkg/lint/rules/template.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
Labels: size/XL, v3

#5419 fix(cmd/helm): cherry-pick completion fix for zsh completion
  cmd/helm/completion.go
Labels: size/XS, v3

#5421 feat(tests): replace gometalinter with golangci-lint
  .golangci.yml
  Makefile
  pkg/helm/option.go
  pkg/plugin/plugin.go
  pkg/registry/reference.go
  pkg/releaseutil/kind_sorter.go
  scripts/validate-go.sh
Labels: size/L, v3

#5431 chore(deps): upgrade dependencies
  Gopkg.lock
  Gopkg.toml
Labels: size/M, v3

#5425 Fix debug printouts for zsh completion
  cmd/helm/completion.go
Labels: size/XS

#5426 update docker version and golang image version in helm
  .circleci/config.yml
  Makefile
Labels: size/XS

#5433 Documentation: Fix "helm init" parameters
  docs/quickstart.md
  docs/rbac.md
Labels: size/XS

#5438 remove appveyor
  .appveyor.yml
Labels: size/S

#5189 Refactor helm init command for local helm home directory initialization reuse
  cmd/helm/helm_test.go
  cmd/helm/init.go
  cmd/helm/init_test.go
  cmd/helm/installer/init.go
  cmd/helm/installer/init_test.go
  cmd/helm/installer/init_unix.go
  cmd/helm/installer/init_windows.go
  cmd/helm/repo_update.go
Labels: size/L

#5423 pkg/chartutil: fix SaveDir for nested templates directories
  pkg/chartutil/save.go
  pkg/chartutil/save_test.go
Labels: size/S

#5447 docs(faq): list changes since Helm 2
  docs/faq.md
Labels: docs, size/XS, v3

#5455 fix(install): fix issue where chart metadata is not being saved on `helm install`
  cmd/helm/status.go
  pkg/release/release.go
Labels: bug, size/XS, v3

#5462 fix(pkg/action): action log must be initialized
  cmd/helm/helm.go
Labels: size/XS, v3

#5468 fix(tiller): fixed a typo in tiller and unit test
  pkg/tiller/release_server.go
  pkg/tiller/release_update_test.go
Labels: size/XS

#5470 fix(*): resolve new govet issues
  pkg/kube/client.go
  pkg/lint/rules/template.go
  pkg/releaseutil/manifest_sorter_test.go
Labels: awaiting review, size/S, v3

#5471 ref(circleci): refactor ci setup
  .circleci/bootstrap.sh
  .circleci/config.yml
  Makefile
Labels: size/M, v3

#5469 chore(dep): update sprig to 2.19.0 (#5390)
  Gopkg.lock
  Gopkg.toml
Labels: size/S, v3

#5236 Refactor: migrate SortManifests and its test case to releaseutil
  pkg/action/install.go
Labels: needs-rebase, size/XS, v3

#5472 fix(cmd/template): allow setting release name for template
  cmd/helm/template.go
  cmd/helm/testdata/output/template-no-args.txt
  pkg/releaseutil/manifest_sorter.go
Labels: size/S, v3

#5478 fix(scripts): use a more precise method of grepping
  scripts/get
Labels: awaiting review, bug, size/XS

#5459 Update outdated docs image for google storage permissions
  docs/images/make-bucket-public.png
Labels: docs, size/XS

#5464 update kubernetes deps to latest patch releases
  glide.lock
  glide.yaml
Labels: size/M

#5485 style: fix golint error in init.go for redundant err!=nil check
  cmd/helm/installer/init.go
Labels: size/XS

#5491 fix(script): follow redirected URL of github latest release
  scripts/get
Labels: size/S

#5489 ref(list): move namespaces field closer to the name
  cmd/helm/list_test.go
  cmd/helm/testdata/output/list-all.txt
  cmd/helm/testdata/output/list-date.txt
  cmd/helm/testdata/output/list-failed.txt
  cmd/helm/testdata/output/list-filter.txt
  cmd/helm/testdata/output/list-max.txt
  cmd/helm/testdata/output/list-offset.txt
  cmd/helm/testdata/output/list-pending.txt
  cmd/helm/testdata/output/list-reverse.txt
  cmd/helm/testdata/output/list-short.txt
  cmd/helm/testdata/output/list-superseded.txt
  cmd/helm/testdata/output/list-uninstalled.txt
  cmd/helm/testdata/output/list-uninstalling.txt
  cmd/helm/testdata/output/list.txt
  pkg/action/list.go
Labels: size/L, v3

#5500 remove kubernetes from contributing section
  CONTRIBUTING.md
Labels: size/XS

#5503 Update golang version
  .circleci/config.yml
  Makefile
Labels: size/XS

#5460 refactor(*): make "not found" error message user-friendly
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: size/M

#5511 chore(glide): bump kubernetes to 1.14
  cmd/helm/installer/uninstall.go
  glide.lock
  glide.yaml
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/result.go
  pkg/kube/result_test.go
  pkg/tiller/environment/environment.go
  pkg/tiller/environment/environment_test.go
  pkg/tiller/release_server_test.go
Labels: size/L

#5506 chore(dep): bump kubernetes to 1.14.0
  Gopkg.lock
  Gopkg.toml
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/config.go
  pkg/kube/converter.go
  pkg/kube/environment.go
  pkg/kube/environment_test.go
  pkg/kube/factory.go
  pkg/kube/result.go
  pkg/kube/result_test.go
Labels: size/L, v3

#5512 ref(pkg/action): refactoring dup code and linter fixes
  pkg/action/action.go
  pkg/action/chart_save.go
  pkg/action/dependency.go
  pkg/action/install.go
  pkg/action/package.go
  pkg/action/resource_policy.go
  pkg/action/rollback.go
  pkg/action/show_test.go
  pkg/action/upgrade.go
  pkg/chart/loader/archive.go
  pkg/chartutil/create.go
  pkg/chartutil/values.go
  pkg/engine/engine.go
  pkg/kube/client.go
  pkg/plugin/cache/cache.go
  pkg/registry/cache.go
Labels: size/L, v3

#5527 fix(pkg/chartutil): only include external objects in capabilities
  pkg/chartutil/capabilities.go
Labels: size/XS, v3

#5528 fix(pkg/chartutil): marshal capabilities VersionSet into slice
  pkg/chartutil/capabilities.go
  pkg/chartutil/capabilities_test.go
Labels: size/M, v3
