Repository helm/helm, pull requests merged in 2019-01, with the labels that each got.

#5122 doc(release_checklist): Adds steps for categorizing changelogs
  docs/release_checklist.md
Labels: size/L

#5133 feat(Makefile): automate go vendoring and building
  Makefile
Labels: size/L, v3

#5136 fix: fix a number of style errors
  internal/test/test.go
  pkg/chart/chart.go
  pkg/chart/loader/archive.go
  pkg/chart/loader/directory.go
  pkg/chart/loader/load.go
  pkg/chartutil/dependencies.go
  pkg/chartutil/values.go
  pkg/hapi/release/status.go
  pkg/hapi/release/test_run.go
  pkg/helm/fake.go
  pkg/kube/client.go
  pkg/kube/wait.go
Labels: size/S, v3

#5139 5138 Recommended using crd-install instead of pre-install
  docs/chart_best_practices/custom_resource_definitions.md
Labels: size/XS

#5142 ref(*): remove helmVersion chart constraint
  Makefile
  cmd/helm/version.go
  docs/chart_best_practices/conventions.md
  docs/chart_template_guide/builtin_objects.md
  docs/charts.md
  internal/version/version.go
  pkg/action/action.go
  pkg/action/install.go
  pkg/chart/metadata.go
  pkg/chartutil/capabilities.go
  pkg/chartutil/values_test.go
  pkg/downloader/chart_downloader.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
  pkg/lint/rules/testdata/albatross/templates/svc.yaml
  pkg/repo/chartrepo.go
  pkg/tiller/release_install.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
  pkg/tiller/release_uninstall.go
  pkg/tiller/release_update.go
  pkg/version/version.go
  pkg/version/version_test.go
Labels: size/L, v3

#5114 Fix some spelling errors
  _proto/hapi/services/tiller.proto
Labels: size/XS

#4991 bump version to v2.12
  pkg/version/version.go
Labels: size/XS

#3773 Add chart name check to lint
  .gitignore
  pkg/lint/rules/chartfile.go
  pkg/lint/rules/chartfile_test.go
  pkg/lint/rules/testdata/badnamechart/Chart.yaml
  pkg/lint/rules/testdata/badnamechart/values.yaml
Labels: awaiting review, cncf-cla: yes, feature, size/M

#5091 Doc: Update docs with the merged Chart.yaml and requirements.yaml fixes #5083
  docs/chart_best_practices/README.md
  docs/chart_best_practices/requirements.md
  docs/charts.md
Labels: size/M, v3

#5165 Fix/validate tar paths
  pkg/chartutil/expand.go
  pkg/chartutil/expand_test.go
  pkg/chartutil/load.go
  pkg/chartutil/load_test.go
Labels: size/L

#4088 #2715 add child NOTES.txt rendering
  README.md
  _proto/hapi/services/tiller.proto
  cmd/helm/install.go
  cmd/helm/upgrade.go
  docs/helm/helm_install.md
  docs/helm/helm_upgrade.md
  pkg/helm/option.go
  pkg/proto/hapi/services/tiller.pb.go
  pkg/tiller/release_install.go
  pkg/tiller/release_install_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
  pkg/tiller/release_update.go
Labels: cncf-cla: yes, size/L

#5176 Feature(Plugins): Enable platform specific commands
  cmd/helm/load_plugins.go
  docs/plugins.md
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
Labels: size/L

#5162 Fixing helm search display format #5148
  cmd/helm/search.go
Labels: size/XS

#5132 fix: use RFC 1123 subdomain validation for name verification
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/template.go
  cmd/helm/template_test.go
Labels: needs-pick, size/S

#5099 Update docs/examples to use multi-arch tagged images
  docs/examples/alpine/values.yaml
  docs/examples/nginx/templates/post-install-job.yaml
  docs/examples/nginx/values.yaml
Labels: size/XS

#5198 fix: ignore pax_global_header "file" in chart validation
  pkg/chartutil/load.go
Labels: size/XS

#5192 Add content on how community members can help review PRs
  CONTRIBUTING.md
Labels: size/M

#5215 Fix some typos in comment
  pkg/helm/client.go
  pkg/helm/fake.go
  pkg/helm/option.go
Labels: size/XS

#5217 Itemize text in docs/securing_installation.md
  docs/securing_installation.md
Labels: size/XS

#5143 Fixes #3338: Implement "atomic" upgrade/install
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
  docs/helm/helm_install.md
  docs/helm/helm_upgrade.md
Labels: feature, in progress, needs-rebase, size/M

#5203 Switch to numeric user id
  rootfs/Dockerfile
  rootfs/Dockerfile.experimental
Labels: size/XS

#5207 Update documentation with option to install helm on Windows via scoop
  docs/install.md
Labels: size/XS

#5154 [docs/related] add helm tiller-info plugin, related to #5111
  docs/related.md
Labels: size/XS

#5125 Updating SAP example of gathering charts in one place
  docs/charts_tips_and_tricks.md
Labels: size/XS

#5072 Fixes #5046, zsh completion
  cmd/helm/completion.go
Labels: size/XS

#5226 Clarify section title
  docs/chart_template_guide/subcharts_and_globals.md
Labels: size/XS

#5161 Set Background delete propagation policy
  cmd/helm/installer/uninstall.go
Labels: size/XS

#5225 fix(tiller): respect resource policy on upgrade
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/resource_policy.go
  pkg/tiller/resource_policy.go
Labels: size/M

#5228 docs: add note on rolling back to the previous release
  cmd/helm/rollback.go
  docs/helm/helm_rollback.md
Labels: size/XS

#5227 add missing "and"
  docs/chart_template_guide/variables.md
Labels: size/XS

#3916 Adds the tip that you can pass custom objects
  docs/charts_tips_and_tricks.md
Labels: cncf-cla: yes, size/XS

#4690 Update using_helm.md
  docs/using_helm.md
Labels: size/XS

#5231 Removed old link for Cabin mobile app
  docs/related.md
Labels: size/XS

#5234 **Special notes for your reviewer**:
  README.md
Labels: size/XS

#5241 Update func name
  cmd/helm/installer/install.go
  cmd/helm/installer/options.go
Labels: size/XS

#5188 fix(deps): resolve dep warning messages
  Gopkg.lock
  Gopkg.toml
Labels: size/S, v3
