Repository helm/helm, pull requests merged in 2019-06, with the labels that each got.

#5185 Fix nested null value overrides
  cmd/helm/get_values_test.go
  pkg/chartutil/testdata/moby/values.yaml
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
Labels: approved, bug, size/M

#5830 dont' reference built-in objects count
  docs/chart_template_guide/values_files.md
Labels: docs, size/XS

#5762 support --output-dir option for helm3 template
  cmd/helm/template.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/upgrade.go
Labels: size/M, v3

#5755 Use .Values.service.port also in the pre-generated ingress
  pkg/chartutil/create.go
Labels: bug, size/XS

#5841 fix(circle): only upload packages and checksums, not cross-builds
  .circleci/deploy.sh
Labels: bug, size/XS, v3

#5715 feat(ci): push release assets to Azure and GCS
  .circleci/deploy.sh
  Makefile
  docs/install.md
  docs/install_faq.md
  docs/release_checklist.md
  scripts/get
Labels: size/M

#5820 chore(glide): bump kubernetes to 1.14.2
  glide.lock
  glide.yaml
Labels: size/M

#5824 fix issue that values are not applied while running upgrade cmd
  cmd/helm/testdata/output/upgrade-with-missing-dependencies.txt
  cmd/helm/testdata/testcharts/upgradetest/templates/configmap.yaml
  cmd/helm/testdata/testcharts/upgradetest/values.yaml
  cmd/helm/upgrade_test.go
  pkg/action/upgrade.go
Labels: size/L, v3

#5822 Update helm_create.md
  cmd/helm/create.go
  docs/helm/helm_create.md
Labels: docs, size/S

#5845 fix(docs): Update release checklist with some improvements
  docs/release_checklist.md
Labels: docs, size/S

#5829 helm v3: dynamic completion of releases
  Gopkg.lock
  Gopkg.toml
  cmd/helm/root.go
Labels: size/M, v3

#5562 Dynamic completion for subcommands that apply to releases
  cmd/helm/helm.go
Labels: size/M

#5849 Use the latest version of Cobra
  glide.lock
  glide.yaml
Labels: size/XS

#5842 Expose the resource types in addition to the api group/version in templates
  docs/chart_template_guide/builtin_objects.md
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
Labels: Needs v3 fix, feature, size/M

#5182 feat(helm): adding --name to update single repo
  cmd/helm/repo_update.go
  cmd/helm/repo_update_test.go
  docs/helm/helm_repo_update.md
Labels: feature, size/L

#5759 Change extension rule to warning severity
  pkg/lint/rules/template.go
Labels: bug, size/XS

#5859 add go version to version cmd output of helm
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/version/version.go
Labels: size/S, v3

#5855 ref(downloader): remove ResolveChartVersionAndGetRepo
  pkg/downloader/chart_downloader.go
  pkg/downloader/chart_downloader_test.go
  pkg/getter/httpgetter.go
  pkg/repo/chartrepo.go
Labels: size/M, v3

#5856 ref(urlutil): remove stripPort
  pkg/urlutil/urlutil.go
Labels: size/S, v3

#5754 Helm 3: Add documentation on registries
  docs/faq.md
  docs/registries.md
Labels: docs, size/L, v3

#5865 Change references in Tiller SSL docs to list
  docs/tiller_ssl.md
Labels: size/XS

#5840 doc: tuple replaced by list
  docs/chart_template_guide/accessing_files.md
  docs/chart_template_guide/builtin_objects.md
  docs/chart_template_guide/control_structures.md
Labels: size/S

#5848 chore(testdata): remove stale test output
  cmd/helm/testdata/output/test-failure.txt
  cmd/helm/testdata/output/test-no-tests.txt
  cmd/helm/testdata/output/test-running.txt
  cmd/helm/testdata/output/test-success.txt
  cmd/helm/testdata/output/test-unknown.txt
Labels: awaiting review, size/M, v3

#5869 ref(version): catch some edge cases
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version.txt
  cmd/helm/version.go
  cmd/helm/version_test.go
  internal/version/version.go
Labels: size/S, v3

#5821 Refactor to use common codepath for table coalescing
  pkg/chartutil/requirements.go
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
Labels: size/L

#5884 doc(developer): Fix the build section in the developer doc
  docs/developers.md
Labels: docs, size/XS, v3

#5885 Snap installation information
  README.md
  docs/install.md
Labels: size/XS

#5888 Remove mention of the execute flag
  cmd/helm/template.go
Labels: docs, size/XS, v3

#5898 Change port forward command order in default note
  pkg/chartutil/create.go
Labels: size/XS

#5678 Fix issues with concurrent `helm repo add` commands
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
  glide.lock
  glide.yaml
Labels: Needs v3 fix, bug, size/L

#5890 [helm create] Add service account to templates
  cmd/helm/create_test.go
  pkg/chartutil/create.go
Labels: feature, size/M

#5901 Revert "Change port forward command order in default note"
  pkg/chartutil/create.go
Labels: size/XS

#5910 Updating sprig dependency version
  glide.lock
  glide.yaml
Labels: size/S

#5532 fix(helm): Delete hooks should wait for resource to be removed from etcd before continuing
  _proto/hapi/release/hook.proto
  docs/charts_hooks.md
  pkg/hooks/hooks.go
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/proto/hapi/release/hook.pb.go
  pkg/tiller/environment/environment.go
  pkg/tiller/environment/environment_test.go
  pkg/tiller/hooks.go
  pkg/tiller/hooks_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
Labels: in progress, size/L

#5908 Restoring the Release.Namespace docs
  docs/chart_template_guide/builtin_objects.md
  docs/charts.md
Labels: size/XS, v3

#5909 Updating to newer version of sprig
  Gopkg.lock
  Gopkg.toml
Labels: size/XS, v3

#5931 ref(rootfs):update to alpine 3.10
  rootfs/Dockerfile
  rootfs/Dockerfile.experimental
  rootfs/Dockerfile.rudder
Labels: size/XS

#5933 Revert "Fixed default value for `helm.sh/chart` label"
  docs/chart_best_practices/labels.md
Labels: size/XS

#5904 Updating to the new Ingress group version
  pkg/chartutil/create.go
Labels: size/XS, v3

#5940 Redo the same fix with #3915 in dev-v3 branch
  pkg/downloader/chart_downloader.go
Labels: size/XS, v3

#5938 fix(lint): Style conformance issues
  cmd/helm/upgrade_test.go
  pkg/action/upgrade.go
Labels: size/S, v3

#5919 [helm create] Add security context to deployment template
  pkg/chartutil/create.go
Labels: size/S

#5902 Add more capabilities to the detault set used by helm template
  Makefile
  docs/helm/helm_template.md
  pkg/chartutil/capabilities.go
  pkg/chartutil/capabilities_test.go
  pkg/chartutil/capabilities_versions_generated.go
  pkg/chartutil/generator/capabilities_default_versions_generate.go
Labels: feature, size/XL

#5942 Adding extra debug logs
  cmd/helm/init.go
Labels: size/XS

#5874 fix(resolver): compare hash of lockfile against resolved dependencies
  pkg/downloader/manager.go
  pkg/resolver/resolver.go
  pkg/resolver/resolver_test.go
Labels: size/M, v3
