Repository helm/helm, pull requests merged in 2019-02, with the labels that each got.

#4934 fix appveyor builds
  .appveyor.yml
  cmd/helm/create_test.go
  cmd/helm/dependency.go
  cmd/helm/dependency_build_test.go
  cmd/helm/dependency_test.go
  cmd/helm/dependency_update_test.go
  cmd/helm/helm_test.go
  cmd/helm/install_test.go
  cmd/helm/package_test.go
  cmd/helm/pull_test.go
  cmd/helm/repo_add_test.go
  cmd/helm/root_test.go
  cmd/helm/template.go
  cmd/helm/template_test.go
  cmd/helm/testdata/output/dependency-list-no-chart-linux.txt
  cmd/helm/testdata/output/dependency-list-no-chart-windows.txt
  cmd/helm/testdata/output/dependency-list-no-requirements-linux.txt
  cmd/helm/testdata/output/dependency-list-no-requirements-windows.txt
  cmd/helm/upgrade_test.go
  cmd/helm/verify_test.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/testdata/joonix/charts/.gitkeep
  pkg/chartutil/testdata/joonix/charts/frobnitz
  pkg/getter/plugingetter_test.go
  pkg/helm/helmpath/helmhome_unix_test.go
  pkg/helm/helmpath/helmhome_windows_test.go
  pkg/repo/index.go
Labels: size/L, v3

#5245 Fix code syntax highlighting in docs
  docs/chart_template_guide/control_structures.md
  docs/chart_template_guide/debugging.md
  docs/chart_template_guide/functions_and_pipelines.md
  docs/chart_template_guide/values_files.md
  docs/chart_template_guide/yaml_techniques.md
Labels: size/S

#5246 Fix some spelling errors in comment
  pkg/repo/repotest/server.go
  pkg/storage/driver/secrets.go
  pkg/tiller/release_list.go
Labels: size/XS

#5250 Update func name
  pkg/tiller/environment/environment.go
  pkg/tiller/release_server.go
  pkg/urlutil/urlutil.go
Labels: size/XS

#5175 making ingress path configurations more customizable
  pkg/chartutil/create.go
Labels: size/S

#5151 Fix: type conversion for zero values
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
Labels: size/S

#4919 Fix incorrect flow example and improve operator documentation
  docs/chart_template_guide/control_structures.md
  docs/chart_template_guide/functions_and_pipelines.md
Labels: size/S

#3781 added warning and set default image for unreleased versions of helm for #3770
  cmd/helm/init.go
  cmd/helm/installer/install_test.go
  cmd/helm/installer/options.go
Labels: cncf-cla: yes, size/S

#5186 Fix: kind sorter incorrectly compares unknown and namespace
  pkg/tiller/kind_sorter.go
  pkg/tiller/kind_sorter_test.go
Labels: size/M

#5248 chore(ci): bump golang to 1.11.5
  .circleci/config.yml
  .circleci/deploy.sh
Labels: size/S, v3

#5183 add test for repo update command strict flag
  cmd/helm/repo_update.go
  cmd/helm/repo_update_test.go
Labels: size/M

#5249 fixed minor typo in doc
  docs/chart_tests.md
Labels: size/XS

#5141 add --devel flag to inspect command
  cmd/helm/inspect.go
  cmd/helm/inspect_test.go
  cmd/helm/testdata/testcharts/prerelease-0.2.0-pre-release.tgz
  cmd/helm/testdata/testcharts/prerelease/Chart.yaml
  cmd/helm/testdata/testcharts/prerelease/README.md
  cmd/helm/testdata/testcharts/prerelease/templates/alpine-pod.yaml
  docs/helm/helm_inspect.md
  docs/helm/helm_inspect_chart.md
  docs/helm/helm_inspect_readme.md
  docs/helm/helm_inspect_values.md
Labels: size/L

#5251 optimize vendor caching on appveyor
  .appveyor.yml
Labels: size/XS, v3

#5123 Document the HELM_TLS_HOSTNAME variable in 'helm --help'
  cmd/helm/helm.go
  docs/helm/helm.md
Labels: size/XS

#5152 add descriptive error if dependency has blank "repository" field
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: size/S

#5065 Improve language describing deletion of hooks
  docs/charts_hooks.md
Labels: size/S

#5275 Fix issue #5273 for get script on armv7l
  scripts/get
Labels: size/XS

#5260 ref(*): remove references to chart 'engine'
  cmd/helm/testdata/helmhome/repository/cache/testing-index.yaml
  docs/charts.md
  docs/using_helm.md
  pkg/chart/metadata.go
  pkg/downloader/testdata/helmhome/repository/cache/kubernetes-charts-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/malformed-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-basicauth-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-https-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-querystring-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-relative-index.yaml
  pkg/downloader/testdata/helmhome/repository/cache/testing-relative-trailing-slash-index.yaml
  pkg/getter/testdata/repository/cache/stable-index.yaml
  pkg/repo/testdata/unversioned-index.yaml
  pkg/resolver/testdata/helmhome/repository/cache/kubernetes-charts-index.yaml
Labels: size/XXL, v3

#5243 Helm 3: initial registry support
  Gopkg.lock
  Gopkg.toml
  cmd/helm/chart.go
  cmd/helm/chart_export.go
  cmd/helm/chart_list.go
  cmd/helm/chart_pull.go
  cmd/helm/chart_push.go
  cmd/helm/chart_remove.go
  cmd/helm/chart_save.go
  cmd/helm/root.go
  pkg/action/action.go
  pkg/action/chart_export.go
  pkg/action/chart_list.go
  pkg/action/chart_pull.go
  pkg/action/chart_push.go
  pkg/action/chart_remove.go
  pkg/action/chart_save.go
  pkg/helm/helmpath/helmhome.go
  pkg/helm/helmpath/helmhome_unix_test.go
  pkg/helm/helmpath/helmhome_windows_test.go
  pkg/registry/cache.go
  pkg/registry/client.go
  pkg/registry/client_test.go
  pkg/registry/constants.go
  pkg/registry/constants_test.go
  pkg/registry/reference.go
  pkg/registry/reference_test.go
  pkg/registry/resolver.go
Labels: size/XXL, v3

#4068 purge plugin directory on `helm plugin remove plug`
  cmd/helm/plugin_remove.go
Labels: cncf-cla: yes, v3

#5109 helm v3: feat(helm): add --plugins flag to 'helm init'
  cmd/helm/init.go
  cmd/helm/init_test.go
  cmd/helm/testdata/plugins.yaml
  cmd/helm/testdata/testplugin/plugin.yaml
  docs/plugins.md
Labels: size/L, v3

#5280 ref(ci): persist dep cache
  .appveyor.yml
Labels: v3

#5282 Add docs on how to host repo with ChartMuseum
  docs/chart_repository.md
Labels: size/M

#5279 Helm 3: fix "latest" tag bug
  pkg/registry/cache.go
  pkg/registry/client.go
  pkg/registry/reference.go
  pkg/registry/reference_test.go
Labels: size/L, v3

#5287 Correct golint warning
  pkg/tiller/kind_sorter.go
Labels: size/XS

#5140 Fix #3127: Sort resources output by 'helm status'
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: size/L

#5291 Fix function comment to consistent with its name
  pkg/chartutil/capabilities.go
  pkg/chartutil/requirements.go
  pkg/downloader/chart_downloader.go
Labels: size/S

#5294 Fix function comment to consistent with its name
  pkg/downloader/manager.go
  pkg/engine/engine.go
  pkg/helm/client.go
Labels: size/S

#5210 fix: Update gRPC to get better TLS connection handling (v2 minor release)
  glide.lock
  glide.yaml
  pkg/proto/hapi/services/tiller.pb.go
Labels: size/L

#4850 Fix/get wrong version
  pkg/repo/index.go
  pkg/repo/index_test.go
Labels: size/S

#5299 Fix linter warnings
  cmd/helm/history_test.go
  internal/version/version.go
  pkg/action/action_test.go
  pkg/hapi/release/hook.go
  pkg/hapi/release/info.go
  pkg/hapi/release/release.go
  pkg/hapi/release/status.go
  pkg/hapi/tiller.go
  pkg/helm/fake.go
  pkg/helm/option.go
  pkg/registry/reference.go
  pkg/releaseutil/filter.go
  pkg/releaseutil/sorter_test.go
  pkg/storage/driver/mock_test.go
  pkg/storage/storage_test.go
  pkg/tiller/release_history_test.go
  pkg/tiller/release_server_test.go
Labels: size/M, v3

#5300 ref: Update Sprig to 2.18.0
  glide.lock
  glide.yaml
Labels: size/S

#5302 Update deprecated links in docs
  docs/chart_template_guide/control_structures.md
  docs/chart_template_guide/getting_started.md
  docs/chart_template_guide/wrapping_up.md
Labels: size/XS

#5284 feat(Makefile): add formatting target
  Makefile
  cmd/helm/helm_test.go
  cmd/helm/plugin.go
  cmd/helm/plugin_install.go
  cmd/helm/plugin_list.go
  cmd/helm/plugin_test.go
  pkg/action/action_test.go
  pkg/action/list_test.go
  pkg/helm/environment/environment_test.go
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/wait.go
  pkg/lint/lint_test.go
  pkg/plugin/installer/vcs_installer_test.go
  pkg/plugin/plugin.go
  pkg/registry/client_test.go
  pkg/releasetesting/environment.go
  pkg/releasetesting/test_suite.go
  pkg/releasetesting/test_suite_test.go
  pkg/releaseutil/manifest_sorter.go
  pkg/storage/driver/cfgmaps.go
  pkg/storage/driver/cfgmaps_test.go
  pkg/storage/driver/mock_test.go
  pkg/storage/driver/secrets.go
  pkg/storage/driver/secrets_test.go
  pkg/tiller/environment/environment.go
  pkg/tiller/environment/environment_test.go
Labels: size/M, v3

#5310 fix: helm display confused error message if version is empty
  pkg/downloader/chart_downloader.go
Labels: needs-pick, size/XS

#5313 Change http to https for security links
  CONTRIBUTING.md
  docs/chart_best_practices/conventions.md
  docs/chart_template_guide/yaml_techniques.md
  docs/charts.md
  docs/developers.md
  docs/glossary.md
  docs/history.md
  docs/provenance.md
  docs/related.md
  docs/release_checklist.md
  docs/using_helm.md
Labels: size/M

#5295 Feature (Helm): Add library chart
  cmd/helm/create.go
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/package.go
  cmd/helm/package_test.go
  cmd/helm/template.go
  cmd/helm/template_test.go
  cmd/helm/testdata/output/install-chart-bad-type.txt
  cmd/helm/testdata/output/template-lib-chart.txt
  cmd/helm/testdata/testcharts/chart-bad-type/Chart.yaml
  cmd/helm/testdata/testcharts/chart-bad-type/README.md
  cmd/helm/testdata/testcharts/chart-bad-type/extra_values.yaml
  cmd/helm/testdata/testcharts/chart-bad-type/more_values.yaml
  cmd/helm/testdata/testcharts/chart-bad-type/templates/alpine-pod.yaml
  cmd/helm/testdata/testcharts/chart-bad-type/values.yaml
  cmd/helm/testdata/testcharts/chart-with-lib-dep/.helmignore
  cmd/helm/testdata/testcharts/chart-with-lib-dep/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-lib-dep/charts/common-0.0.5.tgz
  cmd/helm/testdata/testcharts/chart-with-lib-dep/templates/NOTES.txt
  cmd/helm/testdata/testcharts/chart-with-lib-dep/templates/_helpers.tpl
  cmd/helm/testdata/testcharts/chart-with-lib-dep/templates/deployment.yaml
  cmd/helm/testdata/testcharts/chart-with-lib-dep/templates/ingress.yaml
  cmd/helm/testdata/testcharts/chart-with-lib-dep/templates/service.yaml
  cmd/helm/testdata/testcharts/chart-with-lib-dep/values.yaml
  cmd/helm/testdata/testcharts/lib-chart/.helmignore
  cmd/helm/testdata/testcharts/lib-chart/Chart.yaml
  cmd/helm/testdata/testcharts/lib-chart/README.md
  cmd/helm/testdata/testcharts/lib-chart/templates/_chartref.tpl
  cmd/helm/testdata/testcharts/lib-chart/templates/_configmap.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_container.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_deployment.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_envvar.tpl
  cmd/helm/testdata/testcharts/lib-chart/templates/_fullname.tpl
  cmd/helm/testdata/testcharts/lib-chart/templates/_ingress.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_metadata.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_metadata_annotations.tpl
  cmd/helm/testdata/testcharts/lib-chart/templates/_metadata_labels.tpl
  cmd/helm/testdata/testcharts/lib-chart/templates/_name.tpl
  cmd/helm/testdata/testcharts/lib-chart/templates/_persistentvolumeclaim.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_secret.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_service.yaml
  cmd/helm/testdata/testcharts/lib-chart/templates/_util.tpl
  cmd/helm/testdata/testcharts/lib-chart/templates/_volume.tpl
  cmd/helm/testdata/testcharts/lib-chart/values.yaml
  docs/charts.md
  pkg/chart/metadata.go
  pkg/chartutil/chartfile.go
Labels: awaiting review, size/XXL, v3

#5325 Symmetrical asterisks
  cmd/helm/repo_update.go
Labels: size/XS

#5319 Display the checksums in CI
  Makefile
Labels: size/XS

#5320 Adding PGP signing to the release process
  docs/release_checklist.md
Labels: needs-pick, size/M

#5318 Noting the version as the match element
  pkg/downloader/chart_downloader.go
Labels: size/XS

#5322 Fix wording in error message
  pkg/tiller/release_server.go
Labels: size/XS

#5333 Trivial fix typo
  _proto/README.md
  docs/tiller_ssl.md
Labels: size/XS

#5330 Correct misspelling of Helm
  _proto/README.md
Labels: size/XS

#5334 Adding '/usr/bin/env bash'
  scripts/completions.bash
Labels: size/XS

#5332 The 'Linuxes' is obscure
  docs/developers.md
Labels: size/XS

#5329 add `make sign` and `make fetch-dist`
  Makefile
  docs/release_checklist.md
Labels: docs, needs-pick, size/M

#5357 Fix many misspelling words
  cmd/helm/verify.go
  docs/helm/helm_verify.md
  docs/man/man1/helm_verify.1
Labels: size/XS

#5359 Update incorrect link
  docs/using_helm.md
Labels: size/XS

#5360 Fix typos in various places
  _proto/hapi/release/status.proto
  pkg/repo/chartrepo_test.go
  pkg/tiller/release_server.go
  pkg/tlsutil/cfg.go
Labels: size/S

#5364 Ignore Unix swap files `*.swp` in .gitignore
  .gitignore
Labels: size/XS

#5366 Insert *~ when using emacs in .gitignore
  .gitignore
Labels: size/XS

#5352 Fix some typos
  CONTRIBUTING.md
  docs/chart_template_guide/functions_and_pipelines.md
  docs/chart_template_guide/helm_ignore_file.md
  docs/charts.md
  docs/charts_hooks.md
  docs/charts_tips_and_tricks.md
Labels: size/S
