Repository helm/helm, pull requests merged in 2019-08, with the labels that each got.

#6135 Uploading KEYS file to azure along with dist files
  .circleci/deploy.sh
Labels: size/XS

#6139 fix word 'potgres' to 'postgres'
  pkg/storage/driver/sql.go
Labels: size/XS

#6143 feat(KEYS): add bacongobbler's keys
  KEYS
Labels: size/M

#6133 fix(rollback): fix revision argument not being handled
  cmd/helm/rollback.go
  cmd/helm/rollback_test.go
  cmd/helm/testdata/output/rollback-no-args.txt
  cmd/helm/testdata/output/rollback-no-revision.txt
Labels: awaiting review, bug, size/M, v3

#6145 cleanup: log message typo fix
  cmd/helm/reset.go
Labels: size/XS

#6147 Fix typo notes -> note
  docs/charts.md
Labels: size/XS

#6152 fix word 'efault' to 'default'
  pkg/getter/httpgetter.go
Labels: size/XS

#6158 fix word 'resoures' to 'resources
  pkg/tiller/environment/environment.go
Labels: size/XS

#6166 fix wrong spells in hooks.go
  pkg/tiller/hooks.go
Labels: size/XS

#6156 Clarify operator docs wording
  docs/chart_template_guide/functions_and_pipelines.md
Labels: size/XS

#6142 cmd/*,pkg/*: move ValueOptions and decouple from SDK
  cmd/helm/install.go
  cmd/helm/lint.go
  cmd/helm/package.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/lint.go
  pkg/action/package.go
  pkg/action/upgrade.go
  pkg/action/upgrade_test.go
  pkg/cli/values/options.go
  pkg/cli/values/options_test.go
Labels: size/XL, v3

#6117 feat(chart): Update linting and checking for apiVersion v2
  pkg/chart/loader/load.go
  pkg/chart/loader/load_test.go
  pkg/chart/loader/testdata/frobnitz.v2.reqs/.helmignore
  pkg/chart/loader/testdata/frobnitz.v2.reqs/Chart.yaml
  pkg/chart/loader/testdata/frobnitz.v2.reqs/INSTALL.txt
  pkg/chart/loader/testdata/frobnitz.v2.reqs/LICENSE
  pkg/chart/loader/testdata/frobnitz.v2.reqs/README.md
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/_ignore_me
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/alpine/Chart.yaml
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/alpine/README.md
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/alpine/charts/mast1/Chart.yaml
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/alpine/charts/mast1/values.yaml
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/alpine/charts/mast2-0.1.0.tgz
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/alpine/templates/alpine-pod.yaml
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/alpine/values.yaml
  pkg/chart/loader/testdata/frobnitz.v2.reqs/charts/mariner-4.3.2.tgz
  pkg/chart/loader/testdata/frobnitz.v2.reqs/docs/README.md
  pkg/chart/loader/testdata/frobnitz.v2.reqs/icon.svg
  pkg/chart/loader/testdata/frobnitz.v2.reqs/ignore/me.txt
  pkg/chart/loader/testdata/frobnitz.v2.reqs/requirements.yaml
  pkg/chart/loader/testdata/frobnitz.v2.reqs/templates/template.tpl
  pkg/chart/loader/testdata/frobnitz.v2.reqs/values.yaml
  pkg/lint/lint_test.go
  pkg/lint/rules/chartfile.go
  pkg/lint/rules/chartfile_test.go
  pkg/lint/rules/testdata/badchartfile/Chart.yaml
Labels: feature, size/L, v3

#6124 ref(client): use three-way merge patch strategy
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: awaiting review, refactor, size/M, v3

#6168 docs(chart): updates APIVersionV2 comment to reflect the proper name
  pkg/chart/chart.go
Labels: size/XS, v3

#6076 Fix a parsing issue with command line arguments
  cmd/helm/root.go
Labels: size/XS, v3

#5978 feat(helm:create): allow absolute paths when specifying starter template path [master]
  cmd/helm/create.go
  cmd/helm/create_test.go
  docs/helm/helm_create.md
Labels: size/L

#6171 fix mis-spelling in manager.go
  pkg/downloader/manager.go
Labels: size/XS

#6173 chore(cmd): Updates --wait flag help
  cmd/helm/install.go
  cmd/helm/rollback.go
  cmd/helm/upgrade.go
Labels: size/XS, v3

#6175 fix(kube): Fixes nil panic with stateful set waiting
  pkg/kube/wait.go
Labels: bug, size/XS, v3

#6177 fix(chartutil): Ensure nested template dir on save
  pkg/chartutil/save.go
  pkg/chartutil/save_test.go
Labels: size/M, v3

#6183 fix(helmpath): fix syntax errors for windows tests
  pkg/helmpath/home.go
  pkg/helmpath/lazypath.go
  pkg/helmpath/lazypath_darwin_test.go
  pkg/helmpath/lazypath_unix_test.go
  pkg/helmpath/lazypath_windows.go
  pkg/helmpath/lazypath_windows_test.go
Labels: size/M, v3

#6191 fix(action): return nil if no errors occurred
  pkg/action/action.go
Labels: bug, size/XS

#6188 Move KEYS from master to dev-v3
  KEYS
Labels: size/L

#6193 Helm 3 - OCI: Use alt destination for chart export etc.
  cmd/helm/chart_export.go
  cmd/helm/chart_save.go
  pkg/action/chart_export.go
  pkg/gates/gates.go
  pkg/gates/gates_test.go
Labels: size/M, v3

#6197 feat(getter): set default User-Agent
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
Labels: size/S, v3

#6199 ref(cmd/helm): remove helm home command
  cmd/helm/path.go
  cmd/helm/root.go
Labels: size/M, v3

#6196 fix some log typos in tlsutil_test.go
  pkg/tlsutil/tlsutil_test.go
Labels: size/XS

#6176 Remove unneeded public APIs before going beta
  cmd/helm/template.go
  internal/ignore/doc.go
  internal/ignore/rules.go
  internal/ignore/rules_test.go
  internal/ignore/testdata/.helmignore
  internal/ignore/testdata/.joonix
  internal/ignore/testdata/a.txt
  internal/ignore/testdata/cargo/a.txt
  internal/ignore/testdata/cargo/b.txt
  internal/ignore/testdata/cargo/c.txt
  internal/ignore/testdata/helm.txt
  internal/ignore/testdata/mast/a.txt
  internal/ignore/testdata/mast/b.txt
  internal/ignore/testdata/mast/c.txt
  internal/ignore/testdata/rudder.txt
  internal/ignore/testdata/templates/.dotfile
  internal/ignore/testdata/tiller.txt
  internal/resolver/resolver.go
  internal/resolver/resolver_test.go
  internal/resolver/testdata/helm/repository/kubernetes-charts-index.yaml
  internal/sympath/walk.go
  internal/sympath/walk_test.go
  internal/tlsutil/cfg.go
  internal/tlsutil/tls.go
  internal/tlsutil/tlsutil_test.go
  internal/urlutil/urlutil.go
  internal/urlutil/urlutil_test.go
  internal/version/version.go
  pkg/action/install.go
  pkg/chart/loader/directory.go
  pkg/chartutil/compatible.go
  pkg/chartutil/compatible_test.go
  pkg/chartutil/dependencies.go
  pkg/chartutil/dependencies_test.go
  pkg/downloader/chart_downloader.go
  pkg/downloader/manager.go
  pkg/getter/httpgetter.go
  pkg/repo/index.go
  pkg/version/compatible.go
  pkg/version/doc.go
Labels: breaking, refactor, size/L, v3

#5622 fix(pkg/chartutil): Improve getting LoadBalancer address in NOTES.txt
  pkg/chartutil/create.go
Labels: bug, size/XS

#6180 Fail to load charts that are not v1 apiVersion
  pkg/chartutil/load.go
  pkg/chartutil/load_test.go
  pkg/chartutil/testdata/frobnitz.v2/.helmignore
  pkg/chartutil/testdata/frobnitz.v2/Chart.yaml
  pkg/chartutil/testdata/frobnitz.v2/INSTALL.txt
  pkg/chartutil/testdata/frobnitz.v2/LICENSE
  pkg/chartutil/testdata/frobnitz.v2/README.md
  pkg/chartutil/testdata/frobnitz.v2/charts/_ignore_me
  pkg/chartutil/testdata/frobnitz.v2/charts/alpine/Chart.yaml
  pkg/chartutil/testdata/frobnitz.v2/charts/alpine/README.md
  pkg/chartutil/testdata/frobnitz.v2/charts/alpine/charts/mast1/Chart.yaml
  pkg/chartutil/testdata/frobnitz.v2/charts/alpine/charts/mast1/values.yaml
  pkg/chartutil/testdata/frobnitz.v2/charts/alpine/charts/mast2-0.1.0.tgz
  pkg/chartutil/testdata/frobnitz.v2/charts/alpine/templates/alpine-pod.yaml
  pkg/chartutil/testdata/frobnitz.v2/charts/alpine/values.yaml
  pkg/chartutil/testdata/frobnitz.v2/charts/mariner-4.3.2.tgz
  pkg/chartutil/testdata/frobnitz.v2/docs/README.md
  pkg/chartutil/testdata/frobnitz.v2/icon.svg
  pkg/chartutil/testdata/frobnitz.v2/ignore/me.txt
  pkg/chartutil/testdata/frobnitz.v2/requirements.lock
  pkg/chartutil/testdata/frobnitz.v2/requirements.yaml
  pkg/chartutil/testdata/frobnitz.v2/templates/template.tpl
  pkg/chartutil/testdata/frobnitz.v2/values.yaml
Labels: refactor, size/L

#6054 Support defining tests as Job resources
  cmd/helm/install_test.go
  cmd/helm/release_testing_run.go
  cmd/helm/status_test.go
  cmd/helm/testdata/output/status-with-notes.txt
  cmd/helm/testdata/output/status-with-resource.txt
  cmd/helm/testdata/output/status-with-test-suite.txt
  cmd/helm/testdata/output/status.json
  cmd/helm/testdata/output/status.txt
  cmd/helm/testdata/output/status.yaml
  pkg/action/action.go
  pkg/action/action_test.go
  pkg/action/hooks.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/printer.go
  pkg/action/release_testing.go
  pkg/action/rollback.go
  pkg/action/uninstall.go
  pkg/action/upgrade.go
  pkg/hooks/hooks.go
  pkg/kube/client.go
  pkg/kube/interface.go
  pkg/release/hook.go
  pkg/release/info.go
  pkg/release/mock.go
  pkg/release/responses.go
  pkg/release/test_run.go
  pkg/release/test_suite.go
  pkg/releasetesting/environment.go
  pkg/releasetesting/environment_test.go
  pkg/releasetesting/test_suite.go
  pkg/releasetesting/test_suite_test.go
  pkg/releaseutil/manifest_sorter.go
  pkg/releaseutil/manifest_sorter_test.go
  pkg/releaseutil/manifest_test.go
Labels: size/XXL, v3

#6187 Adding a monocular client as a package
  internal/monocular/client.go
  internal/monocular/client_test.go
  internal/monocular/doc.go
  internal/monocular/search.go
  internal/monocular/search_test.go
  internal/version/version.go
  pkg/getter/httpgetter.go
Labels: size/L, v3

#6202 Updated upgrade to give more verbose output
  cmd/helm/upgrade.go
Labels: size/XS, v3

#6208 fix(pkg/kube): only wait for events from Jobs and Pods
  pkg/kube/client.go
Labels: size/S, v3

#6205 ref(internal/experimental/registry): pkg refactor
  Gopkg.lock
  Gopkg.toml
  cmd/helm/root.go
  internal/experimental/registry/cache.go
  internal/experimental/registry/cache_opts.go
  internal/experimental/registry/client.go
  internal/experimental/registry/client_opts.go
  internal/experimental/registry/client_test.go
  internal/experimental/registry/constants.go
  internal/experimental/registry/constants_test.go
  internal/experimental/registry/reference.go
  internal/experimental/registry/reference_test.go
  internal/experimental/registry/util.go
  pkg/action/action_test.go
Labels: size/XXL, v3

#6210 ref(cmd/helm): unify log functions
  cmd/helm/helm.go
  cmd/helm/printer.go
Labels: awaiting review, size/S, v3

#6211 Exposing Helm Hub search via the search command
  cmd/helm/search.go
  cmd/helm/search_hub.go
  cmd/helm/search_hub_test.go
  cmd/helm/search_repo.go
  cmd/helm/search_repo_test.go
Labels: size/L, v3

#6218 docs(OWNERS): add jdolitsky as a core maintainer
  OWNERS
Labels: docs, size/XS

#6217 fix(test): restore --cleanup
  pkg/action/hooks.go
  pkg/action/release_testing.go
Labels: size/S, v3

#6219 fix(chartutil): remove executable bits from chartutil generated files
  pkg/chartutil/save.go
Labels: bug, size/XS, v3

#6080 Fix subchart value deletion
  pkg/chartutil/testdata/moby/charts/spouter/values.yaml
  pkg/chartutil/testdata/moby/values.yaml
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
Labels: Needs v3 fix, size/M

#6228 fix(registry): Updates registry to handle go 1.12.8 changes
  internal/experimental/registry/reference.go
  pkg/action/chart_save_test.go
Labels: size/M, v3

#6225 chore(*): Add GPG key for Taylor
  KEYS
Labels: size/M, v3

#6253 Remove mention of 'helm update'
  cmd/helm/repo_update.go
Labels: size/XS

#6254 ref(*): remove dead code
  cmd/helm/rollback.go
  cmd/helm/search/search.go
  cmd/helm/status_test.go
  cmd/helm/testdata/output/install-and-replace.txt
  cmd/helm/testdata/output/install-name-template.txt
  cmd/helm/testdata/output/install-no-hooks.txt
  cmd/helm/testdata/output/install-with-multiple-values-files.txt
  cmd/helm/testdata/output/install-with-multiple-values.txt
  cmd/helm/testdata/output/install-with-timeout.txt
  cmd/helm/testdata/output/install-with-values-file.txt
  cmd/helm/testdata/output/install-with-values.txt
  cmd/helm/testdata/output/install-with-wait.txt
  cmd/helm/testdata/output/install.txt
  cmd/helm/testdata/output/schema.txt
  cmd/helm/testdata/output/status-with-notes.txt
  cmd/helm/testdata/output/status-with-test-suite.txt
  cmd/helm/testdata/output/status.txt
  cmd/helm/testdata/output/subchart-schema-cli.txt
  cmd/helm/testdata/output/upgrade-with-install-timeout.txt
  cmd/helm/testdata/output/upgrade-with-install.txt
  cmd/helm/testdata/output/upgrade-with-reset-values.txt
  cmd/helm/testdata/output/upgrade-with-reset-values2.txt
  cmd/helm/testdata/output/upgrade-with-timeout.txt
  cmd/helm/testdata/output/upgrade-with-wait.txt
  cmd/helm/testdata/output/upgrade.txt
  internal/ignore/rules.go
  pkg/action/list.go
  pkg/action/printer.go
  pkg/action/rollback.go
  pkg/action/upgrade.go
  pkg/chart/chart.go
  pkg/release/info.go
  pkg/release/responses.go
  pkg/storage/driver/records.go
  pkg/storage/storage.go
Labels: size/L, v3

#6234 remove duplicate check
  pkg/downloader/manager.go
Labels: size/S

#6241 Clone the vals map for every path to avoid mutation
  cmd/helm/testdata/testcharts/multiplecharts-lint-chart-1/Chart.yaml
  cmd/helm/testdata/testcharts/multiplecharts-lint-chart-1/templates/configmap.yaml
  cmd/helm/testdata/testcharts/multiplecharts-lint-chart-1/values.yaml
  cmd/helm/testdata/testcharts/multiplecharts-lint-chart-2/Chart.yaml
  cmd/helm/testdata/testcharts/multiplecharts-lint-chart-2/templates/configmap.yaml
  cmd/helm/testdata/testcharts/multiplecharts-lint-chart-2/values.yaml
  pkg/action/lint.go
  pkg/action/lint_test.go
  pkg/lint/rules/template.go
Labels: bug, size/M, v3

#6243 feat: Add support for a crds/ directory
  cmd/helm/install.go
  pkg/action/install.go
  pkg/chart/chart.go
  pkg/chart/chart_test.go
  pkg/chart/metadata.go
Labels: feature, size/L, v3

#6203 Fix the developer.md typo
  docs/developers.md
Labels: size/XS

#6146 Add test for subchart coalesce null values
  pkg/chartutil/values_test.go
Labels: bug, size/M

#6266 Networkpolicy kind sort
  pkg/tiller/kind_sorter.go
  pkg/tiller/kind_sorter_test.go
Labels: size/S

#6224 chore(OWNERS): sync with master
  OWNERS
Labels: awaiting review, size/XS, v3

#6286 chore(*): Add GPG key for Adam
  KEYS
Labels: size/L

#6292 Fix/6287: Set config path in repo update command
  cmd/helm/repo_update.go
Labels: size/XS

#6298 fix(cmd/helm): Remove mention of init from help
  cmd/helm/root.go
Labels: bug, size/XS, v3

#6300 Can no longer install charts with v3
  pkg/action/install.go
Labels: bug, size/XS, v3

#6308 fix(cmd/helm): user friendly error message when repos are not configured
  cmd/helm/repo.go
  cmd/helm/repo_list.go
  cmd/helm/repo_remove.go
  cmd/helm/repo_update.go
  cmd/helm/search_repo.go
  pkg/downloader/chart_downloader.go
  pkg/downloader/manager.go
  pkg/repo/repo.go
Labels: bug, size/M, v3

#6263 helm-v3: Dynamic completion for "helm repo" and "helm plugin"
  cmd/helm/root.go
Labels: size/S

#6014 Use watcher with retries to wait for resources
  pkg/kube/client.go
Labels: awaiting review, refactor, size/S

#6320 docs: Add best practices compliance badge
  README.md
Labels: size/XS, v3
