Repository helm/helm, pull requests merged in 2019-09, with the labels that each got.

#6327 fix BusyBox sed
  cmd/helm/completion.go
Labels: size/XS

#6340 fix BusyBox sed
  cmd/helm/completion.go
Labels: bug, size/XS, v3

#6256 Poposal: Hook to run acceptance tests
  Makefile
Labels: size/S, v3

#6265 v2: Dynamic completion for "helm repo" and "helm plugin"
  cmd/helm/helm.go
Labels: size/M

#6321 Distinct doc strings for repository-cache and repository-config
  pkg/cli/environment.go
Labels: size/XS

#6351 ref(pkg/engine): cleanup of development `hack`
  pkg/engine/engine.go
Labels: size/XS, v3

#6335 doc(cli): restore help text for helm configuration
  cmd/helm/root.go
Labels: size/S, v3

#6255 (fix/issue-6237) Add check to see if connected to the kubernetes cluster
  pkg/action/get.go
  pkg/action/history.go
  pkg/action/install.go
  pkg/action/list.go
  pkg/action/rollback.go
  pkg/action/status.go
  pkg/action/uninstall.go
  pkg/kube/client.go
  pkg/kube/fake/printer.go
  pkg/kube/interface.go
Labels: size/M, v3

#6332 fix: clear the discovery cache after CRDs are installed
  pkg/action/install.go
  pkg/kube/client.go
  pkg/kube/wait.go
Labels: bug, size/L, v3

#6244 (feature/helm-env) `helm env`
  cmd/helm/env.go
  cmd/helm/root.go
  pkg/cli/environment.go
Labels: feature, size/L, v3

#6353 Environment variable cleanup
  cmd/helm/env.go
  cmd/helm/testdata/helmhome/helm/plugins/fullenv/fullenv.sh
  pkg/cli/environment.go
  pkg/plugin/plugin.go
Labels: refactor, size/M, v3

#6310 Make the lint cmd output a bit easier to follow
  cmd/helm/lint.go
Labels: feature, size/M, v3

#6296 Stop multiple error messages in lint results
  pkg/action/lint.go
Labels: bug, size/XS, v3

#6306 return namespace assigned to --namespace
  cmd/helm/helm.go
Labels: awaiting review, bug, size/XS, v3

#6362 fix(pkg/cli): do not override users xdg directories
  pkg/cli/environment.go
Labels: bug, size/XS, v3

#6367 In get script, use specified path to helm binary for helm version check
  scripts/get
Labels: size/XS

#6373 Cleanup nitpick suggestion in the lint command
  cmd/helm/lint.go
Labels: size/XS, v3

#6385 fix(helm3): Detailed exit code for helm plugins
  cmd/helm/helm.go
  cmd/helm/load_plugins.go
Labels: size/S

#6323 delete extra space
  CONTRIBUTING.md
Labels: size/XS

#6402 Grammar tweak
  docs/chart_repository_sync_example.md
Labels: size/XS

#6387 v3: Fix debug printouts for zsh completion
  cmd/helm/completion.go
Labels: size/XS, v3

#6392 update go to v1.13
  .circleci/config.yml
Labels: size/XS

#6421 Set history-max to 10 by default
  cmd/helm/upgrade.go
Labels: size/XS, v3

#6426 ref(*): Improve and fix scaffold chart and API versions
  cmd/helm/testdata/output/template-chart-with-template-lib-archive-dep.txt
  cmd/helm/testdata/output/template-chart-with-template-lib-dep.txt
  cmd/helm/testdata/testcharts/chart-with-lib-dep/templates/deployment.yaml
  cmd/helm/testdata/testcharts/chart-with-template-lib-archive-dep/templates/deployment.yaml
  cmd/helm/testdata/testcharts/chart-with-template-lib-dep/templates/deployment.yaml
  pkg/chartutil/create.go
Labels: size/M, v3

#6455 Moving from CLA to DCO in contribution guide
  CONTRIBUTING.md
Labels: size/M, v3

#6448 handle ingress apiVersion change for kubernete versions
  pkg/chartutil/create.go
Labels: size/XS

#6258 fix issue when dependency not in cache
  pkg/downloader/chart_downloader.go
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
  pkg/resolver/resolver.go
  pkg/resolver/resolver_test.go
Labels: feature, size/M

#6463 chore(cmd): Deprecates --recreate-pods flag
  cmd/helm/upgrade.go
Labels: size/XS, v3

#6408 feat-v3(cli): Dynamic completion for global flags
  cmd/helm/completion.go
  cmd/helm/root.go
Labels: feature, size/M, v3

#6389 v3: fix(completion): --flag=val breaks zsh completion
  cmd/helm/completion.go
Labels: size/XS

#6457 Updating to newer versions of dependencies
  glide.lock
  glide.yaml
  pkg/lint/lint_test.go
  pkg/lint/rules/chartfile.go
  pkg/lint/rules/chartfile_test.go
  pkg/lint/rules/testdata/badchartfile/Chart.yaml
  pkg/tiller/release_install_test.go
Labels: size/S

#6470 v3: fix(completion): Redirect stderr must be before pipes
  cmd/helm/root.go
Labels: v3

#6430 fix install storing computed values in release instead of user supplied values
  pkg/action/action_test.go
  pkg/action/install_test.go
  pkg/action/lint.go
  pkg/chartutil/coalesce.go
  pkg/chartutil/coalesce_test.go
Labels: bug, size/M, v3

#6479 fix(list): scrub list returned from .List()
  cmd/helm/testdata/output/list-all.txt
  pkg/action/list.go
Labels: size/S, v3

#6425 Fix reachability check which must be disabled for `helm template` (unless `--validate` is specified)
  pkg/action/install.go
Labels: size/XS, v3

#6480 feat(*): Ports `--cleanup-on-fail` to v3
  cmd/helm/rollback.go
  cmd/helm/upgrade.go
  pkg/action/rollback.go
  pkg/action/upgrade.go
  pkg/kube/client.go
  pkg/kube/fake/fake.go
Labels: feature, size/M, v3

#6486 fix(action): invalidate discovery client cache on startup
  pkg/action/action.go
Labels: size/XS, v3

#6496 fix(provenance): Ports error check for `Digest` to v3
  pkg/provenance/sign.go
Labels: bug, size/XS, v3

#5593 Flag --output json and yaml added
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/repo_list.go
  cmd/helm/search.go
  cmd/helm/search_test.go
  cmd/helm/status.go
  cmd/helm/upgrade.go
  docs/helm/helm_install.md
  docs/helm/helm_repo_list.md
  docs/helm/helm_search.md
  docs/helm/helm_status.md
  docs/helm/helm_upgrade.md
Labels: feature, size/L

#6495 ref(CONTRIBUTING): port over changes from Helm 2
  CONTRIBUTING.md
Labels: awaiting review, size/M, v3

#6493 feat(cmd): implement `helm get --template`
  cmd/helm/get.go
  cmd/helm/get_test.go
  cmd/helm/testdata/output/get-release-template.txt
Labels: awaiting review, size/S, v3

#6491 fix(action): typo
  pkg/action/lint.go
Labels: awaiting review, size/XS, v3

#6501 fix-up typo
  cmd/helm/template_test.go
  pkg/provenance/sign.go
  pkg/tiller/release_list.go
Labels: size/XS

#6499 fix typos
  cmd/helm/create.go
  cmd/helm/search/search.go
  pkg/chartutil/doc.go
  pkg/releaseutil/filter_test.go
Labels: size/XS

#6381 Ref/cmd output
  cmd/helm/install.go
  cmd/helm/printer.go
  cmd/helm/repo_list.go
  cmd/helm/search.go
  cmd/helm/search_test.go
  cmd/helm/status.go
  cmd/helm/upgrade.go
  docs/helm/helm_install.md
  docs/helm/helm_repo_list.md
  docs/helm/helm_search.md
  docs/helm/helm_status.md
  docs/helm/helm_upgrade.md
Labels: refactor, size/L

#6492 fix(cmd): lock repository file during `helm repo add`
  Gopkg.lock
  Gopkg.toml
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
Labels: size/M, v3

#6494 feat(*): Ports `--set-file` flag to v3
  cmd/helm/install.go
  cmd/helm/upgrade.go
  pkg/cli/values/options.go
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
Labels: feature, size/L, v3

#6400 ref(pkg/cli): refactor environment variable setup
  cmd/helm/env.go
  cmd/helm/load_plugins.go
  cmd/helm/root.go
  cmd/helm/testdata/helmhome/helm/plugins/fullenv/fullenv.sh
  pkg/cli/environment.go
  pkg/cli/environment_test.go
  pkg/plugin/plugin.go
Labels: awaiting review, size/L, v3

#6500 Change release storage name to use helm storage type as prefix
  pkg/storage/driver/memory.go
  pkg/storage/driver/secrets.go
  pkg/storage/storage.go
Labels: awaiting review, bug, size/M, v3

#5680 v2: fix(completion): --flag=val breaks zsh completion
  cmd/helm/completion.go
Labels: size/XS

#6504 feat(*): Ports all output functionality from v2
  cmd/helm/flags.go
  cmd/helm/history.go
  cmd/helm/install.go
  cmd/helm/list.go
  cmd/helm/repo_list.go
  cmd/helm/search_hub.go
  cmd/helm/search_repo.go
  cmd/helm/search_repo_test.go
  cmd/helm/status.go
  cmd/helm/testdata/output/history.yaml
  cmd/helm/testdata/output/search-output-json.txt
  cmd/helm/testdata/output/search-output-yaml.txt
  cmd/helm/testdata/output/status.json
  cmd/helm/upgrade.go
  pkg/action/install.go
  pkg/action/list.go
  pkg/action/output.go
  pkg/action/upgrade.go
Labels: breaking, feature, size/XL, v3.x

#6510 Improve the quality of the document
  pkg/getter/getter.go
Labels: size/XS

#6514 fixed typo
  pkg/engine/engine.go
Labels: size/XS

#6331 Adding MicroK8s to kubernetes_distros.md
  docs/kubernetes_distros.md
Labels: Needs v3 fix, size/XS

#6502 v3: Support auto-complete of a renamed helm binary
  cmd/helm/completion.go
Labels: bug, size/S, v3.x

#6516 fix(charts): Create charts directory for scaffold chart
  pkg/chartutil/create.go
Labels: bug, size/XS, v3.x

#6512 feat(cmd): Port child NOTES.txt rendering to Helm 3
  cmd/helm/install.go
  cmd/helm/upgrade.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/upgrade.go
Labels: feature, size/M, v3.x

#6444 fix(v3): `helm template` output should include hooks by default
  cmd/helm/template.go
Labels: size/XS, v3.x

#3478 ref(helm): expose Get for repository file
  pkg/repo/repo.go
  pkg/repo/repo_test.go
Labels: cncf-cla: yes, size/M

#4084 fixed output leak from template command unit tests
  cmd/helm/template.go
  cmd/helm/template_test.go
Labels: cncf-cla: yes, size/S

#4783 fix(pkg/chartutil): conditions for alias and umrella charts (#3734)
  docs/charts.md
  pkg/chartutil/requirements.go
  pkg/chartutil/requirements_test.go
  pkg/chartutil/testdata/subpop/charts/subchart1/requirements.yaml
  pkg/chartutil/testdata/subpop/charts/subchart2/requirements.yaml
  pkg/chartutil/testdata/subpop/requirements.yaml
  pkg/chartutil/testdata/subpop/values.yaml
Labels: Needs v3 fix, size/M

#4917 fix(pkg/chartutil): conditions for alias and umrella charts (#3734)
  pkg/chartutil/dependencies.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/testdata/subpop/Chart.yaml
  pkg/chartutil/testdata/subpop/charts/subchart1/Chart.yaml
  pkg/chartutil/testdata/subpop/charts/subchart2/Chart.yaml
  pkg/chartutil/testdata/subpop/values.yaml
Labels: size/M, v3.x

#5345 Replacing 'HTTP' by 'HTTPS' for securing links
  pkg/getter/testdata/repository/cache/stable-index.yaml
Labels: size/L
