Repository helm/helm, pull requests merged in 2019-11, with the labels that each got.

#6861 fix(cmd): Updates description for template validation flag
  cmd/helm/template.go
Labels: docs, size/XS, v3.x

#6866 fix(chart): add JSON tags to chart object
  pkg/chart/chart.go
  pkg/chart/file.go
Labels: breaking, bug, needs-pick, size/S

#6869 Consider namespace when comparing resources
  pkg/action/upgrade.go
  pkg/kube/client.go
  pkg/kube/resource.go
Labels: bug, size/XS, v3.x

#6881 fix(cmd): Standardizes all output to use lower snake_case names
  cmd/helm/list.go
  cmd/helm/repo_list.go
  cmd/helm/search_hub.go
  cmd/helm/search_repo.go
  cmd/helm/testdata/output/search-output-json.txt
  cmd/helm/testdata/output/search-output-yaml.txt
Labels: breaking, needs-pick, refactor, size/M, v3.x

#6882 Correct spelling mistakes
  cmd/helm/create.go
  cmd/helm/root.go
  cmd/helm/search/search.go
Labels: size/XS

#6868 fix(version): implement `helm version -c`, mark as hidden
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/version.go
  cmd/helm/version_test.go
Labels: feature, needs-pick, size/S

#6865 fix(getter): set up TLS options during .Get()
  internal/tlsutil/tlsutil_test.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
  pkg/getter/testdata/output/httpgetter-servername.txt
  testdata/ca.pem
  testdata/crt.pem
  testdata/generate.sh
  testdata/key.pem
  testdata/openssl.conf
  testdata/rootca.crt
  testdata/rootca.key
Labels: bug, needs-pick, size/L

#6841 fix(show): restore comments from raw values
  pkg/action/show.go
  pkg/chart/chart.go
  pkg/chart/chart_test.go
  pkg/chart/loader/load.go
  pkg/chart/loader/load_test.go
Labels: bug, needs-pick, size/M, v3.x

#6897 fix(kube): Fixes missing API versions
  pkg/kube/client.go
Labels: bug, size/XS, v2.x

#6907 fix(kube): Fixes wait for jobs
  pkg/kube/client.go
Labels: bug, size/S, v2.x

#6908 fix: stop discovery errors from halting chart rendering.
  pkg/action/action.go
Labels: size/S

#6913 fix(tlsutil): accept only a CA certificate for validation
  internal/tlsutil/tls.go
  internal/tlsutil/tlsutil_test.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
Labels: bug, needs-pick, size/M, v3.x

#6942 fix(ci): pin golangci-lint to v1.21.0
  .circleci/bootstrap.sh
  .circleci/config.yml
  Makefile
Labels: awaiting review, bug, size/M

#6941 fix(strvals): port #3912, #4142, #4682, and #5151 to Helm 3
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
Labels: bug, needs-pick, size/L, v3.x

#6943 fix(pkg/downloader): Resolve repo alias before checking digests on build
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: bug, needs-pick, size/S, v3.x

#6925 Used timeout instead of deadline
  .golangci.yml
Labels: refactor, size/XS

#6952 fix(wait): Adds support for waiting on v1 apiextensions for CRDs
  pkg/action/install.go
  pkg/kube/wait.go
Labels: awaiting review, bug, needs-pick, size/M

#6953 fix(get): hard code DESIRED_VERSION when unset
  scripts/get
  scripts/get-helm-3
Labels: bug, size/M

#7065 v3: -n= flag is mistakenly being passed to plugins
  cmd/helm/load_plugins.go
  cmd/helm/plugin_test.go
Labels: needs-pick, size/S

#6959 fix: change error message to contain correct field name
  pkg/action/install.go
  pkg/action/install_test.go
Labels: bug, needs-pick, size/XS

#6919 v3: helm list no longer reporting cluster not reachable
  cmd/helm/list.go
Labels: bug, needs-pick, size/XS

#6947 fix(reame): update links to docs
  README.md
Labels: docs, size/XS, v3.x

#6997 Update README - homebrew renamed formula to just helm from kubernetes-helm
  README.md
Labels: size/XS

#6914 ref(tlsutil): remove ServerConfig
  internal/tlsutil/cfg.go
  internal/tlsutil/tlsutil_test.go
Labels: refactor, size/M

#6946 fix(install): log the error when recording the release
  pkg/action/install.go
Labels: feature, size/XS

#7085 fix(pkg): ignore pax header files in chart validation
  pkg/chart/loader/archive.go
Labels: bug, needs-pick, size/XS

#7089 docs(install): clarify the --replace flag
  cmd/helm/install.go
Labels: size/XS

#7098 test(pkg): add unit tests for tar file edge cases
  pkg/chart/loader/archive_test.go
Labels: awaiting review, size/L
