Repository helm/helm, pull requests merged in 2019-04, with the labels that each got.

#5458 Fix the docs targets
  docs/developers.md
  scripts/update-docs.sh
  scripts/verify-docs.sh
Labels: size/XS, v3

#5529 docs: Update the "Developer Guide"
  docs/developers.md
Labels: size/S, v3

#5545 closes #5544 don't do multiple chart reads on upgrade
  cmd/helm/upgrade.go
Labels: size/XS

#5543 Fixed a typo in docs
  docs/chart_template_guide/notes_files.md
Labels: size/XS

#5548 Document update | variable representation change
  docs/chart_template_guide/values_files.md
Labels: size/XS

#5549 Fixed typos in docs/chart_best_practices
  docs/chart_best_practices/values.md
Labels: size/XS

#5507 Don't print ROLLING BACK if atomic is not set
  cmd/helm/upgrade.go
Labels: refactor, size/XS

#5509 Fix description of helm dependency command
  cmd/helm/dependency.go
  docs/helm/helm_dependency.md
Labels: size/XS

#5557 feat: make tiller probeAddr configurable
  cmd/tiller/tiller.go
Labels: size/XS

#4871 Fix `no RESOURCE with the name NAME found`
  _proto/hapi/rudder/rudder.proto
  _proto/hapi/services/tiller.proto
  cmd/helm/rollback.go
  cmd/helm/upgrade.go
  cmd/rudder/rudder.go
  docs/helm/helm_rollback.md
  docs/helm/helm_upgrade.md
  pkg/helm/option.go
  pkg/kube/client.go
  pkg/proto/hapi/release/status.pb.go
  pkg/proto/hapi/rudder/rudder.pb.go
  pkg/proto/hapi/services/tiller.pb.go
  pkg/tiller/environment/environment.go
  pkg/tiller/environment/environment_test.go
  pkg/tiller/release_modules.go
  pkg/tiller/release_server_test.go
Labels: size/XL

#5565 Fix 'THE INCLUDE FUNCTION' in 'Developing Templates' output
  docs/chart_template_guide/named_templates.md
Labels: size/XS

#5570 Update golang version
  .circleci/config.yml
  Makefile
Labels: size/XS

#5573 Refactor: use const code block
  cmd/helm/search/search.go
Labels: size/S

#5576 fix(helm): Fix manifest validation
  pkg/kube/client.go
Labels: size/XS

#5591 fix multi uninstall bug
  cmd/helm/testdata/output/uninstall-multiple.txt
  cmd/helm/uninstall.go
  cmd/helm/uninstall_test.go
Labels: size/S, v3

#5594 cleanup: using const block
  cmd/helm/installer/options.go
Labels: size/S

#5112 fix(helm): Wait for CRDs to reach established state for crd_install hook
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/tiller/environment/environment.go
  pkg/tiller/environment/environment_test.go
  pkg/tiller/release_server.go
  pkg/tiller/release_server_test.go
Labels: size/L

#5599 Using const() defines constants together
  cmd/helm/inspect.go
  pkg/hooks/hooks.go
  pkg/lint/lint_test.go
  pkg/lint/rules/template_test.go
Labels: size/M

#5603 Update install.md
  docs/install.md
Labels: size/XS

#5604 chore(OWNERS): Add hickeyma to OWNERS
  OWNERS
Labels: size/XS

#5607 Using const() defines constants together (part:2)
  pkg/helm/fake_test.go
  pkg/releasetesting/test_suite_test.go
Labels: size/S

#5609 Moving nebril to emeritus status due to inactivity
  OWNERS
Labels: size/XS

#5605 chore: bump up the dependencies of kubernetes and prometheus client
  glide.lock
  glide.yaml
Labels: size/M

#5608 Using constants rather than hard coding
  cmd/helm/installer/install.go
  cmd/tiller/tiller.go
  pkg/helm/portforwarder/portforwarder.go
  pkg/tiller/environment/environment.go
Labels: size/S

#5612 Refactor: using tiller probe port constant (follow up of #5608)
  cmd/helm/installer/install.go
  cmd/tiller/tiller.go
  pkg/tiller/environment/environment.go
Labels: size/S

#5616 Docs: Added Cloudsmith to Additional Tools
  docs/related.md
Labels: size/XS

#5621 Updating to use git.io short url
  docs/install.md
Labels: size/XS

#5620 remove snowflake-emoji 'Happy Helming!'
  cmd/helm/init.go
  cmd/helm/repo_update.go
  cmd/helm/rollback.go
  cmd/helm/rollback_test.go
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
  docs/charts.md
  docs/rbac.md
  docs/using_helm.md
  pkg/downloader/manager.go
Labels: size/M

#5572 fix(pkg/engine): Clean up template error messages
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: size/M, v3

#5553 ref(create): app version should be 0.1.0
  cmd/helm/create.go
  cmd/helm/create_test.go
  cmd/helm/dependency_update_test.go
  cmd/helm/testdata/output/upgrade-with-install-timeout.txt
  cmd/helm/testdata/output/upgrade-with-install.txt
  cmd/helm/testdata/output/upgrade-with-reset-values.txt
  cmd/helm/testdata/output/upgrade-with-reset-values2.txt
  cmd/helm/testdata/output/upgrade-with-timeout.txt
  cmd/helm/testdata/output/upgrade-with-wait.txt
  cmd/helm/testdata/output/upgrade.txt
  cmd/helm/upgrade_test.go
  pkg/chartutil/create.go
  pkg/chartutil/create_test.go
  pkg/chartutil/save.go
Labels: size/L, v3

#5630 ref(rootfs): remove useless action.
  rootfs/Dockerfile
  rootfs/Dockerfile.experimental
  rootfs/Dockerfile.rudder
Labels: size/S

#5373 Add app.kubernetes.io/version label
  cmd/helm/testdata/testcharts/alpine/Chart.yaml
  cmd/helm/testdata/testcharts/alpine/templates/alpine-pod.yaml
  cmd/helm/testdata/testcharts/novals/Chart.yaml
  cmd/helm/testdata/testcharts/novals/templates/alpine-pod.yaml
  docs/chart_template_guide/variables.md
  docs/charts_hooks.md
  docs/examples/alpine/templates/alpine-pod.yaml
  pkg/chartutil/create.go
Labels: Needs v3 fix, size/M

#5644 Fix environment list in helm doc
  cmd/helm/helm.go
  docs/helm/helm.md
Labels: bug, size/M

#5624 Update hapi.version Description in Protobuf README
  _proto/README.md
Labels: size/XS

#5346 Adding github workflow for contributing to helm
  CONTRIBUTING.md
Labels: size/M

#5631 add helm test run
  cmd/helm/release_testing.go
  cmd/helm/release_testing_run.go
  cmd/helm/release_testing_test.go
  pkg/kube/client.go
  pkg/kube/environment.go
  pkg/kube/environment_test.go
  pkg/releasetesting/environment.go
  pkg/releasetesting/test_suite.go
  pkg/releasetesting/test_suite_test.go
Labels: size/L, v3

#5350 Feat/schema validation
  Gopkg.lock
  Gopkg.toml
  cmd/helm/install_test.go
  cmd/helm/testdata/output/schema-negative-cli.txt
  cmd/helm/testdata/output/schema-negative.txt
  cmd/helm/testdata/output/schema.txt
  cmd/helm/testdata/output/subchart-schema-cli-negative.txt
  cmd/helm/testdata/output/subchart-schema-cli.txt
  cmd/helm/testdata/output/subchart-schema-negative.txt
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/charts/subchart-with-schema/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/charts/subchart-with-schema/templates/empty.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/charts/subchart-with-schema/values.schema.json
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/charts/subchart-with-schema/values.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/templates/empty.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/values.schema.json
  cmd/helm/testdata/testcharts/chart-with-schema-and-subchart/values.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-negative/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-negative/templates/empty.yaml
  cmd/helm/testdata/testcharts/chart-with-schema-negative/values.schema.json
  cmd/helm/testdata/testcharts/chart-with-schema-negative/values.yaml
  cmd/helm/testdata/testcharts/chart-with-schema/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-schema/extra-values.yaml
  cmd/helm/testdata/testcharts/chart-with-schema/templates/empty.yaml
  cmd/helm/testdata/testcharts/chart-with-schema/values.schema.json
  cmd/helm/testdata/testcharts/chart-with-schema/values.yaml
  docs/charts.md
  pkg/action/lint_test.go
  pkg/chart/chart.go
  pkg/chart/loader/load.go
  pkg/chart/loader/load_test.go
  pkg/chartutil/testdata/test-values-negative.yaml
  pkg/chartutil/testdata/test-values.schema.json
  pkg/chartutil/testdata/test-values.yaml
  pkg/chartutil/values.go
  pkg/chartutil/values_test.go
  pkg/lint/rules/values.go
Labels: size/XL, v3

#5649 docs: Replace reference to k8s.io to helm.sh
  docs/developers.md
Labels: size/XS

#5271 Add imagePullSecret to the `default` helm create template
  pkg/chartutil/create.go
Labels: size/XS

#5538 feat(*): Add app version to history table
  cmd/helm/history.go
  cmd/helm/testdata/output/history-limit.txt
  cmd/helm/testdata/output/history.json
  cmd/helm/testdata/output/history.txt
  cmd/helm/testdata/output/history.yaml
  pkg/action/history.go
  pkg/chart/chart.go
  pkg/release/mock.go
Labels: feature, size/M, v3

#5283 ref(uninstall): purge release history by default
  cmd/helm/testdata/output/uninstall-keep-history.txt
  cmd/helm/uninstall.go
  cmd/helm/uninstall_test.go
  docs/faq.md
  pkg/action/uninstall.go
  scripts/completions.bash
Labels: size/M, v3

#5661 fix(chartutil): Scaffold chart label in helper template
  pkg/chartutil/create.go
Labels: bug, size/XS
