Repository helm/helm, pull requests merged in 2020-04, with the labels that each got.

#7814 Add unit test for pkg/chart/chart.go
  pkg/chart/chart_test.go
Labels: size/S

#7848 fix: fixes for Go 1.14
  pkg/repo/chartrepo_test.go
  scripts/validate-go.sh
Labels: size/XS

#7816 Improve --show-only flag
  cmd/helm/template.go
  cmd/helm/template_test.go
  cmd/helm/testdata/output/template-name-template.txt
  cmd/helm/testdata/output/template-set.txt
  cmd/helm/testdata/output/template-show-only-glob.txt
  cmd/helm/testdata/output/template-values-files.txt
  cmd/helm/testdata/output/template-with-api-version.txt
  cmd/helm/testdata/output/template-with-crds.txt
  cmd/helm/testdata/output/template.txt
  pkg/chartutil/testdata/subpop/charts/subchart1/templates/subdir/role.yaml
  pkg/chartutil/testdata/subpop/charts/subchart1/templates/subdir/rolebinding.yaml
  pkg/chartutil/testdata/subpop/charts/subchart1/templates/subdir/serviceaccount.yaml
Labels: size/L

#7820 fix(helm): Data race in kube/client Delete func
  pkg/kube/client.go
Labels: size/XS

#7878 [create] feat: allow image tag override
  pkg/chartutil/create.go
Labels: size/XS

#7879 [create] feat: add pod annotations
  pkg/chartutil/create.go
Labels: size/XS

#7892 Adding notes on semver to create Chart.yaml
  pkg/chartutil/create.go
Labels: docs, size/XS, v3.x

#7852 fix: fixed bug in Dependency.List()
  cmd/helm/testdata/output/dependency-list-archive.txt
  pkg/action/dependency.go
  pkg/action/dependency_test.go
  pkg/action/testdata/charts/chart-missing-deps/.helmignore
  pkg/action/testdata/charts/chart-missing-deps/Chart.yaml
  pkg/action/testdata/charts/chart-missing-deps/README.md
  pkg/action/testdata/charts/chart-missing-deps/requirements.lock
  pkg/action/testdata/charts/chart-missing-deps/requirements.yaml
  pkg/action/testdata/charts/chart-missing-deps/templates/NOTES.txt
  pkg/action/testdata/charts/chart-missing-deps/templates/_helpers.tpl
  pkg/action/testdata/charts/chart-missing-deps/values.yaml
  pkg/action/testdata/charts/chart-with-compressed-dependencies-2.1.8.tgz
  pkg/action/testdata/charts/chart-with-compressed-dependencies/.helmignore
  pkg/action/testdata/charts/chart-with-compressed-dependencies/Chart.yaml
  pkg/action/testdata/charts/chart-with-compressed-dependencies/README.md
  pkg/action/testdata/charts/chart-with-compressed-dependencies/charts/mariadb-4.3.1.tgz
  pkg/action/testdata/charts/chart-with-compressed-dependencies/requirements.lock
  pkg/action/testdata/charts/chart-with-compressed-dependencies/requirements.yaml
  pkg/action/testdata/charts/chart-with-compressed-dependencies/templates/NOTES.txt
  pkg/action/testdata/charts/chart-with-compressed-dependencies/values.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies-2.1.8.tgz
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/.helmignore
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/Chart.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/README.md
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/.helmignore
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/Chart.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/README.md
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/files/docker-entrypoint-initdb.d/README.md
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/NOTES.txt
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/_helpers.tpl
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/initialization-configmap.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/master-configmap.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/master-statefulset.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/master-svc.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/secrets.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/slave-configmap.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/slave-statefulset.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/slave-svc.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/test-runner.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/templates/tests.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/charts/mariadb/values.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/requirements.lock
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/requirements.yaml
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/templates/NOTES.txt
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/values.yaml
  pkg/action/testdata/output/compressed-deps-tgz.txt
  pkg/action/testdata/output/compressed-deps.txt
  pkg/action/testdata/output/missing-deps.txt
  pkg/action/testdata/output/uncompressed-deps-tgz.txt
  pkg/action/testdata/output/uncompressed-deps.txt
Labels: size/XXL

#7791 Implement support for multiple args for repo remove
  cmd/helm/repo_list.go
  cmd/helm/repo_remove.go
  cmd/helm/repo_remove_test.go
  cmd/helm/search_repo.go
Labels: size/L

#7831 ref(*): kubernetes v1.18
  cmd/helm/root.go
  go.mod
  go.sum
  internal/third_party/k8s.io/kubernetes/deployment/util/deploymentutil.go
  pkg/action/action.go
  pkg/action/lazyclient.go
  pkg/action/release_testing.go
  pkg/action/upgrade.go
  pkg/engine/lookup_func.go
  pkg/kube/client.go
  pkg/kube/wait.go
  pkg/storage/driver/cfgmaps.go
  pkg/storage/driver/mock_test.go
  pkg/storage/driver/secrets.go
Labels: size/L

#7909 chore(comp): Remove unnecessary code
  cmd/helm/helm.go
Labels: size/S

#7898 fixed capitalization in a few help messages.
  cmd/helm/completion.go
  cmd/helm/create.go
  cmd/helm/env.go
  cmd/helm/release_testing.go
Labels: size/XS

#7806 fix(storage): preserve last deployed revision
  pkg/storage/storage.go
  pkg/storage/storage_test.go
Labels: size/M

#7904 Update Cobra to 1.0.0 release
  go.mod
  go.sum
Labels: size/M

#7840 Fix nil pointer error
  pkg/kube/client.go
Labels: bug, size/XS, v2.x

#7912 updated help text for install --atomic, which was completely inaccurate
  cmd/helm/install.go
Labels: bug, size/XS

#7853 Add chart unit test
  pkg/chart/chart_test.go
Labels: size/M

#7854 add unit test for metadata Validate
  pkg/chart/metadata_test.go
Labels: size/M

#7900 Adding template docs to the version command
  cmd/helm/version.go
Labels: size/XS, v3.x

#7834 docs: Update inline docs on action/upgrade.go
  pkg/action/upgrade.go
Labels: size/M

#7765 Add unit test for Secrets/ConfigMaps
  pkg/storage/driver/cfgmaps_test.go
  pkg/storage/driver/mock_test.go
  pkg/storage/driver/secrets_test.go
Labels: size/M

#7928 fix(tests): fix broken unit tests in storage
  pkg/storage/driver/mock_test.go
Labels: size/XS

#7871 Avoid downloading the same chart multiple times
  pkg/downloader/manager.go
Labels: size/M

#7795 Make helm create command's templates more consistent
  pkg/chartutil/create.go
Labels: size/M

#7640 fix(helm): stdin values for helm upgrade --install
  cmd/helm/helm_test.go
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
  pkg/action/rollback.go
  pkg/storage/driver/memory.go
Labels: size/L

#7926 fix: lint with strict passes for helm create
  pkg/chartutil/create.go
  pkg/lint/lint_test.go
Labels: bug, size/M, v2.x

#7927 test: forward-port regression test from Helm 2
  pkg/lint/lint_test.go
Labels: size/M

#7918 add softonic to adopters
  ADOPTERS.md
Labels: size/XS

#7925 fix(upgrade): Add an improved user error message for removed Kubernetes APIs
  pkg/action/upgrade.go
Labels: awaiting review, bug, size/XS

#7752 Make get script eaiser for helm versions to live side by side (helm3 etc)
  scripts/get-helm-3
Labels: size/S

#7897 fix: rebuild chart after dependency update on install
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/testdata/output/chart-with-subchart-update.txt
  cmd/helm/testdata/testcharts/chart-with-subchart-update/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-subchart-update/charts/subchart-with-notes/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-subchart-update/charts/subchart-with-notes/templates/NOTES.txt
  cmd/helm/testdata/testcharts/chart-with-subchart-update/templates/NOTES.txt
Labels: size/M

#7934 Add unit test for function FindPlugins
  pkg/plugin/plugin_test.go
Labels: size/M

#7743 Fix nested null value overrides
  pkg/chartutil/coalesce.go
  pkg/chartutil/coalesce_test.go
  pkg/chartutil/testdata/moby/charts/pequod/charts/ahab/values.yaml
  pkg/chartutil/testdata/moby/values.yaml
Labels: size/M

#7936 Updating sprig and semver to newer versions
  go.mod
  go.sum
  pkg/engine/funcs_test.go
Labels: size/M, v3.x

#7938 fix: Fixed a regression that was introduced with changed nil handling
  pkg/chartutil/create.go
Labels: size/XS

#7635 Migrate SQL storage driver to Helm 3
  cmd/helm/root.go
  go.mod
  go.sum
  pkg/action/action.go
  pkg/storage/driver/mock_test.go
  pkg/storage/driver/sql.go
  pkg/storage/driver/sql_test.go
Labels: awaiting review, feature, size/XXL, v3.x

#7937 fix: removed inaccurate comment
  pkg/chartutil/coalesce.go
Labels: size/XS

#7942 Updating get scripts to skip pre-releases
  scripts/get
  scripts/get-helm-3
Labels: bug, size/XS

#7653 fix(helm): allow a previously failed release to be upgraded
  cmd/helm/testdata/output/upgrade-with-bad-or-missing-existing-release.txt
  cmd/helm/upgrade_test.go
  pkg/action/upgrade.go
  pkg/storage/driver/driver.go
  pkg/storage/storage.go
Labels: size/M

#7147 fs_test.go: Assume non-root user instead of failing the test.
  internal/third_party/dep/fs/fs_test.go
Labels: size/M

#7702 Parse reference templates in predictable order
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: size/M

#7969 fix linting error with lookup function
  pkg/action/action.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/upgrade.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
  pkg/engine/funcs.go
  pkg/engine/funcs_test.go
  pkg/engine/lookup_func.go
Labels: size/L

#7962 fix(pkg/plugin): copy plugins directly to the data directory
  cmd/helm/load_plugins.go
  cmd/helm/plugin_list.go
  cmd/helm/plugin_uninstall.go
  cmd/helm/plugin_update.go
  pkg/plugin/installer/base.go
  pkg/plugin/installer/http_installer.go
  pkg/plugin/installer/http_installer_test.go
  pkg/plugin/installer/installer.go
  pkg/plugin/installer/local_installer.go
  pkg/plugin/installer/local_installer_test.go
  pkg/plugin/installer/vcs_installer.go
  pkg/plugin/installer/vcs_installer_test.go
  pkg/plugin/plugin_test.go
Labels: size/L

#7959 Helm upgrades with --reuse-values and nil user values -- with tests
  pkg/chartutil/coalesce.go
  pkg/chartutil/coalesce_test.go
Labels: size/M

#7978 fix(cmd/env): make helm env command respect cli flags
  cmd/helm/env.go
Labels: bug, size/M

#7960 Adds Sonatype Nexus Repository Manger as a Helm repository host
  docs/chart_repository.md
Labels: size/XS

#7980 Modify Circle config to use Go 1.14
  .circleci/config.yml
Labels: size/XS

#7975 Fixing docs from version to appVersion
  pkg/chartutil/create.go
Labels: bug, size/XS, v3.x

#7982 fix(pkg/cli): ensure correct configuration from kubeconfig file
  cmd/helm/helm.go
  pkg/cli/environment.go
  pkg/getter/getter_test.go
  pkg/getter/httpgetter_test.go
  pkg/getter/plugingetter_test.go
  pkg/kube/config.go
  pkg/plugin/plugin_test.go
Labels: bug, size/L

#7954 fix: write index.yaml file atomically
  internal/fileutil/fileutil.go
  internal/fileutil/fileutil_test.go
  pkg/downloader/chart_downloader.go
  pkg/repo/index.go
  pkg/repo/index_test.go
Labels: needs-pick, size/L

#7929 fix(pkg/kube): continue deleting objects when one fails
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: bug, size/S

#8001 Add unit test for pkg/chart/chart.go
  pkg/chart/chart_test.go
Labels: size/M

#8007 Updating CONTRIBUTING to match current practice
  CONTRIBUTING.md
Labels: size/XS

#8006 Adding PR template from dev-v2 branch
  .github/pull_request_template.md
Labels: size/S

#7949 Fix : Prints empty list in json/yaml is no repositories are present
  cmd/helm/repo_list.go
Labels: size/XS

#7931 Fix issue with sorting pod lists
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: bug, size/M, v2.x

#7972 Remove utf-8 BOM when loading chart files and helmignore
  internal/ignore/rules.go
  pkg/chart/loader/archive.go
  pkg/chart/loader/directory.go
  pkg/chart/loader/load_test.go
  pkg/chart/loader/testdata/frobnitz_with_bom.tgz
  pkg/chart/loader/testdata/frobnitz_with_bom/.helmignore
  pkg/chart/loader/testdata/frobnitz_with_bom/Chart.lock
  pkg/chart/loader/testdata/frobnitz_with_bom/Chart.yaml
  pkg/chart/loader/testdata/frobnitz_with_bom/INSTALL.txt
  pkg/chart/loader/testdata/frobnitz_with_bom/LICENSE
  pkg/chart/loader/testdata/frobnitz_with_bom/README.md
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/_ignore_me
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/alpine/Chart.yaml
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/alpine/README.md
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/alpine/charts/mast1/Chart.yaml
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/alpine/charts/mast1/values.yaml
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/alpine/charts/mast2-0.1.0.tgz
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/alpine/templates/alpine-pod.yaml
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/alpine/values.yaml
  pkg/chart/loader/testdata/frobnitz_with_bom/charts/mariner-4.3.2.tgz
  pkg/chart/loader/testdata/frobnitz_with_bom/docs/README.md
  pkg/chart/loader/testdata/frobnitz_with_bom/icon.svg
  pkg/chart/loader/testdata/frobnitz_with_bom/ignore/me.txt
  pkg/chart/loader/testdata/frobnitz_with_bom/templates/template.tpl
  pkg/chart/loader/testdata/frobnitz_with_bom/values.yaml
Labels: size/L

#8011 feat: lint the names of templated resources
  pkg/lint/lint_test.go
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
  pkg/lint/rules/testdata/goodone/templates/goodone.yaml
  pkg/lint/rules/testdata/goodone/values.yaml
Labels: size/M

#8034 polish to keep the same log style
  pkg/kube/client.go
Labels: size/XS
