Repository helm/helm, pull requests merged in 2020-02, with the labels that each got.

#7508 fix(test) use newly created index instead of ignoring it
  cmd/helm/repo_index_test.go
Labels: size/XS

#7511 fix(tests): Make tests pass on MacOS
  internal/resolver/resolver_test.go
Labels: size/XS

#7503 feat(template): Allow template output to use release name
  cmd/helm/template.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/upgrade.go
Labels: feature, size/M, v3.x

#6819 feat(install): introduce --disable-openapi-validation
  cmd/helm/install.go
  pkg/action/install.go
Labels: feature, size/M, v3.x

#6862 ref(go.mod): oras v0.8.1
  go.mod
  go.sum
  internal/experimental/registry/client.go
  internal/experimental/registry/client_test.go
  pkg/action/action_test.go
Labels: feature, size/L, v3.x

#7261 fix(chart): lock digest differs when dependency build with Helm 2 and then Helm 3
  cmd/helm/dependency_build_test.go
  cmd/helm/testdata/testcharts/issue-7233/.helmignore
  cmd/helm/testdata/testcharts/issue-7233/Chart.yaml
  cmd/helm/testdata/testcharts/issue-7233/charts/alpine-0.1.0.tgz
  cmd/helm/testdata/testcharts/issue-7233/requirements.lock
  cmd/helm/testdata/testcharts/issue-7233/requirements.yaml
  cmd/helm/testdata/testcharts/issue-7233/templates/configmap.yaml
  cmd/helm/testdata/testcharts/issue-7233/values.yaml
  internal/resolver/resolver.go
  pkg/downloader/manager.go
Labels: bug, size/M, v3.x

#7531 fix(tests): Ignores tarball that will change on dep update
  .gitignore
  cmd/helm/testdata/testcharts/issue-7233/charts/alpine-0.1.0.tgz
Labels: bug, size/XS

#7541 Fix engine.newFiles doc comment
  pkg/engine/files.go
Labels: size/XS

#7277 feat(checksum): Generate shasum/sha256sum -c compatible sha256 file
  Makefile
Labels: feature, size/XS, v3.x

#7542 Fixes issue where <CHARTNAME> is left in starter values file
  pkg/chartutil/create.go
  pkg/chartutil/create_test.go
Labels: bug, size/S, v3.x

#7440 Render the CRDs to output-dir files
  cmd/helm/template.go
  pkg/action/install.go
  pkg/action/upgrade.go
  pkg/chart/chart.go
Labels: size/M

#7373 add option to bypass kubeconfig namespace
  pkg/kube/client.go
Labels: size/XS

#7349 Add unit test for List() of pkg/storage/driver/memory.go
  pkg/storage/driver/memory_test.go
Labels: size/M, v3.x

#7288 feat(cmd/lint): added flag to lint dependent charts
  cmd/helm/lint.go
  cmd/helm/lint_test.go
  cmd/helm/testdata/output/lint-chart-with-bad-subcharts-with-subcharts.txt
  cmd/helm/testdata/output/lint-chart-with-bad-subcharts.txt
  cmd/helm/testdata/testcharts/chart-with-bad-subcharts/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-bad-subcharts/charts/bad-subchart/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-bad-subcharts/charts/bad-subchart/values.yaml
  cmd/helm/testdata/testcharts/chart-with-bad-subcharts/charts/good-subchart/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-bad-subcharts/charts/good-subchart/values.yaml
  cmd/helm/testdata/testcharts/chart-with-bad-subcharts/requirements.yaml
  cmd/helm/testdata/testcharts/chart-with-bad-subcharts/values.yaml
  pkg/action/lint.go
Labels: feature, size/M, v3.x

#7543 Fixes issue where non-CRDs are read in from the crd directory
  pkg/chart/chart.go
  pkg/chart/chart_test.go
Labels: bug, size/S, v3.x

#7552 fix(memory_test): rebase master
  pkg/storage/driver/memory_test.go
Labels: bug, size/XS

#7259 feat(*): Post render hooks for Helm
  cmd/helm/flags.go
  cmd/helm/install.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  pkg/action/install.go
  pkg/action/upgrade.go
  pkg/postrender/exec.go
  pkg/postrender/exec_test.go
  pkg/postrender/postrender.go
Labels: feature, size/L, v3.x

#7507 Add ADOPTERS file, per CNCF requirements
  ADOPTERS.md
Labels: docs, size/S

#7561 fix(comp): Fix broken completion for --output flag
  cmd/helm/flags.go
Labels: bug, needs-pick, size/XS

#7568 Fix shasums to be usable by shasum and sha256sum applications
  Makefile
Labels: bug, needs-pick, size/S

#7553 fix(version): bump version to v3.1
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
Labels: size/S

#7558 fix recursion count in templates
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: bug, needs-pick, size/M

#7571 Revert "Do not delete templated CRDs"
  pkg/kube/client.go
Labels: bug, size/S, v3.x

#7587 chore(rootfs): bump alpine image to 3.11
  rootfs/Dockerfile
Labels: needs-pick, size/XS, v2.x

#7589 fix(scripts): scrape for the latest v2/v3 release from the releases page
  scripts/get
  scripts/get-helm-3
Labels: size/S

#7570 feat(upgrade): introduce --disable-openapi-validation:
  cmd/helm/upgrade.go
  pkg/action/upgrade.go
Labels: feature, size/S, v3.x

#7596 fix(render): Render error not being propagated
  pkg/action/action_test.go
  pkg/action/install.go
  pkg/action/install_test.go
Labels: bug, size/M, v3.x

#7365 Add corresponding unit test to the function in parser.go
  pkg/strvals/parser_test.go
Labels: size/M

#7622 fix golint failure in pkg/action
  pkg/action/action.go
  pkg/action/lint.go
  pkg/action/list.go
  pkg/action/package.go
  pkg/action/show.go
Labels: size/S

#7530 fix(helm): Don't wait for service to be ready when external IP are set
  pkg/kube/wait.go
Labels: bug, size/S

#7401 fix(kube): use non global Scheme to convert
  pkg/kube/converter.go
Labels: bug, needs-pick, size/S

#7629 pkg/helmpath: fix unit test for Windows
  pkg/helmpath/home_windows_test.go
  pkg/helmpath/lazypath_windows_test.go
Labels: size/S

#7643 Fix output of list action when it is failed
  pkg/action/list.go
Labels: size/XS

#7582 Making fetch-dist get the sha256sum files
  Makefile
Labels: bug, needs-pick, size/XS, v3.x

#7609 cmd/helm/search_repo: print info to stderr
  cmd/helm/search_repo.go
Labels: size/XS

#7608 pkg/gates: add unit test for String
  pkg/gates/gates_test.go
Labels: size/XS

#7554 fixed missing bullet
  ADOPTERS.md
Labels: size/XS

#7583 ref(go.mod): k8s api 0.17.3
  go.mod
  go.sum
Labels: size/M

#7588 fix(Makefile): disable go modules
  Makefile
Labels: size/XS, v2.x

#7591 IsReachable() needs to give detailed error message.
  pkg/kube/client.go
Labels: size/XS

#7427 Use /usr/bin/env for bash
  Makefile
Labels: size/XS

#7602 feat(comp): Move kube-context completion to Go
  cmd/helm/helm.go
  cmd/helm/root.go
  internal/completion/complete.go
Labels: size/M

#7560 feat(tests): Allow to provision memory driver
  cmd/helm/helm.go
  pkg/action/action.go
  testdata/releases.yaml
Labels: size/L

#7663 Add record util test
  pkg/storage/driver/records_test.go
Labels: size/M

#7665 Printing name of chart that do not have requested import value.
  pkg/chartutil/dependencies.go
Labels: awaiting review, size/XS

#7648 feat(install): introduce --create-namespace
  cmd/helm/install.go
  cmd/helm/upgrade.go
  pkg/action/install.go
Labels: size/M

#7678 fix(cmd/helm): upgrade go-shellwords
  cmd/helm/helm_test.go
  go.mod
  go.sum
Labels: size/M

#7684 Fix golangci-lint errors.
  cmd/helm/template.go
  internal/completion/complete.go
Labels: size/XS

#7040 Return "unknown command" error for unknown subcommands
  cmd/helm/root.go
  cmd/helm/root_test.go
Labels: awaiting review, bug, size/S, v3.x

#7692 Update README.md
  cmd/helm/testdata/testcharts/alpine/README.md
Labels: bug, size/XS, v3.x

#7645 fix(ADOPTERS): alphabetize org list
  ADOPTERS.md
Labels: size/XS
