Repository helm/helm, pull requests merged in 2020-03, with the labels that each got.

#7514 fixed dependencies processing in case of helm install or upgrade for …
  pkg/chartutil/dependencies.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/Chart.lock
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/Chart.yaml
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/charts/dev-v0.1.0.tgz
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/charts/prod-v0.1.0.tgz
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/envs/dev/Chart.yaml
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/envs/dev/values.yaml
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/envs/prod/Chart.yaml
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/envs/prod/values.yaml
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/templates/autoscaler.yaml
  pkg/chartutil/testdata/import-values-from-enabled-subchart/parent-chart/values.yaml
Labels: awaiting review, bug, size/L, v3.x

#7706 Fixes verification output on pull command
  cmd/helm/pull_test.go
  pkg/action/pull.go
Labels: bug, size/S, v3.x

#7556 Fix 'helm template' to also print invalid yaml
  cmd/helm/template.go
  cmd/helm/template_test.go
  cmd/helm/testdata/output/template-with-invalid-yaml-debug.txt
  cmd/helm/testdata/output/template-with-invalid-yaml.txt
  cmd/helm/testdata/testcharts/chart-with-template-with-invalid-yaml/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-template-with-invalid-yaml/README.md
  cmd/helm/testdata/testcharts/chart-with-template-with-invalid-yaml/templates/alpine-pod.yaml
  cmd/helm/testdata/testcharts/chart-with-template-with-invalid-yaml/values.yaml
Labels: size/L, v3.x

#7230 feat(cli) Pass token via cli
  cmd/helm/load_plugins.go
  pkg/cli/environment.go
Labels: size/S

#7189 Repair unit tests failing on Linux caused by using the os.Stat
  pkg/chartutil/expand_test.go
Labels: size/M

#7707 Add verification output to the verify command
  cmd/helm/verify.go
  cmd/helm/verify_test.go
  pkg/action/verify.go
Labels: size/M, v3.x

#7721 ref(environment): use string checking instead
  pkg/cli/environment.go
Labels: size/XS

#7714 fix(helm): respect resource policy on ungrade
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/resource_policy.go
Labels: size/M

#7713 pkg/storage: add unit test
  pkg/storage/driver/cfgmaps_test.go
  pkg/storage/driver/records_test.go
  pkg/storage/driver/secrets_test.go
Labels: size/M

#7674 Save Chart.lock to helm package tar
  pkg/chartutil/save.go
  pkg/chartutil/save_test.go
Labels: size/M

#7254 Add --insecure-skip-tls-verify for repositories
  cmd/helm/repo_add.go
  pkg/getter/getter.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
  pkg/repo/chartrepo.go
Labels: feature, size/L, v3.x

#7655 fix: add new static linter and fix issues it found
  .golangci.yml
  cmd/helm/lint.go
  go.mod
  internal/completion/complete.go
  internal/experimental/registry/client_test.go
  pkg/lint/rules/template.go
Labels: size/S

#7651 Fix dep build to be compatiable with Helm 2 when requirements use repo alias
  pkg/downloader/manager.go
Labels: bug, size/S, v3.x

#7661 fix(helm): add --skip-crds flag to 'helm upgrade'
  cmd/helm/upgrade.go
  pkg/action/upgrade.go
Labels: size/S

#7636 Adds script to help craft release notes
  Makefile
  scripts/release-notes.sh
Labels: size/L

#7739 chore(go.mod): run `go mod tidy`
  go.mod
  go.sum
Labels: size/XS

#7047 fix(requirements): refactor to use common codepath for table coalescing
  pkg/chartutil/requirements.go
  pkg/chartutil/requirements_test.go
  pkg/chartutil/testdata/subpop/charts/subchart3/.helmignore
  pkg/chartutil/testdata/subpop/charts/subchart3/Chart.yaml
  pkg/chartutil/testdata/subpop/charts/subchart3/values.yaml
  pkg/chartutil/testdata/subpop/requirements.yaml
  pkg/chartutil/testdata/subpop/values.yaml
Labels: size/L, v2.x

#7164 fix(install): use ca file for install (#7140)
  pkg/action/install.go
  pkg/downloader/chart_downloader.go
  pkg/downloader/chart_downloader_test.go
  pkg/repo/repotest/server.go
Labels: awaiting review, bug, size/L, v3.x

#7751 Fixing issue where archives created on windows have broken paths
  pkg/chartutil/save.go
Labels: bug, needs-pick, size/XS

#6920 v3: Make helm upgrade check if the cluster is reachable
  cmd/helm/upgrade.go
  pkg/action/upgrade.go
Labels: size/XS

#7761 Correcting links for release notes
  scripts/release-notes.sh
Labels: size/S

#7744 fix(show): Port --devel flag for show command
  cmd/helm/show.go
  cmd/helm/show_test.go
  pkg/action/show.go
Labels: feature, size/L, v3.x

#7348 Fix a bug in storage/driver/secrets.go Delete()
  pkg/storage/driver/secrets.go
  pkg/storage/driver/secrets_test.go
Labels: size/S, v3.x

#7367 Fix a bug in Delete() in storage/driver/cfgmaps.go
  pkg/storage/driver/cfgmaps.go
  pkg/storage/driver/cfgmaps_test.go
Labels: size/S

#7410 Add unit test for Reverse() in pkg/releaseutil/sorter.go
  pkg/releaseutil/sorter_test.go
Labels: size/S

#7691 Add unit test for lint/values.go
  pkg/lint/rules/values_test.go
Labels: size/M

#7649 Adopt resources into release with correct instance and managed-by labels
  pkg/action/install.go
  pkg/action/upgrade.go
  pkg/action/validate.go
  pkg/action/validate_test.go
Labels: size/L

#7785 Restores display of object status when displaying helm status
  pkg/kube/client.go
Labels: bug, size/L, v2.x

#7471 fix(engine): allow limited recursion in templates
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: size/M, v2.x

#7779 refactor(pkg/lint/test): Improve the checking error message in unit test
  pkg/lint/lint_test.go
Labels: refactor, size/XS, v3.x

#7753 Solves the issue #7749
  cmd/helm/list.go
  cmd/helm/list_test.go
  cmd/helm/testdata/output/list-short-json.txt
  cmd/helm/testdata/output/list-short-yaml.txt
Labels: bug, size/M

#7499 ref(helm): sort hooks by kind
  pkg/action/hooks.go
  pkg/releaseutil/kind_sorter.go
  pkg/releaseutil/kind_sorter_test.go
  pkg/releaseutil/manifest_sorter.go
  pkg/releaseutil/manifest_sorter_test.go
Labels: refactor, size/L

#7720 Make the charts cache safe in presence of several Helm instances
  pkg/downloader/chart_downloader.go
Labels: size/S

#7827 Snapcraft installation instructions added
  README.md
Labels: size/XS

#7810 Fixing validation issue
  pkg/kube/client.go
Labels: bug, needs-pick, size/XS, v2.x

#7712 Add fromYamlArray and fromJsonArray template helpers
  pkg/engine/funcs.go
  pkg/engine/funcs_test.go
Labels: size/M

#7835 fix: update unit test for go 1.14 error string change
  pkg/repo/chartrepo_test.go
Labels: size/XS

#7381 [helm create] Add hpa boilerplate
  cmd/helm/create_test.go
  pkg/chartutil/create.go
Labels: feature, size/M, v3.x

#7830 Render subchart notes on upgrade install
  cmd/helm/testdata/testcharts/chart-with-subchart-notes/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-subchart-notes/charts/subchart-with-notes/Chart.yaml
  cmd/helm/testdata/testcharts/chart-with-subchart-notes/charts/subchart-with-notes/templates/NOTES.txt
  cmd/helm/testdata/testcharts/chart-with-subchart-notes/templates/NOTES.txt
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
Labels: bug, size/M, v3.x
