Repository helm/helm, pull requests merged in 2020-08, with the labels that each got.

#8544 fix test that modifies the wrong cache data
  cmd/helm/repo_add_test.go
Labels: size/XS

#8438 feature(show): support jsonpath output for `helm show value`
  cmd/helm/show.go
  pkg/action/show.go
  pkg/action/show_test.go
Labels: size/M

#8557 Fix Quick Start Guide Link in README.md
  README.md
Labels: bug, docs, size/XS

#8505 Avoid hardcoded container port in default notes
  pkg/chartutil/create.go
Labels: size/XS

#8558 Update Debian repo signing key location
  docs/install.md
Labels: size/XS, v2.x

#8562 Update Common Lables template in starter chart
  pkg/chartutil/create.go
Labels: size/XS

#8516 fix: removed strict template errors from v2 linter
  cmd/helm/lint_test.go
  cmd/helm/testdata/testcharts/bad.name/Chart.yaml
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
Labels: awaiting review, size/L, v2.x

#8532 Adding filtering of helm releases for configmap and secret backends during list command
  cmd/helm/list.go
  pkg/action/list.go
  pkg/action/list_test.go
  pkg/release/release.go
  pkg/storage/driver/cfgmaps.go
  pkg/storage/driver/secrets.go
Labels: awaiting review, feature, size/M

#8507 fix watch error due to elb/proxy timeout
  pkg/kube/client.go
Labels: bug, size/XS

#8595 Bump Kubernetes to v0.18.8
  go.mod
  go.sum
Labels: size/M

#8539 darwin-386 and windows-386 are not supported now
  scripts/get
  scripts/get-helm-3
Labels: size/XS

#8521 introduce stale issue bot
  .github/workflows/stale-issue-bot.yaml
Labels: proposal, size/S

#8590 release/mock: Ensure conversion from int to string yields a string
  pkg/release/mock.go
Labels: size/XS

#8613 optimise if condition in service ready logic
  pkg/kube/wait.go
Labels: size/XS

#8638 Add support of accepting a specific variable for helm env
  cmd/helm/env.go
  cmd/helm/env_test.go
  cmd/helm/testdata/output/env-comp.txt
Labels: size/M

#8669 Fix spelling in completion.go
  cmd/helm/completion.go
Labels: size/XS
