Repository helm/helm, pull requests merged in 2020-09, with the labels that each got.

#8667 cleanup tempfiles for load_test
  pkg/chart/loader/load_test.go
Labels: size/XS

#8543 report name length errors in linter
  go.mod
  pkg/action/upgrade.go
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
Labels: size/S

#8496 Fix/8467 linter failing
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
Labels: size/M

#8681 Fixed a variable name collision caused by two PR merges
  pkg/lint/rules/template.go
Labels: size/XS

#8664 feat(comp): Add support for fish completion
  cmd/helm/completion.go
  cmd/helm/completion_test.go
Labels: size/M

#8682 Remove duplicate variable definition
  pkg/action/resource_policy.go
Labels: size/S

#8574 chore(deps): add dependabot.yml
  .github/dependabot.yml
Labels: awaiting review, size/XS

#8695 fix(create): Revert PR 8562
  pkg/chartutil/create.go
Labels: bug, size/XS

#7944 Add GPG signature verification to install script
  scripts/get-helm-3
Labels: size/L

#8710 Implement Impersonation via flags/env
  cmd/helm/load_plugins.go
  cmd/helm/plugin_test.go
  cmd/helm/root.go
  cmd/helm/testdata/output/env-comp.txt
  pkg/cli/environment.go
  pkg/cli/environment_test.go
Labels: size/M

#8723 Fixing typo in engine comments
  pkg/engine/engine.go
Labels: size/XS

#8493 fix insecure-skip-tls-verify flag does't work on helm install
  pkg/action/install.go
  pkg/action/pull.go
  pkg/repo/chartrepo.go
  pkg/repo/chartrepo_test.go
Labels: size/M

#8684 Add support to make install helm
  Makefile
Labels: size/XS

#8678 Makefile: Fix LDFLAGS overriding
  Makefile
Labels: size/XS

#8727 fix(comp): Disable file comp for output formats
  cmd/helm/flags.go
  cmd/helm/testdata/output/output-comp.txt
Labels: size/XS

#8748 fix: check mode bits on kubeconfig file
  cmd/helm/root.go
  cmd/helm/root_unix.go
  cmd/helm/root_unix_test.go
  cmd/helm/root_windows.go
Labels: needs-pick, size/L

#8749 refactor the release name validation to be consistent across Helm
  pkg/action/action.go
  pkg/action/action_test.go
  pkg/action/history.go
  pkg/action/release_testing.go
  pkg/action/rollback.go
  pkg/action/uninstall.go
  pkg/action/upgrade.go
  pkg/chartutil/validate_name.go
  pkg/chartutil/validate_name_test.go
  pkg/lint/rules/template.go
Labels: needs-pick, size/L

#8747 Fixing broken vanity URL in dependencies
  glide.lock
  glide.yaml
Labels: needs-pick, size/S

#8750 validate the name passed in during helm create
  pkg/chartutil/create.go
  pkg/chartutil/create_test.go
Labels: needs-pick, size/M

#8753 handle case where dependency name collisions break dependency resolution
  pkg/action/dependency.go
  pkg/action/dependency_test.go
Labels: needs-pick, size/L

#8752 improve the HTTP detection for tar archives
  pkg/plugin/installer/http_installer.go
  pkg/plugin/installer/http_installer_test.go
  pkg/plugin/installer/installer.go
  pkg/plugin/installer/installer_test.go
Labels: needs-pick, size/L

#8754 replace --no-update with --force-update and invert default. BREAKING.
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
Labels: needs-pick, size/M

#8751 fixed bug that caused helm create to not overwrite modified files
  cmd/helm/create.go
  pkg/chartutil/create.go
  pkg/chartutil/create_test.go
Labels: needs-pick, size/M

#8756 backported fixes from helm3
  pkg/chartutil/requirements.go
  pkg/chartutil/requirements_test.go
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
  pkg/plugin/testdata/plugdir/hello2/hello.sh
  pkg/plugin/testdata/plugdir/hello2/plugin.yaml
  pkg/repo/index.go
  pkg/repo/index_test.go
Labels: needs-pick, size/L

#8759 fix(cmd/helm): add build tags for architecture
  cmd/helm/root_unix.go
  cmd/helm/root_unix_test.go
Labels: size/XS

#8760 fix: use yaml annotations for yaml.v2 validation
  pkg/plugin/plugin.go
Labels: needs-pick, size/S

#8758 fix formatting error
  pkg/helm/fake.go
Labels: size/XS

#8764 fix(repo): Backport from Helm 3 to allow serverInfo field on index files
  pkg/repo/index.go
  pkg/repo/index_test.go
  pkg/repo/testdata/chartmuseum-index.yaml
Labels: bug, size/L

#8762 fix: allow serverInfo field on index files
  pkg/repo/index.go
  pkg/repo/index_test.go
  pkg/repo/testdata/chartmuseum-index.yaml
Labels: size/L

#8394 support reading signing passphrase from file or stdin
  cmd/helm/package.go
  pkg/action/package.go
  pkg/action/package_test.go
Labels: size/L

#8755 size/S and larger requiring 2 LGTMs
  CONTRIBUTING.md
Labels: size/S

#8777 Fixing issue with idempotent repo add
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
  cmd/helm/testdata/output/repo-add2.txt
Labels: size/M

#8779 use warning function
  cmd/helm/registry_login.go
  cmd/helm/root.go
  cmd/helm/root_unix.go
  cmd/helm/root_unix_test.go
  cmd/helm/root_windows.go
  cmd/helm/search_repo.go
Labels: size/M

#8782 Adding size labels pointer
  CONTRIBUTING.md
Labels: size/XS

#8791 Fixing import package issue
  cmd/helm/root_windows.go
Labels: needs-pick, size/XS

#8787 Update go version to 1.14 in go.mod
  go.mod
Labels: size/XS

#8763 Update links to docs in release notes script
  scripts/release-notes.sh
Labels: size/XS

#8738 fix incorrect wildcard expand
  Makefile
Labels: size/XS

#8244 Report what cause finding chart to fail
  pkg/downloader/manager.go
Labels: size/XS

#8811 Fix wrong function's name in comment
  pkg/repo/chartrepo.go
Labels: size/XS

#8807 Adding support for k8s 1.19
  go.mod
  go.sum
  pkg/action/validate.go
  pkg/kube/client.go
Labels: size/L

#8067 ref(cmd): prevent klogs flags from polluting the help text
  cmd/helm/flags.go
  cmd/helm/helm.go
  cmd/helm/root.go
Labels: awaiting review, size/M

#8662 Add requested version to install error output
  cmd/helm/show_test.go
  pkg/action/install.go
Labels: size/S
