Repository helm/helm, pull requests merged in 2020-11, with the labels that each got.

#8879 fix(lint): Lint error message for valid names
  pkg/chartutil/validate_name.go
Labels: bug, size/XS

#8933 Fix invalid semver version number of the helm package command will escape
  pkg/action/package.go
  pkg/action/package_test.go
Labels: bug, size/M

#8932 helm search supports semver pre version numbers starting with 0
  cmd/helm/search_repo.go
  cmd/helm/search_repo_test.go
  cmd/helm/testdata/helmhome/helm/repository/testing-index.yaml
  cmd/helm/testdata/output/search-semver-pre-invalid-release.txt
  cmd/helm/testdata/output/search-semver-pre-zero-devel-release.txt
Labels: bug, size/M

#8913 do not check YAML if nothing was parsed
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
Labels: bug, size/M

#8969 Clarifies action needed to list new stable repo
  cmd/helm/root.go
Labels: size/XS

#8970 Add remaining tests in TestDependentChartAliases
  pkg/chartutil/dependencies_test.go
Labels: size/S

#8862 lint: lint all documents in a multi-doc yaml file
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
  pkg/lint/rules/testdata/multi-template-fail/Chart.yaml
  pkg/lint/rules/testdata/multi-template-fail/templates/multi-fail.yaml
Labels: bug, size/M

#8950 completion: move to native zshCompletion
  cmd/helm/completion.go
  cmd/helm/search_repo.go
Labels: size/L

#8989 Updating to k8s 1.19.3 based packages
  go.mod
  go.sum
Labels: size/S

#8948 [#7696] Avoid crash in chart loader on unexpected file sequence
  pkg/chart/loader/load.go
Labels: bug, size/S

#8886 Add --skip-refresh option in helm dep build
  cmd/helm/dependency_build.go
  cmd/helm/dependency_build_test.go
Labels: bug, size/S

#8996 chore(comp): Remove unnecessary completion code
  cmd/helm/completion.go
  cmd/helm/dependency.go
  cmd/helm/get.go
  cmd/helm/plugin.go
  cmd/helm/repo.go
  cmd/helm/root.go
  cmd/helm/search.go
Labels: size/M

#8961 feat(helm): Allow generating markdown docs headers
  cmd/helm/docs.go
Labels: size/S

#9037 [actions/stale] increase number of operations per run to 100
  .github/workflows/stale-issue-bot.yaml
Labels: size/XS

#8602 Add support to judge whether desired version is available or not
  scripts/get
  scripts/get-helm-3
Labels: size/M

#9056 Revert "Add support to judge whether desired version is available or not"
  scripts/get
  scripts/get-helm-3
Labels: size/M

#9058 Fix typo
  pkg/kube/client.go
Labels: size/XS

#9042 bump actions/stale to v3.0.14
  .github/workflows/stale-issue-bot.yaml
Labels: size/XS

#9065 [COMMENT]fix comment
  cmd/helm/completion.go
  cmd/helm/repo_add.go
  cmd/helm/search_repo.go
Labels: size/S
