Repository helm/helm, pull requests merged in 2020-06, with the labels that each got.

#8226 chore(helm): Avoid confusion in command usage
  cmd/helm/show.go
Labels: refactor, size/XS

#8188 Fix issue with unhandled error on Stat
  pkg/chartutil/save.go
Labels: bug, size/S, v3.x

#8254 Add unit test for man-in-the-middle attack on pull
  internal/experimental/registry/client_test.go
Labels: size/M

#8274 Fix description is ignore when installed with upgrade
  cmd/helm/upgrade.go
Labels: size/XS

#8225 fix(doc): generic description for --version/verify
  cmd/helm/flags.go
Labels: size/XS

#8089 Fixes repo parsing
  internal/experimental/registry/reference.go
  internal/experimental/registry/reference_test.go
Labels: size/S

#8131 Move go custom completions to Cobra 1.0
  cmd/helm/flags.go
  cmd/helm/get_all.go
  cmd/helm/get_hooks.go
  cmd/helm/get_manifest.go
  cmd/helm/get_notes.go
  cmd/helm/get_values.go
  cmd/helm/history.go
  cmd/helm/install.go
  cmd/helm/list.go
  cmd/helm/load_plugins.go
  cmd/helm/plugin_uninstall.go
  cmd/helm/plugin_update.go
  cmd/helm/pull.go
  cmd/helm/release_testing.go
  cmd/helm/repo_remove.go
  cmd/helm/rollback.go
  cmd/helm/root.go
  cmd/helm/search_repo.go
  cmd/helm/show.go
  cmd/helm/status.go
  cmd/helm/template.go
  cmd/helm/testdata/output/output-comp.txt
  cmd/helm/testdata/output/plugin_args_comp.txt
  cmd/helm/testdata/output/plugin_args_flag_comp.txt
  cmd/helm/testdata/output/plugin_args_many_args_comp.txt
  cmd/helm/testdata/output/plugin_args_ns_comp.txt
  cmd/helm/testdata/output/plugin_echo_bad_directive.txt
  cmd/helm/testdata/output/plugin_echo_no_directive.txt
  cmd/helm/testdata/output/revision-comp.txt
  cmd/helm/testdata/output/revision-wrong-args-comp.txt
  cmd/helm/testdata/output/status-comp.txt
  cmd/helm/testdata/output/status-wrong-args-comp.txt
  cmd/helm/uninstall.go
  cmd/helm/upgrade.go
  internal/completion/complete.go
Labels: size/XL

#8306 fix(chartutil): do not set helpers.tpl filetype for vim
  pkg/chartutil/create.go
Labels: size/XS

#7005 Add HelmVersion to Capabilities
  pkg/chartutil/capabilities.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#8317 Improve the extractor and add tests
  pkg/plugin/installer/http_installer.go
  pkg/plugin/installer/http_installer_test.go
Labels: needs-pick, size/M

#8318 backported archive improvements from v3
  pkg/plugin/installer/http_installer.go
  pkg/plugin/installer/http_installer_test.go
Labels: needs-pick, size/L

#8299 Add unit test case
  internal/urlutil/urlutil_test.go
Labels: size/XS

#8321 chore(Makefile): Remove unused variable
  Makefile
Labels: size/XS

#8187 Removing legacy completions.bash file
  scripts/completions.bash
Labels: size/XXL, v3.x

#8326 Provide completion for --version flag
  cmd/helm/flags.go
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/pull.go
  cmd/helm/pull_test.go
  cmd/helm/show.go
  cmd/helm/show_test.go
  cmd/helm/template.go
  cmd/helm/template_test.go
  cmd/helm/testdata/output/version-comp.txt
  cmd/helm/testdata/output/version-invalid-comp.txt
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
Labels: awaiting review, size/L

#8177 feature(script): Add s390x support
  scripts/get-helm-3
Labels: size/XS

#8220 Fix crashing `helm chart list` with large list
  internal/experimental/registry/cache.go
Labels: size/XS

#8340 version bump
  cmd/helm/testdata/helmhome/helm/repository/test-name-charts.txt
  cmd/helm/testdata/helmhome/helm/repository/test-name-index.yaml
  cmd/helm/testdata/output/schema-negative-cli.txt
  cmd/helm/testdata/output/schema-negative.txt
  cmd/helm/testdata/output/subchart-schema-cli-negative.txt
  go.mod
  go.sum
  pkg/chartutil/jsonschema_test.go
Labels: size/L

#8198 fix(kube): Backport add more informative error message for removed k8s APIs
  pkg/kube/client.go
Labels: bug, size/S, v2.x

#8039 added option --insecure-skip-tls-verify for helm pull, install and upgrade, addresses #7875
  cmd/helm/flags.go
  pkg/action/install.go
  pkg/action/pull.go
Labels: size/S

#7356 --registry-config flag is not honored
  cmd/helm/helm.go
  cmd/helm/helm_test.go
  cmd/helm/root.go
  internal/experimental/registry/client.go
  internal/experimental/registry/client_opts.go
Labels: size/M

#8323 Adding --devel to helm inspect
  docs/using_helm.md
Labels: awaiting review, docs, size/M, v2.x

#8344 Adding init flad to skip adding repos
  cmd/helm/init.go
  cmd/helm/installer/init.go
  cmd/helm/installer/init_test.go
  docs/helm/helm_init.md
Labels: size/M, v2.x

#8305 Consider namespace when comparing resources
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/result.go
Labels: size/S, v2.x

#8310 Add Warning when installing or upgrading a deprecated chart - replacing PR #8262
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/testdata/testcharts/deprecatedchart/Chart.yaml
  cmd/helm/testdata/testcharts/deprecatedchart/README.md
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
Labels: awaiting review, size/M, v2.x

#8366 Fix golint issue
  internal/experimental/registry/client_opts.go
Labels: size/XS

#8249 Manifest digest
  internal/experimental/registry/client.go
Labels: size/XS

#8277 fix(cmd): display warnings on stderr
  cmd/helm/helm.go
  cmd/helm/install.go
  cmd/helm/testdata/output/deprecated-chart.txt
  cmd/helm/upgrade.go
Labels: size/S

#8368 Fix some go-lint warnings
  pkg/postrender/postrender.go
  pkg/storage/storage.go
Labels: size/XS
