Repository helm/helm, pull requests merged in 2021-02, with the labels that each got.

#9326 chore(go.mod): bump Masterminds/{spring,goutils} and deislabs/oras
  go.mod
  go.sum
Labels: size/S

#9306 Fix-9253: Change the deprecated charts repo URL in release notes
  scripts/release-notes.sh
Labels: size/XS

#9343 Updating golangci-lint to 1.36.0
  .circleci/config.yml
Labels: size/XS

#9301 Fix `helm list --offset` cli help string
  cmd/helm/list.go
Labels: size/XS

#9328 feat(comp): Completion for the docs --type flag
  cmd/helm/docs.go
  cmd/helm/docs_test.go
  cmd/helm/testdata/output/docs-type-comp.txt
  cmd/helm/testdata/output/docs-type-filtered-comp.txt
Labels: size/M

#9254 Correct pubring name
  scripts/get-helm-3
Labels: size/XS

#9345 fix release sha256
  scripts/release-notes.sh
Labels: size/XS

#9367 Increase golangci-lint timeout
  Makefile
Labels: bug, size/XS

#9357 improve tests on windows
  internal/test/test.go
Labels: size/XS

#9131 Fix: If `storage.Create` fails to clean up least-recent releases, return an error
  pkg/storage/storage.go
  pkg/storage/storage_test.go
Labels: bug, size/M

#9392 docs(CONTRIBUTING): writing a HIP
  CONTRIBUTING.md
Labels: size/S

#9349 fix(helm): get/get-helm-3 whitespace support in runAsRoot
  scripts/get
  scripts/get-helm-3
Labels: size/S

#9394 fix(cmd): Show that flags can be used for zsh/fish
  cmd/helm/completion.go
Labels: size/S

#9363 feat(comp): Improve completion for plugin commands
  cmd/helm/plugin_list.go
  cmd/helm/plugin_test.go
  cmd/helm/plugin_uninstall.go
  cmd/helm/plugin_update.go
  cmd/helm/testdata/output/empty_default_comp.txt
  cmd/helm/testdata/output/empty_nofile_comp.txt
  cmd/helm/testdata/output/plugin_list_comp.txt
  cmd/helm/testdata/output/plugin_repeat_comp.txt
Labels: size/L

#9243 Add descriptions to custom completions (part 1)
  cmd/helm/completion_test.go
  cmd/helm/flags.go
  cmd/helm/history.go
  cmd/helm/list.go
  cmd/helm/plugin_list.go
  cmd/helm/root.go
  cmd/helm/status_test.go
  cmd/helm/testdata/helmhome/helm/repository/testing-index.yaml
  cmd/helm/testdata/output/output-comp.txt
  cmd/helm/testdata/output/plugin_list_comp.txt
  cmd/helm/testdata/output/plugin_repeat_comp.txt
  cmd/helm/testdata/output/revision-comp.txt
  cmd/helm/testdata/output/rollback-comp.txt
  cmd/helm/testdata/output/status-comp.txt
  cmd/helm/testdata/output/version-comp.txt
  pkg/cli/output/output.go
Labels: size/L

#8559 Improve the console output for resource policy keep to align with helm2.
  pkg/action/uninstall.go
  pkg/action/uninstall_test.go
Labels: size/M

#9409 initialize registry client in oci getter
  pkg/getter/ocigetter.go
  pkg/getter/ocigetter_test.go
Labels: size/M

#9411 Added s390x support to get script
  scripts/get
Labels: size/XS
