Repository helm/helm, pull requests merged in 2021-08, with the labels that each got.

#9973 feat(comp): Add support for powershell completion
  cmd/helm/completion.go
Labels: size/M

#9990 feat(comp): Move to Cobra's bash completion V2
  cmd/helm/completion.go
Labels: size/S

#9774 Add a more friendly prompt when index.yaml is empty.
  pkg/repo/index.go
  pkg/repo/index_test.go
Labels: size/S

#9998 Switch to distribution v3
  go.mod
  go.sum
  internal/experimental/registry/client_test.go
  pkg/repo/repotest/server.go
Labels: size/M

#9970 Update oras-go to latest version
  cmd/helm/registry_login.go
  go.mod
  go.sum
  internal/experimental/registry/authorizer.go
  internal/experimental/registry/cache.go
  internal/experimental/registry/client.go
  internal/experimental/registry/client_test.go
  internal/experimental/registry/util.go
  pkg/action/action_test.go
  pkg/repo/repotest/server.go
Labels: size/M

#9889 fix: refactor downloadAll
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: refactor, size/L

#9980 feat(helm): add --password-stdin to `helm repo add`
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
  cmd/helm/testdata/password
  pkg/downloader/chart_downloader_test.go
  pkg/repo/repotest/server.go
Labels: awaiting review, feature, size/M

#9421 Add descriptions to repo completions
  cmd/helm/repo_list.go
  cmd/helm/repo_remove_test.go
  cmd/helm/search_repo.go
  cmd/helm/testdata/output/repo_list_comp.txt
  cmd/helm/testdata/output/repo_repeat_comp.txt
Labels: size/M

#9986 kube client library bump to v0.21.3
  go.mod
  go.sum
Labels: size/M

#9914 feat(linter): check for nested resource-policy annotations
  pkg/lint/rules/template.go
  pkg/lint/rules/template_test.go
Labels: size/M

#10024 feat(repo update): Add flag for failing command if any update of a repo fails
  cmd/helm/repo_update.go
  cmd/helm/repo_update_test.go
Labels: feature, size/L

#9769 Update github.com/rubenv/sql-migrate
  go.mod
  go.sum
Labels: size/L

#9934 Clean up extra spaces
  pkg/downloader/testdata/repository/testing-https-insecureskip-tls-verify-index.yaml
Labels: size/XS

#10033 Implement show crds subcommand
  cmd/helm/show.go
  cmd/helm/show_test.go
  pkg/action/show.go
  pkg/action/show_test.go
Labels: size/M

#10017 fix(engine): parse fail messages with newlines
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: size/M

#10047 Fix SIGSEGV when job.Spec.Completions is nil
  pkg/kube/ready.go
  pkg/kube/ready_test.go
Labels: size/S

#9993 Make Chart's IsRoot available to templates
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: feature, size/M

#9957 feat(pkg/engine): expose subcharts scope in parent
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: size/S

#10063 Updating to Kubernetes 1.22 packages
  go.mod
  go.sum
Labels: size/L

#10076 Fix HELM_DRIVER docs for sql option
  cmd/helm/root.go
Labels: size/XS, bug

#9822 Fix encoded path for 'helm dependency build'
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: size/XS

#10008 Fix helm plugins behavior another way
  pkg/plugin/installer/base.go
  pkg/plugin/installer/base_test.go
Labels: size/M

#9333 Fix 9332
  pkg/chartutil/coalesce.go
  pkg/chartutil/coalesce_test.go
Labels: size/M

#9702 feat: add optional boolean '--wait' flag to 'uninstall' command.
  cmd/helm/testdata/output/uninstall-wait.txt
  cmd/helm/uninstall.go
  cmd/helm/uninstall_test.go
  pkg/action/uninstall.go
  pkg/action/uninstall_test.go
  pkg/kube/client.go
  pkg/kube/fake/fake.go
  pkg/kube/fake/printer.go
  pkg/kube/interface.go
  pkg/kube/wait.go
Labels: awaiting review, size/L

#10084 Fixing issue with non-existant .Template when using tpl function
  pkg/engine/engine.go
Labels: size/XS, bug
