Repository helm/helm, pull requests merged in 2021-07, with the labels that each got.

#9882 fix(doc): fix kube client interface doc.
  pkg/kube/client.go
  pkg/kube/interface.go
Labels: size/S

#9916 fix(ci-lint): increase timeout for golangci-lint
  .golangci.yml
  Makefile
Labels: size/XS

#9736 fix(dep update): helm dep update is not respecting the "version" stip…
  internal/resolver/resolver.go
  internal/resolver/resolver_test.go
Labels: size/M

#9870 Set Helm as manager for managedFields
  cmd/helm/helm.go
  pkg/kube/client.go
Labels: bug, size/M

#9845 feat(cmd): Allow to specify which repos to update
  cmd/helm/repo_update.go
  cmd/helm/repo_update_test.go
  cmd/helm/testdata/repositories.yaml
Labels: size/L

#9925 Add build-pr github actions workflow
  .github/workflows/build-pr.yml
Labels: size/S

#9929 refactor: use os instead of ioutil's ReadDir
  cmd/helm/dependency_update_test.go
  cmd/helm/search_repo.go
  internal/third_party/dep/fs/fs.go
  pkg/action/lint.go
  pkg/downloader/manager.go
Labels: size/S

#9763 Ensure RawPath match Path when resolving reference
  pkg/repo/chartrepo.go
  pkg/repo/chartrepo_test.go
Labels: size/S

#9675 Migrate to oras-go library
  cmd/helm/registry_login.go
  go.mod
  go.sum
  internal/experimental/registry/authorizer.go
  internal/experimental/registry/cache.go
  internal/experimental/registry/client.go
  internal/experimental/registry/client_test.go
  internal/experimental/registry/util.go
  pkg/action/action_test.go
  pkg/repo/repotest/server.go
Labels: size/L

#9967 fix(typo): fix typo of storage doc
  pkg/storage/storage.go
Labels: size/XS

#9974 test: Make internal/resolver/resolver_test.go pass on Win
  internal/resolver/resolver_test.go
Labels: size/S
