Repository helm/helm, pull requests merged in 2021-11, with the labels that each got.

#10300 Fix a golint issue caused by typo
  pkg/action/upgrade.go
Labels: size/XS

#10311 Adding Scott Rigby as helm/helm maintainer
  OWNERS
Labels: size/XS

#10271 fix(helm): process dependencies import-values
  pkg/lint/lint_test.go
  pkg/lint/rules/template.go
  pkg/lint/rules/testdata/withsubchart/Chart.yaml
  pkg/lint/rules/testdata/withsubchart/charts/subchart/Chart.yaml
  pkg/lint/rules/testdata/withsubchart/charts/subchart/templates/subchart.yaml
  pkg/lint/rules/testdata/withsubchart/charts/subchart/values.yaml
  pkg/lint/rules/testdata/withsubchart/templates/mainchart.yaml
  pkg/lint/rules/testdata/withsubchart/values.yaml
Labels: size/M

#10332 Updating to Kubernetes 1.22.3 packages
  go.mod
  go.sum
Labels: size/M

#10302 Fail if target-directory does not exist
  scripts/get
Labels: size/XS

#10334 fix: added resource info into the validation error
  pkg/action/validate.go
Labels: size/XS

#10313 Fixes a SIGSEGV similar to issue 1347
  cmd/helm/list.go
Labels: size/XS

#10347 fix(install/upgrade): Use buffered channel for signal notification to avoid signal loss
  .github/workflows/build-pr.yml
  cmd/helm/install.go
  cmd/helm/root_unix.go
  cmd/helm/root_unix_test.go
  cmd/helm/upgrade.go
  pkg/helmpath/home_unix_test.go
  pkg/helmpath/lazypath_darwin.go
  pkg/helmpath/lazypath_darwin_test.go
  pkg/helmpath/lazypath_unix.go
  pkg/helmpath/lazypath_unix_test.go
Labels: size/S, bug

#10294 upgrade oras to 0.5.0, refactor client oci logic to use new oras.Copy()
  .circleci/config.yml
  .github/workflows/build-pr.yml
  cmd/helm/registry_login.go
  go.mod
  go.sum
  internal/experimental/registry/client.go
  internal/experimental/registry/client_test.go
  pkg/provenance/sign.go
  pkg/provenance/sign_test.go
Labels: size/L

#10325 allow ldflags to overwrite k8s version
  pkg/chartutil/capabilities.go
  pkg/lint/rules/deprecations.go
Labels: size/XS

#10372 OWNERS: add zonggen to triage maintainers list
  OWNERS
Labels: size/XS

#10370 Fix specifying of Kubernetes version from build scripts
  .circleci/config.yml
  pkg/chartutil/capabilities.go
  pkg/lint/rules/deprecations.go
Labels: size/M, bug

#10385 Updating to Kubernetes 1.22.4 packages
  go.mod
  go.sum
Labels: dependencies

#10380 Update HELM_PLUGIN_SELF -> HELM_PLUGIN_DIR
  pkg/plugin/plugin_test.go
  pkg/plugin/testdata/plugdir/good/hello/plugin.yaml
Labels: size/XS

#10401 Add support for installing on Windows via Cygwin
  scripts/get-helm-3
Labels: size/XS

#10387 fix(pkg/kube): statefulSetReady: handle partition cases correctly
  pkg/kube/ready.go
  pkg/kube/ready_test.go
Labels: size/S

#9918 fix(install): fix 9915
  pkg/action/install.go
Labels: size/XS, bug

#9794 Add hint to missing dependency message
  cmd/helm/install.go
  cmd/helm/testdata/output/upgrade-with-missing-dependencies.txt
  cmd/helm/upgrade.go
Labels: size/XS

#9640 Add error check to avoid panic
  pkg/kube/client.go
Labels: size/XS

#10230 add SetNamespace method for EnvSettings, in order to set namespace in helm sdk
  pkg/cli/environment.go
  pkg/cli/environment_test.go
Labels: size/S
