Repository helm/helm, pull requests merged in 2021-01, with the labels that each got.

#8843 Implement `helm pull` for OCI registries
  cmd/helm/dependency.go
  cmd/helm/dependency_update.go
  cmd/helm/dependency_update_test.go
  cmd/helm/pull.go
  cmd/helm/pull_test.go
  cmd/helm/root.go
  cmd/helm/testdata/testcharts/oci-dependent-chart-0.1.0.tgz
  go.mod
  internal/experimental/registry/client.go
  internal/experimental/registry/client_test.go
  internal/resolver/resolver.go
  pkg/action/chart_pull.go
  pkg/action/pull.go
  pkg/downloader/chart_downloader.go
  pkg/downloader/manager.go
  pkg/getter/getter.go
  pkg/getter/getter_test.go
  pkg/getter/ocigetter.go
  pkg/repo/repotest/server.go
Labels: size/XL

#9189 Bumping kubernetes to 1.20.1
  go.mod
  go.sum
Labels: size/M

#8608 Reduce linting severity for users of out-of-date kubernetes
  Makefile
  cmd/helm/testdata/output/template-name-template.txt
  cmd/helm/testdata/output/template-set.txt
  cmd/helm/testdata/output/template-show-only-multiple.txt
  cmd/helm/testdata/output/template-show-only-one.txt
  cmd/helm/testdata/output/template-skip-tests.txt
  cmd/helm/testdata/output/template-values-files.txt
  cmd/helm/testdata/output/template-with-api-version.txt
  cmd/helm/testdata/output/template-with-crds.txt
  cmd/helm/testdata/output/template.txt
  pkg/chartutil/capabilities.go
  pkg/chartutil/capabilities_test.go
  pkg/lint/rules/deprecations.go
  pkg/lint/rules/deprecations_test.go
  pkg/lint/rules/template.go
Labels: bug, size/L

#9193 Adding apiserver to mod/sum
  go.mod
  go.sum
Labels: size/XS

#9196 Fix typo in comment
  pkg/action/pull.go
Labels: size/XS

#9195 bump version to
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#9200 Fix dep build with OCI based charts
  cmd/helm/dependency.go
  cmd/helm/dependency_build.go
  cmd/helm/dependency_build_test.go
  pkg/downloader/manager.go
Labels: needs-pick, size/M

#9192 fix(Makefile): rebuild the binary if go.mod has changed
  Makefile
Labels: size/XS

#9222 chore(Makefile): add target to generate golden files
  Makefile
Labels: size/XS

#9261 Use kube libraries v0.20.2
  go.mod
  go.sum
Labels: size/L

#9240 print warning message instead of debug message when ~/.config exists but is not accessible
  cmd/helm/helm.go
Labels: size/XS

#9232 Update default ingress values section to correspond with template
  pkg/chartutil/create.go
Labels: needs-pick, size/XS

#9269 Upgrade to oras v0.9.0
  cmd/helm/repo_add.go
  go.mod
  go.sum
  pkg/action/package.go
Labels: size/L
