Repository helm/helm, pull requests merged in 2021-05, with the labels that each got.

#9595 Upgrade to kubernetes 1.21 / libraries 0.21.0
  go.mod
  go.sum
  pkg/action/lazyclient.go
Labels: size/L

#9425 Add ReadyChecker to decouple ready check logic from --wait
  pkg/kube/client.go
  pkg/kube/ready.go
  pkg/kube/ready_test.go
  pkg/kube/wait.go
Labels: size/XL

#9621 Ingress v1 template
  pkg/chartutil/create.go
  pkg/lint/rules/testdata/v3-fail/templates/ingress.yaml
Labels: size/M

#9492 chore(deps): Bump github.com/deislabs/oras from v0.10.0 to v0.11.1
  go.mod
  go.sum
Labels: size/S

#9679 Add example of --template usage
  cmd/helm/version.go
Labels: size/XS

#9721 Move viglesiasce to emeritus
  OWNERS
Labels: size/XS

#9718 Improve markdown rendering of commands help for shell completion
  cmd/helm/completion.go
Labels: size/S

#9716 bump version to v3.6.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#9734 Switched Brian emeritus
  OWNERS
Labels: size/XS
