Repository helm/helm, pull requests merged in 2021-06, with the labels that each got.

#9030 fix helm dep build/update doesn't inherit --insecure-skip-tls-verify from helm repo add
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
  pkg/downloader/testdata/repositories.yaml
  pkg/downloader/testdata/repository/testing-https-insecureskip-tls-verify-index.yaml
Labels: size/M

#9756 Fix coalesce globals to prevent subchart globals to leak upstream
  pkg/chartutil/coalesce.go
  pkg/chartutil/coalesce_test.go
Labels: size/S

#9623 Fix install scripts, hardcode latest/last v2 release
  scripts/get
Labels: size/S

#9681 support max-col-width parameters
  cmd/helm/chart_list.go
  cmd/helm/dependency.go
  internal/experimental/registry/client.go
  internal/experimental/registry/client_opts.go
  pkg/action/chart_list.go
  pkg/action/dependency.go
Labels: feature, size/M

#9066 [FIX]Unified go specification
  pkg/action/action.go
  pkg/action/install.go
  pkg/downloader/manager.go
  pkg/engine/lookup_func.go
  pkg/getter/httpgetter.go
  pkg/lint/rules/template.go
  pkg/plugin/plugin.go
Labels: size/M

#9035 Fail message is now the same as the required message.
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: bug, size/M

#8853 Correctly determine lockfile path in helm repo add
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
Labels: bug, size/S

#8470 fix(sql storage): Query() should return ErrReleaseNotFound immediately when no records are found
  pkg/storage/driver/sql.go
  pkg/storage/driver/sql_test.go
Labels: size/S

#9659 Feature/upgrade dep up
  cmd/helm/install.go
  cmd/helm/testdata/output/upgrade-with-dependency-update.txt
  cmd/helm/testdata/testcharts/chart-with-subchart-update/Chart.lock
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
  pkg/action/upgrade.go
Labels: size/M

#9828 use TLS client information from repo config when downloading a chart
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: bug, needs-pick, size/S

#9862 refactor(getter): refine http GET request
  pkg/getter/httpgetter.go
Labels: size/S

#9871 Fix the url being set by WithURL on the getters
  cmd/helm/install_test.go
  pkg/downloader/chart_downloader.go
Labels: bug, size/S
