Repository helm/helm, pull requests merged in 2022-11, with the labels that each got.

#11300 During deletion, explicitly log already deleted resource.
  pkg/kube/client.go
Labels: awaiting review, size/S

#11480 redirect registry client output to stderr
  cmd/helm/root.go
Labels: size/XS

#11442 fix a few function names on comments
  pkg/action/lint.go
  pkg/engine/lookup_func.go
  pkg/plugin/installer/http_installer.go
Labels: size/XS

#11426 Fix handling of "leader changed" errors
  go.mod
  go.sum
  pkg/cli/environment.go
  pkg/cli/roundtripper.go
  pkg/kube/wait.go
  pkg/kube/wait_test.go
Labels: size/L

#11494 Add a flag var to check git is installed or not
  scripts/get-helm-3
Labels: feature, size/XS
