Repository helm/helm, pull requests merged in 2022-12, with the labels that each got.

#11582 bump sprig version 3.2.3
  go.mod
  go.sum
Labels: size/M

#11508 improve error message on plugin install
  pkg/plugin/installer/local_installer.go
  pkg/plugin/installer/local_installer_test.go
Labels: size/S

#11599 Added support for insecure OCI registries
  cmd/helm/push.go
  cmd/helm/registry_login.go
  internal/tlsutil/tls.go
  internal/tlsutil/tlsutil_test.go
  pkg/action/install.go
  pkg/action/pull.go
  pkg/action/push.go
  pkg/action/registry_login.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
  pkg/getter/ocigetter.go
  pkg/getter/ocigetter_test.go
  pkg/pusher/ocipusher.go
  pkg/pusher/ocipusher_test.go
  pkg/pusher/pusher.go
  pkg/registry/client_test.go
  pkg/registry/client_tls_test.go
  pkg/registry/util.go
  pkg/registry/utils_test.go
  pkg/repo/repotest/server.go
Labels: size/L

#11604 Update chartrepo.go
  pkg/repo/chartrepo.go
Labels: size/XS

#11659 Provide a helper to set the registryClient in cmd
  cmd/helm/install.go
  cmd/helm/pull.go
  cmd/helm/push.go
  cmd/helm/root.go
  cmd/helm/show.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  pkg/action/install.go
  pkg/action/pull.go
  pkg/action/push.go
  pkg/action/show.go
  pkg/action/upgrade.go
Labels: size/L

#10912 feat(helm): Supporting helm3 to show up resource names in helm status
  cmd/helm/get_all.go
  cmd/helm/install.go
  cmd/helm/release_testing.go
  cmd/helm/status.go
  cmd/helm/status_test.go
  cmd/helm/testdata/output/status-with-resources.json
  cmd/helm/testdata/output/status-with-resources.txt
  cmd/helm/upgrade.go
  go.mod
  go.sum
  pkg/action/status.go
  pkg/kube/client.go
  pkg/kube/fake/printer.go
  pkg/kube/interface.go
  pkg/release/info.go
Labels: feature, size/XL
