Repository helm/helm, pull requests merged in 2022-03, with the labels that each got.

#10739 maint: fix syntax error in deploy.sh
  .circleci/deploy.sh
Labels: size/XS

#10462 add legal repo name check
  cmd/helm/repo_add.go
  cmd/helm/repo_add_test.go
Labels: awaiting review, size/M, needs-pick

#10609 fix: helm package with dependency update for charts with OCI dependencies
  cmd/helm/package.go
  cmd/helm/package_test.go
  cmd/helm/root.go
Labels: size/M

#10746 Updating Kubernetes libs to 0.23.4 (latest)
  go.mod
  go.sum
Labels: size/XS

#10461 Honor --dependency-update flag in upgrade command
  cmd/helm/upgrade.go
Labels: size/XS

#10581 Set go version to 1.17 to match CI
  go.mod
Labels: size/XS

#9751 fix(rollback): fix helm rollback doesn't have meta.helm.sh annotations
  pkg/action/rollback.go
Labels: size/XS

#10769 Fix/go mod 1.17
  go.mod
Labels: size/XS

#10568 HTTPGetter: Reuse http transport
  pkg/getter/getter.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
Labels: awaiting review, size/L, bug

#10453 Remove runTestActionCmd and use runTestCmd instead
  cmd/helm/helm_test.go
  cmd/helm/install_test.go
Labels: size/S
