Repository helm/helm, pull requests merged in 2022-10, with the labels that each got.

#11336 bump version to v3.10.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#11401 Tolerate temporary errors from etcdserver
  go.mod
  go.sum
  pkg/kube/wait.go
  pkg/kube/wait_test.go
Labels: size/M

#11044 add nil judge in dependency and maintainer validation
  pkg/chart/dependency.go
  pkg/chart/metadata.go
  pkg/chart/metadata_test.go
Labels: size/M, bug

#11172 fix: clean up temp files in FindChartInAuthAndTLSAndPassRepoURL (#11171)
  pkg/repo/chartrepo.go
Labels: size/XS, bug

#11427 Updating to kubernetes 1.25.2 packages
  go.mod
  go.sum
Labels: size/XS

#11433 Updating the repo the azure cli is installed from
  .circleci/deploy.sh
Labels: size/XS

#11436 Updating the deb location for azure cli
  .circleci/deploy.sh
Labels: size/XS

#11462 Readiness & liveness probes correct port
  pkg/chartutil/create.go
Labels: size/XS, bug
