Repository helm/helm, pull requests merged in 2022-04, with the labels that each got.

#10830 Updating vcs to latest version
  Makefile
  go.mod
  go.sum
Labels: size/XS

#10836 Bumping Kubernetes package versions
  go.mod
  go.sum
Labels: size/XS

#10110 Fix value precedence
  pkg/chartutil/dependencies.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/testdata/three-level-dependent-chart/README.md
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/Chart.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app1/Chart.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app1/charts/library/Chart.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app1/charts/library/templates/service.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app1/charts/library/values.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app1/templates/service.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app1/values.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app2/Chart.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app2/charts/library/Chart.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app2/charts/library/templates/service.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app2/charts/library/values.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app2/templates/service.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/charts/app2/values.yaml
  pkg/chartutil/testdata/three-level-dependent-chart/umbrella/values.yaml
Labels: size/L, bug

#10832 Fixing downloader plugin error handling
  pkg/cli/values/options.go
Labels: size/XS

#10850 Populate Capabilities.HelmVersion during install
  pkg/action/action.go
Labels: size/XS

#10854 Fix confusing test failure message
  cmd/helm/helm_test.go
Labels: size/XS

#10861 replace +build with go:build
  cmd/helm/root_unix.go
  cmd/helm/root_unix_test.go
  internal/third_party/dep/fs/rename.go
  internal/third_party/dep/fs/rename_windows.go
  pkg/helmpath/home_unix_test.go
  pkg/helmpath/home_windows_test.go
  pkg/helmpath/lazypath_darwin.go
  pkg/helmpath/lazypath_darwin_test.go
  pkg/helmpath/lazypath_unix.go
  pkg/helmpath/lazypath_unix_test.go
  pkg/helmpath/lazypath_windows.go
  pkg/helmpath/lazypath_windows_test.go
Labels: size/S

#10906 fix(helm): update golang.org/x/crypto to latest
  go.mod
  go.sum
Labels: size/XS

#10201 Add more error checks during the signing process
  pkg/provenance/sign.go
  pkg/provenance/sign_test.go
Labels: size/M, bug

#10085 "... has no deployed releases" error when release history contains only failed releases and history limit reached
  pkg/storage/storage.go
  pkg/storage/storage_test.go
Labels: size/M

#10917 Updating symlink log message
  internal/sympath/walk.go
Labels: size/XS
