Repository helm/helm, pull requests merged in 2022-06, with the labels that each got.

#11018 Upgrading to Kubernetes 1.24.1 packages
  go.mod
  go.sum
Labels: size/XS

#10944 feat(*): add flags/env for kube api tls overrides
  cmd/helm/load_plugins.go
  cmd/helm/root.go
  cmd/helm/testdata/output/env-comp.txt
  pkg/cli/environment.go
  pkg/cli/environment_test.go
Labels: size/L

#11086 Make token caching an opt in feature in OCI registry client
  cmd/helm/root.go
  go.sum
  pkg/getter/ocigetter.go
  pkg/pusher/ocipusher.go
  pkg/registry/client.go
  pkg/registry/client_test.go
  pkg/repo/repotest/server.go
Labels: size/S, bug
