Repository helm/helm, pull requests merged in 2022-08, with the labels that each got.

#11143 fixes #11142 missing array length check on release
  pkg/storage/driver/util.go
Labels: size/XS, bug

#11153 Update github.com/emicklei/go-restful to fix CVE-2022-1996
  go.mod
  go.sum
Labels: size/XS

#11205 chore: add oci install description
  cmd/helm/install.go
Labels: size/XS

#11214 fix special string in the filename
  pkg/cli/values/options.go
  pkg/cli/values/options_test.go
Labels: size/S

#10506 Add support for`helm list --no-headers`
  cmd/helm/list.go
  cmd/helm/list_test.go
  cmd/helm/testdata/output/list-no-headers.txt
  pkg/action/list.go
Labels: awaiting review, feature, size/S

#10834 Log error message on failed download
  cmd/helm/show_test.go
  pkg/action/install.go
Labels: size/S, bug

#11233 Drop direct github.com/docker/docker dependency
  cmd/helm/registry_login.go
  go.mod
Labels: size/XS

#11263 Updating the certificates used for testing
  testdata/crt.pem
  testdata/rootca.crt
  testdata/rootca.key
Labels: size/L
