Repository helm/helm, pull requests merged in 2022-05, with the labels that each got.

#10909 Bumping Kubernetes package version to 0.23.6
  go.mod
  go.sum
Labels: size/XS, dependencies

#10924 Added sabre1041 as project maintainer
  OWNERS
Labels: size/XS

#10767 repo: fix repo merge unit test
  pkg/repo/index_test.go
Labels: awaiting review, size/S

#10926 Fix --untardir reference in --destination description
  cmd/helm/pull.go
Labels: size/XS

#10106 feat(*): add --quiet flag to 'helm lint'
  cmd/helm/lint.go
  cmd/helm/lint_test.go
  cmd/helm/testdata/output/lint-quiet-with-error.txt
  cmd/helm/testdata/output/lint-quiet-with-warning.txt
  cmd/helm/testdata/output/lint-quiet.txt
  pkg/action/lint.go
Labels: size/M

#10945 bump version to v3.9.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#10910 fix(helm): update golang.org/x/crypto to latest
  go.mod
  go.sum
Labels: size/XS

#10762 fix --registry-config issue
  pkg/action/install.go
Labels: size/XS

#10519 fix(helm): ignore file-not-found error for `helm repo list -o json`
  cmd/helm/repo_list.go
Labels: size/XS

#10842 Add --burst-limit option for client-side throttling limit configuration
  cmd/helm/root.go
  cmd/helm/testdata/output/env-comp.txt
  pkg/cli/environment.go
  pkg/cli/environment_test.go
Labels: feature, size/M
