Repository helm/helm, pull requests merged in 2023-04, with the labels that each got.

#11832 chore:Use http constants as http.request parameters
  internal/monocular/search.go
Labels: size/XS

#11978 Fix goroutine leak in action install
  pkg/action/install.go
Labels: size/S

#11898 Fix goroutine leak in perform
  go.mod
  go.sum
  pkg/kube/client.go
Labels: size/S

#11479 Add option to support foreground cascade deletion
  cmd/helm/uninstall.go
  pkg/action/uninstall.go
  pkg/action/uninstall_test.go
  pkg/kube/client.go
  pkg/kube/fake/fake.go
  pkg/kube/fake/printer.go
  pkg/kube/interface.go
Labels: size/L

#9182 Provide an alternative for --set and/or --set-string to take a value literally
  cmd/helm/flags.go
  pkg/cli/values/options.go
  pkg/strvals/literal_parser.go
  pkg/strvals/literal_parser_test.go
Labels: feature, size/XL

#11973 fail quiet linting when an error occurs
  cmd/helm/lint_test.go
  pkg/action/lint.go
Labels: size/XS

#11948 fix: failed testcase on windows
  pkg/chartutil/save_test.go
Labels: size/XS, bug
