Repository helm/helm, pull requests merged in 2023-06, with the labels that each got.

#12056 update autoscaling/v2beta1 to autoscaling/v2 in skeleton chart
  pkg/chartutil/create.go
Labels: size/S, bug, needs-pick

#11397 bugfix: helm lint infinite loop
  pkg/lint/lint_test.go
  pkg/lint/rules/template.go
  pkg/lint/rules/testdata/malformed-template/.helmignore
  pkg/lint/rules/testdata/malformed-template/Chart.yaml
  pkg/lint/rules/testdata/malformed-template/templates/bad.yaml
  pkg/lint/rules/testdata/malformed-template/values.yaml
Labels: size/L

#12166 chore: fix a typo in `manager.go`
  pkg/downloader/manager.go
Labels: size/XS

#12036 bump version to v3.12.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S
