Repository helm/helm, pull requests merged in 2023-07, with the labels that each got.

#12177 Add created OCI annotation
  pkg/registry/client.go
  pkg/registry/util.go
  pkg/registry/util_test.go
  pkg/registry/utils_test.go
Labels: size/M

#12186 Add gjenkins8 as triage maintainer
  OWNERS
Labels: size/XS

#11456 Backfill tests for the `tpl` function
  pkg/engine/engine_test.go
Labels: size/L

#11529 bugfix: SIGSEGV with OCI chart reference using helm template
  cmd/helm/install.go
  pkg/action/install.go
Labels: size/XS

#10397 Adjust error message wrongly claiming that there is a resource conflict
  pkg/action/install.go
  pkg/action/upgrade.go
Labels: size/XS

#11498 Update dependabot config to include github actions
  .github/dependabot.yml
Labels: size/XS

#12215 bump kubernetes modules to v0.27.3
  go.mod
  go.sum
Labels: size/M, dependencies

#9426 feat(helm): add ability for --dry-run to do lookup functions
  cmd/helm/install.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  pkg/action/action.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/upgrade.go
Labels: size/M

#12243 Tweaking new dry-run internal handling
  cmd/helm/install.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  pkg/action/install.go
  pkg/action/upgrade.go
Labels: size/M

#11758 strip trailing newline from Files.Lines
  pkg/engine/files.go
  pkg/engine/files_test.go
Labels: size/S
