Repository helm/helm, pull requests merged in 2023-11, with the labels that each got.

#9653 feat(helm): Add --reset-then-reuse-values flag to 'helm upgrade'
  cmd/helm/upgrade.go
  pkg/action/upgrade.go
  pkg/action/upgrade_test.go
Labels: size/M, Has One Approval

#12447 Allow using label selectors for system labels for secrets and configmap
  pkg/storage/driver/cfgmaps.go
  pkg/storage/driver/cfgmaps_test.go
  pkg/storage/driver/secrets.go
  pkg/storage/driver/secrets_test.go
  pkg/storage/driver/sql.go
  pkg/storage/driver/sql_test.go
Labels: size/M, Has One Approval

#12539 Fixing release labelling in rollback
  cmd/helm/rollback_test.go
  pkg/action/rollback.go
Labels: size/XS

#12519 fix version retrieval of get-helm-3
  scripts/get-helm-3
Labels: size/XS, Has One Approval

#12457 chore(create): indent to spaces
  pkg/chartutil/create.go
Labels: size/XS, bug

#12554 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/XS
