Repository helm/helm, pull requests merged in 2023-10, with the labels that each got.

#12445 remove useless print during prepareUpgrade
  pkg/action/upgrade.go
Labels: size/XS

#12429 fix(registry): unswallow error
  pkg/registry/client.go
Labels: size/XS

#12433 FIX Default ServiceAccount yaml
  pkg/chartutil/create.go
Labels: size/XS

#12437 Add missing with clause to release gh action
  .github/workflows/release.yml
Labels: size/XS

#12480 Fixing precedence issue with the import of values.
  cmd/helm/template_test.go
  cmd/helm/testdata/output/template-subchart-cm.txt
  pkg/chartutil/dependencies.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/testdata/three-level-dependent-chart/README.md
Labels: size/M, bug

#12397 Update get-helm-3 to get version through get.helm.sh
  scripts/get-helm-3
Labels: size/XS

#12524 Revert "fix(registry): address anonymous pull issue"
  pkg/registry/client.go
  pkg/registry/util.go
  pkg/registry/util_test.go
Labels: size/M

#12527 Revert "fix(main): fix basic auth for helm pull or push"
  pkg/registry/client.go
  pkg/registry/util.go
  pkg/registry/util_test.go
Labels: size/M
