Repository helm/helm, pull requests merged in 2023-05, with the labels that each got.

#12015 chore: bump k8s.io dependencies to v0.27.1
  go.mod
  go.sum
  pkg/kube/client.go
  pkg/kube/factory.go
  pkg/kube/wait.go
Labels: size/L

#11894 Bump k8s.io deps from v0.26.0 to v0.27.0
  go.mod
  go.sum
  pkg/kube/client.go
  pkg/kube/factory.go
  pkg/kube/wait.go
Labels: size/L

#11204 Attach annotations to OCI artifacts
  pkg/registry/client.go
  pkg/registry/util.go
  pkg/registry/util_test.go
  pkg/registry/utils_test.go
Labels: size/L

#12034 Updating the Helm maintainers
  OWNERS
Labels: size/XS

#12059 move Joe Julian to maintainer
  OWNERS
Labels: size/XS

#11870 full source path for CRDs when output-dir is not provided
  pkg/action/action.go
Labels: size/XS

#12067 tests: change crd golden file to match after #11870
  cmd/helm/testdata/output/template-with-crds.txt
Labels: size/XS

#12096 update kubernetes dependencies from v0.27.0 to v0.27.1
  go.mod
  go.sum
Labels: size/L, bug, dependencies

#11455 Strict file permissions for repository.yaml
  cmd/helm/repo_add.go
  cmd/helm/repo_remove.go
  pkg/repo/repo_test.go
  pkg/repo/repotest/server.go
Labels: size/S, bug

#11501 Add test for exact version selection
  pkg/repo/index_test.go
Labels: size/XS
