Repository helm/helm, pull requests merged in 2023-01, with the labels that each got.

#11616 docs: add docs for cli/values.Options
  pkg/cli/values/options.go
Labels: size/S

#11524 harmonize URL reference resolving
  pkg/downloader/chart_downloader.go
  pkg/repo/chartrepo.go
  pkg/repo/chartrepo_test.go
Labels: size/M

#11226 Fix User-Agent header in requests made by Helm
  pkg/cli/environment.go
  pkg/cli/environment_test.go
  pkg/getter/httpgetter_test.go
  pkg/repo/chartrepo.go
Labels: size/S

#11622 Bump k8s.io deps to v0.26.0
  go.mod
  go.sum
Labels: size/XXL

#11628 change linting error messages for null values in arrays
  pkg/chart/dependency.go
  pkg/chart/metadata.go
  pkg/chart/metadata_test.go
Labels: size/XS

#11609 Bump containerd to 1.6.15, oras-go to 1.2.2 and image-spec to v1.1.0-rc2
  go.mod
  go.sum
Labels: size/L

#11489 update .golangci for go1.18
  .golangci.yml
Labels: size/XS

#11490 Add support for CSVs in template --api-versions arg
  cmd/helm/template.go
Labels: size/XS

#11439 use intstr.GetScaledValueFromIntOrPercent instead of the deprecated
  pkg/kube/ready.go
Labels: size/XS

#11672 [CMD/PKG] Adopted resource not replaced when using upgrade --install --force
  cmd/helm/install.go
  cmd/helm/upgrade.go
  pkg/action/install.go
Labels: size/XS

#11704 bump version to v3.11.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#11723 Check status code before retrying request
  pkg/cli/roundtripper.go
Labels: size/XS

#11720 Fix improper use of Table request/response to k8s API
  cmd/helm/status.go
  pkg/action/status.go
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/fake/fake.go
  pkg/kube/fake/printer.go
  pkg/kube/interface.go
Labels: size/L
