Repository helm/helm, pull requests merged in 2023-09, with the labels that each got.

#12245 Add support for creating repository indexes in JSON format
  cmd/helm/repo_index.go
  cmd/helm/repo_index_test.go
  pkg/repo/index.go
  pkg/repo/index_test.go
  pkg/repo/testdata/local-index.json
Labels: size/L, Has One Approval

#12356 make the dependabot k8s.io group explicit
  .github/dependabot.yml
Labels: size/S

#12019 sql driver with rw-roles
  pkg/storage/driver/sql.go
  pkg/storage/driver/sql_test.go
Labels: feature, size/M, Has One Approval

#11294 test: replace `ensure.TempDir` with `t.TempDir`
  cmd/helm/create_test.go
  cmd/helm/dependency_update_test.go
  cmd/helm/package_test.go
  cmd/helm/repo_add_test.go
  cmd/helm/repo_index_test.go
  cmd/helm/repo_remove_test.go
  cmd/helm/repo_update_test.go
  cmd/helm/root_test.go
  cmd/helm/upgrade_test.go
  internal/test/ensure/ensure.go
  pkg/action/package_test.go
  pkg/chartutil/save_test.go
  pkg/downloader/chart_downloader_test.go
  pkg/lint/rules/dependencies_test.go
  pkg/lint/rules/template_test.go
  pkg/lint/rules/values_test.go
  pkg/plugin/installer/http_installer_test.go
  pkg/plugin/installer/vcs_installer_test.go
  pkg/postrender/exec_test.go
  pkg/repo/chartrepo_test.go
  pkg/repo/repotest/server_test.go
Labels: size/L, Has One Approval

#12390 Update Helm to use k8s 1.28.2 libraries
  go.mod
  go.sum
Labels: size/XL

#11372 #11369 Fix custom repo index cache directory for unmanaged dependency updates
  cmd/helm/dependency_update_test.go
  pkg/downloader/manager.go
Labels: size/M, Has One Approval

#12088 Fix leaking goroutines in Install
  pkg/action/install.go
  pkg/action/install_test.go
Labels: size/L, Has One Approval

#10913 fix: plugin does not load when helm base dir contains space
  cmd/helm/load_plugins.go
  cmd/helm/plugin_test.go
  cmd/helm/testdata/helm home with space/helm/plugins/fullenv/completion.yaml
  cmd/helm/testdata/helm home with space/helm/plugins/fullenv/fullenv.sh
  cmd/helm/testdata/helm home with space/helm/plugins/fullenv/plugin.yaml
  cmd/helm/testdata/helm home with space/helm/repositories.yaml
  cmd/helm/testdata/helm home with space/helm/repository/test-name-charts.txt
  cmd/helm/testdata/helm home with space/helm/repository/test-name-index.yaml
  cmd/helm/testdata/helm home with space/helm/repository/testing-index.yaml
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
Labels: size/L, Has One Approval

#12396 Write latest version to get.helm.sh bucket
  .github/workflows/release.yml
Labels: size/XS

#12394 Increased release information key name max length.
  pkg/storage/driver/sql.go
Labels: size/XS

#11880 helm search: new CLI flag `--fail-on-no-result` to fail when no results found for search (repo and hub)
  cmd/helm/search_hub.go
  cmd/helm/search_hub_test.go
  cmd/helm/search_repo.go
  cmd/helm/search_repo_test.go
  cmd/helm/testdata/output/search-not-found-error.txt
Labels: size/L

#12425 Fix missing run statement on release action
  .github/workflows/release.yml
Labels: size/XS

#12424 fix(registry): address anonymous pull issue
  pkg/registry/client.go
  pkg/registry/util.go
  pkg/registry/util_test.go
Labels: size/M, Has One Approval
