Repository helm/helm, pull requests merged in 2024-09, with the labels that each got.

#13300 bump version to v3.16.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#13287 Adding golang govulncheck action
  .github/workflows/build-test.yml
  .github/workflows/govulncheck.yml
Labels: size/S, Has One Approval

#13322 Update Adopters.md - Add New Relic
  ADOPTERS.md
Labels: size/XS

#13109 Update ADOPTERS.md
  ADOPTERS.md
Labels: size/XS

#13323 bumping version to 1.22.7
  .github/workflows/build-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
Labels: size/S

#13327 Revert "Improve helm dependency update performance"
  internal/resolver/resolver.go
  internal/resolver/resolver_test.go
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: size/M

#12026 Feature / toml parsing
  pkg/engine/engine_test.go
  pkg/engine/funcs.go
  pkg/engine/funcs_test.go
Labels: size/M, Has One Approval

#13259 fix: fixed the token-permission and pinned-dependencies issue
  .github/workflows/build-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/stale-issue-bot.yaml
Labels: size/S, Has One Approval

#13233 Added the scorecard github action and its badge
  .github/workflows/scorecards.yml
  README.md
Labels: size/M, Has One Approval

#13224 kube/client: add to global client-go scheme in init func
  pkg/kube/client.go
Labels: size/S, Has One Approval

#12583 Added `toYamlPretty` template function
  pkg/engine/funcs.go
  pkg/engine/funcs_test.go
Labels: feature, size/S

#13335 Fixing codeql permissions
  .github/workflows/codeql-analysis.yml
Labels: size/XS

#13329 fix: fix testchart lint errors
  pkg/chartutil/create.go
Labels: size/XS

#13348 Fixing gh actions permissions
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
Labels: size/XS, Has One Approval

#11923 test(create): Add test to check deprecated `apiVersion`s in resource templates created by `helm create`
  Makefile
  pkg/chartutil/create.go
  pkg/lint/lint_test.go
Labels: size/M, Has One Approval

#13240 docs(repo_index): explicitly state that the result is written to the directory passed in
  cmd/helm/repo_index.go
Labels: size/XS

#13355 Move gjenkins to maintainer
  OWNERS
Labels: size/XS

#13301 Fix typos
  CONTRIBUTING.md
  cmd/helm/load_plugins.go
  cmd/helm/root.go
  cmd/helm/search_repo.go
  cmd/helm/testdata/testcharts/chart-with-template-lib-dep/charts/common/README.md
  cmd/helm/testdata/testcharts/lib-chart/README.md
  internal/resolver/resolver.go
  internal/third_party/dep/fs/fs.go
  internal/tlsutil/tls.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/testdata/charts/chart-with-uncompressed-dependencies/values.yaml
  pkg/action/upgrade.go
  pkg/action/upgrade_test.go
  pkg/chart/loader/archive.go
  pkg/chartutil/dependencies.go
  pkg/chartutil/expand_test.go
  pkg/cli/output/output.go
  pkg/downloader/manager.go
  pkg/engine/engine.go
  pkg/engine/lookup_func.go
  pkg/helmpath/lazypath.go
  pkg/ignore/doc.go
  pkg/kube/client.go
  pkg/kube/ready.go
  pkg/registry/util.go
  pkg/release/status.go
  pkg/repo/chartrepo_test.go
  pkg/repo/index.go
  pkg/storage/driver/mock_test.go
  pkg/storage/driver/sql.go
  pkg/storage/driver/sql_test.go
  pkg/strvals/parser.go
  pkg/strvals/parser_test.go
  pkg/time/time.go
Labels: size/L, Has One Approval
