Repository helm/helm, pull requests merged in 2024-11, with the labels that each got.

#13416 Increasing the size of the runner used for releases.
  .github/workflows/release.yml
Labels: size/XS

#13418 Add tests to `helm/pkg/kube/client_test.go` to cover `wait.go`
  pkg/kube/client_test.go
Labels: size/L

#13424 fix: fix label name
  pkg/chartutil/testdata/subpop/charts/subchart2/charts/subchartB/templates/service.yaml
Labels: size/XS, bug

#13432 Adding CI for dev-v3 branch
  .github/workflows/build-test.yml
  .github/workflows/codeql-analysis.yml
Labels: size/XS

#13425 Fix typo "re-use" to "reuse"
  cmd/helm/install.go
  cmd/helm/install_test.go
  pkg/action/action.go
  pkg/action/install.go
  pkg/action/upgrade.go
Labels: size/S, Has One Approval

#13443 Updating docs around v3 and v4
  CONTRIBUTING.md
  README.md
Labels: size/XS

#13343 Add annotations and dependencies to get metadata output
  cmd/helm/get_metadata.go
  cmd/helm/testdata/output/get-metadata.json
  cmd/helm/testdata/output/get-metadata.txt
  cmd/helm/testdata/output/get-metadata.yaml
  pkg/action/get_metadata.go
  pkg/chart/dependency.go
  pkg/release/mock.go
Labels: size/L, Needs v3 fix, Has One Approval

#13465 Add precommit config to .gitignore
  .gitignore
Labels: size/XS

#13483 fix(helm): pass down username/password CLI parameters to OCI registry clients (v3 backport)
  cmd/helm/dependency.go
  cmd/helm/dependency_build.go
  cmd/helm/dependency_update.go
  cmd/helm/install.go
  cmd/helm/package.go
  cmd/helm/pull.go
  cmd/helm/push.go
  cmd/helm/root.go
  cmd/helm/show.go
  cmd/helm/template.go
  cmd/helm/upgrade.go
  pkg/action/dependency.go
  pkg/action/install.go
  pkg/action/package.go
  pkg/registry/client.go
  pkg/registry/utils_test.go
Labels: size/L, v3.x
