Repository helm/helm, pull requests merged in 2024-10, with the labels that each got.

#13338 Remove the Kubernetes configuration file permissions check
  cmd/helm/root.go
  cmd/helm/root_unix.go
  cmd/helm/root_unix_test.go
  cmd/helm/root_windows.go
Labels: size/L, Has One Approval

#13328 adding check-latest:true
  .github/workflows/build-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
Labels: size/S, Has One Approval

#13349 Format chart name
  cmd/helm/history.go
  cmd/helm/list.go
Labels: size/XS

#13369 updating owners file
  OWNERS
Labels: size/XS

#13344 add strvals fuzzer from cncf-fuzzing
  pkg/strvals/fuzz_test.go
Labels: size/S, approved

#13345 add chart fuzz tests
  pkg/chart/fuzz_test.go
Labels: size/M, approved

#13177 Improves handling of Helm index with broken helm chart versions #13176
  pkg/repo/index.go
  pkg/repo/index_test.go
Labels: size/M, bug, Has One Approval

#13219 doc: add Flox as an installation option
  README.md
Labels: docs, size/XS

#13383 chore: Make retryingRoundTripper type public
  pkg/cli/environment.go
  pkg/kube/roundtripper.go
Labels: size/S, Has One Approval

#12788 changed Itoa to Sprintf to allow int64 value preventing 2038 overflow
  pkg/storage/driver/cfgmaps.go
  pkg/storage/driver/secrets.go
Labels: size/S, Has One Approval

#13385 chore: Add Evans to OWNERS file
  OWNERS
Labels: size/XS

#13386 minor spelling fix
  pkg/chartutil/create.go
Labels: size/XS

#9713 fix(helm): Retry Conflict error for createResource, deleteResource
  pkg/kube/client.go
  pkg/kube/client_test.go
Labels: size/L

#13397 adding test coverage for ready.go
  pkg/kube/ready_test.go
Labels: size/M, Has One Approval

#13399 Cleanup redundant GO111MODULE
  Makefile
Labels: size/S

#13402 adding more unit test
  pkg/kube/ready_test.go
Labels: size/XL

#13400 chore: fix some function names in comment
  pkg/action/push.go
  pkg/chartutil/validate_name_test.go
Labels: size/XS

#13403 chore: Check tar is installed install script
  scripts/get-helm-3
Labels: size/XS

#13034 ISSUE-9507: ADD `application/gzip,application/octet-stream` accept header
  pkg/downloader/chart_downloader.go
  pkg/getter/getter.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
Labels: size/M, Has One Approval

#13376 fix: Use chart archive modifed time for OCI push
  pkg/pusher/ocipusher.go
  pkg/time/ctime/ctime.go
  pkg/time/ctime/ctime_linux.go
  pkg/time/ctime/ctime_other.go
Labels: size/S, oci, Has One Approval

#13365 fix(hooks): correct hooks delete order
  pkg/action/hooks.go
Labels: size/XS, Has One Approval
