Repository helm/helm, pull requests merged in 2024-03, with the labels that each got.

#12834 Updating .gitignore
  .gitignore
Labels: size/XS

#12859 Add a note about --dry-run displaying secrets
  cmd/helm/install.go
  cmd/helm/upgrade.go
Labels: size/S

#11790 Add robustness to wait status checks
  pkg/kube/wait.go
Labels: size/M, Has One Approval

#12761 bug: add proxy support for oci getter
  pkg/getter/ocigetter.go
Labels: size/XS

#12903 Modified how created annotation is populated based on package creation time
  pkg/pusher/ocipusher.go
  pkg/registry/client.go
  pkg/registry/util.go
  pkg/registry/util_test.go
  pkg/registry/utils_test.go
  pkg/time/ctime/ctime.go
  pkg/time/ctime/ctime_linux.go
  pkg/time/ctime/ctime_other.go
Labels: size/L
