Repository helm/helm, pull requests merged in 2024-07, with the labels that each got.

#13117 Fix: add proxy support when mTLS configured on helm install/upgrade
  pkg/registry/util.go
Labels: size/XS

#12746 Remove circleci configuration
  .circleci/config.yml
Labels: size/S

#12924 Drop unused field.
  pkg/action/action.go
  pkg/action/uninstall.go
  pkg/chartutil/capabilities.go
  pkg/releaseutil/manifest_sorter.go
  pkg/releaseutil/manifest_sorter_test.go
Labels: size/S, Has One Approval

#13130 fix: update error handling in Configuration.Init method, add tests for the method
  pkg/action/action.go
  pkg/action/action_test.go
Labels: size/M, Has One Approval

#13085 Fix race condition in TestInstallRelease_Wait_Interrupted test
  pkg/action/install_test.go
Labels: size/S, Has One Approval

#13100 Add Syself to ADOPTERS.md
  ADOPTERS.md
Labels: size/XS

#13186 Move hickeyma to emeritus
  OWNERS
Labels: size/XS

#13194 docs: Introduce `docs needed` label
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: size/XS
