Repository helm/helm, pull requests merged in 2024-05, with the labels that each got.

#12971 Update testdata PKI with keys that have validity until 3393 (closes #12880)
  pkg/registry/testdata/tls/ca.crt
  pkg/registry/testdata/tls/ca.key
  pkg/registry/testdata/tls/client.crt
  pkg/registry/testdata/tls/client.key
  pkg/registry/testdata/tls/server.crt
  pkg/registry/testdata/tls/server.key
Labels: size/L

#12701 bump version to 3.14
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#13021 Updating to k8s 1.30
  .github/workflows/build-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  go.mod
  go.sum
Labels: size/L

#12860 Remove Helm 2 instructions from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/S, Has One Approval

#13031 Update github.com/asaskevich/govalidator
  go.mod
  go.sum
Labels: size/XS

#12867 feat(load.go): add warning on requirements.lock
  pkg/chart/loader/load.go
Labels: size/XS

#13013 bump version to v3.15.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#13059 Fixing build issue where wrong version is used
  .github/workflows/release.yml
Labels: size/XS

#13029 Windows arm64 build
  Makefile
  scripts/get
  scripts/get-helm-3
  scripts/release-notes.sh
Labels: size/XS

#13063 Update walk.go
  internal/sympath/walk.go
Labels: size/XS

#12998 bump oras minor version
  go.mod
  go.sum
Labels: size/M
