Repository helm/helm, pull requests merged in 2024-12, with the labels that each got.

#13212 Update ADOPTERS.md
  ADOPTERS.md
Labels: docs, size/XS

#13480 Make the authorizer and registry authorizer configurable
  pkg/registry/client.go
Labels: size/S, v3.x, Has One Approval

#12962 feat: Added multi-platform plugin hook support
  cmd/helm/plugin.go
  pkg/plugin/hooks.go
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
  pkg/plugin/testdata/plugdir/good/hello/hello.ps1
  pkg/plugin/testdata/plugdir/good/hello/plugin.yaml
Labels: size/XL, Has One Approval

#13509 Dependabot update `dev-v3` branch go modules
  .github/dependabot.yml
Labels: size/S

#13499 Shadow ORAS remote.Client interface
  pkg/registry/client.go
Labels: size/S, Needs v3 backport

#13444 fix(status): remove --show-desc and --show-resources flags
  cmd/helm/get_all.go
  cmd/helm/install.go
  cmd/helm/release_testing.go
  cmd/helm/status.go
  cmd/helm/status_test.go
  cmd/helm/testdata/output/chart-with-subchart-update.txt
  cmd/helm/testdata/output/deprecated-chart.txt
  cmd/helm/testdata/output/get-release.txt
  cmd/helm/testdata/output/install-and-replace.txt
  cmd/helm/testdata/output/install-dry-run-with-secret-hidden.txt
  cmd/helm/testdata/output/install-dry-run-with-secret.txt
  cmd/helm/testdata/output/install-name-template.txt
  cmd/helm/testdata/output/install-no-hooks.txt
  cmd/helm/testdata/output/install-with-multiple-values-files.txt
  cmd/helm/testdata/output/install-with-multiple-values.txt
  cmd/helm/testdata/output/install-with-timeout.txt
  cmd/helm/testdata/output/install-with-values-file.txt
  cmd/helm/testdata/output/install-with-values.txt
  cmd/helm/testdata/output/install-with-wait-for-jobs.txt
  cmd/helm/testdata/output/install-with-wait.txt
  cmd/helm/testdata/output/install.txt
  cmd/helm/testdata/output/schema.txt
  cmd/helm/testdata/output/status-with-notes.txt
  cmd/helm/testdata/output/status-with-resources.txt
  cmd/helm/testdata/output/status-with-test-suite.txt
  cmd/helm/testdata/output/status.txt
  cmd/helm/testdata/output/subchart-schema-cli.txt
  cmd/helm/testdata/output/upgrade-uninstalled-with-keep-history.txt
  cmd/helm/testdata/output/upgrade-with-dependency-update.txt
  cmd/helm/testdata/output/upgrade-with-install-timeout.txt
  cmd/helm/testdata/output/upgrade-with-install.txt
  cmd/helm/testdata/output/upgrade-with-reset-values.txt
  cmd/helm/testdata/output/upgrade-with-reset-values2.txt
  cmd/helm/testdata/output/upgrade-with-timeout.txt
  cmd/helm/testdata/output/upgrade-with-wait-for-jobs.txt
  cmd/helm/testdata/output/upgrade-with-wait.txt
  cmd/helm/testdata/output/upgrade.txt
  cmd/helm/upgrade.go
  pkg/action/status.go
Labels: size/L

#13532 Update k8s and crypto packages
  go.mod
  go.sum
Labels: size/M

#13529 Adding Oracle to the adopters list
  ADOPTERS.md
Labels: size/XS

#13439 Add --take-ownership flag for install and upgrade commands
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/testdata/output/install-and-take-ownership.txt
  cmd/helm/testdata/output/upgrade-and-take-ownership.txt
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
Labels: size/M, Needs v3 backport, needs-docs

#13531 v3 backport: Add --take-ownership flag for install and upgrade commands
  cmd/helm/install.go
  cmd/helm/install_test.go
  cmd/helm/testdata/output/install-and-take-ownership.txt
  cmd/helm/testdata/output/upgrade-and-take-ownership.txt
  cmd/helm/upgrade.go
  cmd/helm/upgrade_test.go
Labels: size/M, Has One Approval, needs-docs

#13546 Update to Go 1.23
  .github/workflows/build-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .golangci.yml
  cmd/helm/plugin_uninstall.go
  cmd/helm/plugin_update.go
  cmd/helm/status.go
  go.mod
  pkg/action/hooks.go
  pkg/engine/engine.go
  pkg/kube/client.go
  pkg/kube/wait.go
  pkg/registry/util.go
  scripts/validate-license.sh
Labels: size/M, Needs v3 backport

#13232 ref(create): don't render empty resource fields
  pkg/chartutil/create.go
Labels: size/S

#13552 Fix `dependabot.yml` `target-branch` typo
  .github/dependabot.yml
Labels: size/XS

#13563 Run `build-test` action on `dev-v3` branch
  .github/workflows/build-test.yml
Labels: size/XS

#13566 Fix dev-v3 from take ownership changes
  cmd/helm/testdata/output/install-and-take-ownership.txt
  cmd/helm/testdata/output/upgrade-and-take-ownership.txt
Labels: size/XS

#13567 Backport #13563 (fix testing on dev-v3 PRs)
  .github/workflows/build-test.yml
Labels: size/XS

#13580 Go 1.23 v3
  .github/workflows/build-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .golangci.yml
  cmd/helm/plugin_uninstall.go
  cmd/helm/plugin_update.go
  cmd/helm/status.go
  go.mod
  pkg/action/hooks.go
  pkg/engine/engine.go
  pkg/kube/client.go
  pkg/kube/wait.go
  pkg/registry/util.go
  scripts/validate-license.sh
Labels: size/M

#13512 fix: Shadow ORAS remote.Client interface [v3 backport]
  pkg/registry/client.go
Labels: size/S

#13575 ref(create): don't render empty resource fields [v3 backport]
  pkg/chartutil/create.go
Labels: size/S

#13574 Add annotations and dependencies to get metadata output [v3 backport]
  cmd/helm/get_metadata.go
  cmd/helm/testdata/output/get-metadata.json
  cmd/helm/testdata/output/get-metadata.txt
  cmd/helm/testdata/output/get-metadata.yaml
  pkg/action/get_metadata.go
  pkg/chart/dependency.go
  pkg/release/mock.go
Labels: size/L

#13581 Upgrade golang.org/x/net to v0.33.0 to address CVE-2024-45338
  go.mod
  go.sum
Labels: size/XS, Needs v3 backport

#13585 Upgrade golang.org/x/net to v0.33.0 to address CVE-2024-45338 (v3 backport)
  go.mod
  go.sum
Labels: size/XS, dependencies, go
