Repository helm/helm, pull requests merged in 2025-03, with the labels that each got.

#30590 fix:add proxy support when mTLS configured
  pkg/cmd/root.go
Labels: size/XS

#30618 Fix namespace flag not registering
  cmd/helm/helm.go
  pkg/cmd/helpers_test.go
  pkg/cmd/root.go
Labels: size/L, bug

#30611 chore: Remove 'coveralls'
  scripts/coverage.sh
Labels: size/S, Has One Approval

#12912 feat: add httproute from gateway-api to create chart template
  pkg/chart/v2/util/create.go
  pkg/cmd/create_test.go
Labels: feature, size/L, Needs v3 backport, Has One Approval

#30666 [v3] Updating to 0.37.0 for x/net
  go.mod
  go.sum
Labels: size/XS

#30665 Updating to 0.37.0 for x/net
  go.mod
  go.sum
Labels: size/XS

#30296 [v3 backport] Oras v2 v3 backport with http fallback
  cmd/helm/dependency_build_test.go
  cmd/helm/dependency_update_test.go
  cmd/helm/pull_test.go
  cmd/helm/registry_login.go
  go.mod
  go.sum
  pkg/action/registry_login.go
  pkg/downloader/chart_downloader_test.go
  pkg/registry/client.go
  pkg/registry/client_http_test.go
  pkg/registry/client_insecure_tls_test.go
  pkg/registry/client_test.go
  pkg/registry/client_tls_test.go
  pkg/registry/fallback.go
  pkg/registry/reference.go
  pkg/registry/util.go
  pkg/registry/utils_test.go
  pkg/repo/repotest/server.go
Labels: size/XL

#30693 chore: make function comment match function name
  pkg/registry/client.go
  pkg/storage/driver/mock_test.go
  pkg/storage/storage_test.go
Labels: size/XS

#30699 Error when failed repo update.
  pkg/cmd/repo_update.go
  pkg/cmd/repo_update_test.go
Labels: size/M, Has One Approval

#30603 converting inline log to slog
  internal/sympath/walk.go
  pkg/chart/v2/util/dependencies.go
  pkg/engine/engine.go
  pkg/engine/lookup_func.go
  pkg/ignore/rules.go
  pkg/plugin/installer/http_installer.go
  pkg/plugin/installer/installer.go
  pkg/plugin/installer/local_installer.go
  pkg/plugin/installer/vcs_installer.go
  pkg/release/util/manifest_sorter.go
  pkg/repo/chartrepo.go
Labels: size/M

#30684 Remove ClientOptResolver from OCI Client
  go.mod
  go.sum
  pkg/registry/client.go
  pkg/registry/client_test.go
Labels: size/M, Has One Approval

#30696 Inform about time spent waiting resources to be ready in slog format
  pkg/kube/wait.go
Labels: size/S, Has One Approval
