Repository helm/helm, pull requests merged in 2025-05, with the labels that each got.

#30824 Fix bug in .golangci.yml configuration
  .golangci.yml
Labels: size/XS

#30834 bump version to v3.18.0
  cmd/helm/testdata/output/version-client-shorthand.txt
  cmd/helm/testdata/output/version-client.txt
  cmd/helm/testdata/output/version-short.txt
  cmd/helm/testdata/output/version-template.txt
  cmd/helm/testdata/output/version.txt
  internal/version/version.go
  pkg/chartutil/capabilities_test.go
Labels: size/S

#30827 refactor: use slices.Contains to simplify code
  pkg/action/hooks.go
  pkg/chart/v2/util/capabilities.go
  pkg/cmd/install.go
  pkg/cmd/list.go
  pkg/cmd/load_plugins.go
  pkg/cmd/plugin_list.go
  pkg/getter/getter.go
  pkg/lint/rules/template.go
  pkg/plugin/installer/http_installer.go
  pkg/pusher/pusher.go
  pkg/registry/util.go
  pkg/storage/driver/util.go
Labels: size/M, Has One Approval

#30658 [v3 backport] feat: add httproute from gateway-api to create chart template
  cmd/helm/create_test.go
  pkg/chartutil/create.go
Labels: size/L

#30553 feat: Add mustToYaml and mustToJson template functions
  pkg/engine/funcs.go
  pkg/engine/funcs_test.go
Labels: feature, size/M, Has One Approval

#30844 fix: rename slave replica
  pkg/kube/client_test.go
Labels: size/S, Has One Approval

#30810 chore: enable usestdlibvars linter
  .golangci.yml
  internal/monocular/search.go
  pkg/kube/client_test.go
  pkg/registry/utils_test.go
  pkg/repo/repotest/server_test.go
Labels: size/L, Has One Approval

#30850 refactor: use maps.Copy for cleaner map handling
  pkg/action/validate.go
  pkg/chart/v2/loader/load.go
  pkg/chart/v2/util/coalesce.go
  pkg/chart/v2/util/coalesce_test.go
  pkg/engine/engine.go
  pkg/engine/funcs.go
  pkg/storage/driver/sql.go
Labels: size/M

#30856 fix: govulncheck workflow [v3 backport]
  .github/workflows/govulncheck.yml
Labels: size/XS

#30842 Fix : No repository is not an error,use the helm repo list command ,if there is no repository,it should not be an error #30606
  pkg/cmd/repo_list.go
Labels: size/XS

#30863 Adding test for list command
  pkg/cmd/repo_list.go
  pkg/cmd/repo_list_test.go
  pkg/cmd/testdata/output/repo-list-empty.txt
  pkg/cmd/testdata/output/repo-list.txt
Labels: size/M

#30852 fix: add warning when ignore repo flag
  pkg/action/install.go
Labels: size/XS

#30862 fix: correctly concat absolute URIs in repo cache
  pkg/downloader/chart_downloader_test.go
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
  pkg/downloader/testdata/repository/testing-relative-index.yaml
  pkg/repo/chartrepo_test.go
Labels: size/M, Has One Approval

#30871 Run test OCI registry localhost
  pkg/registry/utils_test.go
Labels: size/XS

#30882 Add new LFX Insights Health Score Badge
  README.md
Labels: size/XS

#30886 Log warning when platformCommand|Hook and Command|Hook are set
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
Labels: size/S

#30884 Reverting fix "renders int as float"
  pkg/chart/v2/loader/load.go
  pkg/chart/v2/util/dependencies_test.go
  pkg/chart/v2/util/values.go
  pkg/cmd/template_test.go
  pkg/cmd/testdata/output/issue-totoml.txt
  pkg/cmd/testdata/testcharts/issue-totoml/Chart.yaml
  pkg/cmd/testdata/testcharts/issue-totoml/templates/configmap.yaml
  pkg/cmd/testdata/testcharts/issue-totoml/values.yaml
Labels: size/M, bug

#30885 Revert "fix (helm) : toToml` renders int as float [ backport to v3 ]"
  cmd/helm/template_test.go
  cmd/helm/testdata/output/issue-totoml.txt
  cmd/helm/testdata/testcharts/issue-totoml/Chart.yaml
  cmd/helm/testdata/testcharts/issue-totoml/templates/configmap.yaml
  cmd/helm/testdata/testcharts/issue-totoml/values.yaml
  pkg/chart/loader/load.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/values.go
Labels: size/M, bug

#30865 fix: update json-patch import path and add gomodguard settings
  .golangci.yml
  go.mod
  go.sum
  pkg/kube/client.go
Labels: size/S, Has One Approval

#30887 Fix 3.18.0 regression: registry login with scheme
  pkg/registry/client.go
  pkg/registry/client_test.go
Labels: size/M, bug, v3.x

#30904 [Doc] Help users avoid specifying URL scheme and path with `helm registry`
  pkg/cmd/registry_login.go
Labels: size/XS

#30894 Prevent push cmd failure in 3.18 by handling version tag resolution in ORAS memory store
  pkg/registry/client.go
  pkg/registry/client_test.go
Labels: size/M, Needs v3 backport

#30905 forward porting 30902
  pkg/registry/client.go
Labels: size/XS

#30906 [v3 backport] Prevent push cmd failure in 3.18 by handling version tag resolution in ORAS memory store
  pkg/registry/client.go
  pkg/registry/client_test.go
Labels: size/M

#30928 fix: plugin installer test with no Internet
  pkg/plugin/installer/vcs_installer_test.go
Labels: size/XS
