Repository helm/helm, pull requests merged in 2025-07, with the labels that each got.

#31009 test: increase test coverage for pkg/pusher
  pkg/pusher/ocipusher_test.go
Labels: size/L

#31024 fix: 'TestRunLinterRule' stateful test
  pkg/lint/support/message_test.go
Labels: size/XS

#31021 Update tests in create_test.go and package_test.go to work in a temp directory
  pkg/cmd/create_test.go
  pkg/cmd/package_test.go
Labels: size/S, Has One Approval

#30898 Fix issue 13198
  pkg/cmd/template.go
  pkg/cmd/template_test.go
  pkg/cmd/testdata/output/template-with-api-version.txt
  pkg/cmd/testdata/testcharts/subchart/templates/service.yaml
Labels: size/S, v4.x

#31037 Disabling linter due to unknown issue
  pkg/downloader/manager_test.go
Labels: size/XS

#31042 fix: test teardown dns data race
  pkg/registry/utils_test.go
Labels: size/XS

#31033 test: increase test coverage for pkg/cli/options.go file
  pkg/cli/values/options_test.go
Labels: size/L, Has One Approval

#31041 Updating link handling
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: size/L, Has One Approval

#31011 feature: add labels to metadata
  pkg/action/get_metadata.go
  pkg/action/get_metadata_test.go
  pkg/cmd/get_metadata.go
  pkg/cmd/get_metadata_test.go
  pkg/cmd/testdata/output/get-metadata.json
  pkg/cmd/testdata/output/get-metadata.txt
  pkg/cmd/testdata/output/get-metadata.yaml
  pkg/release/v1/mock.go
Labels: size/M, Has One Approval

#31019 Return early when linting if the `templates/` directory does not exist
  pkg/action/lint_test.go
  pkg/cmd/testdata/output/lint-chart-with-bad-subcharts-with-subcharts.txt
  pkg/cmd/testdata/output/lint-chart-with-bad-subcharts.txt
  pkg/cmd/testdata/output/lint-quiet-with-error.txt
  pkg/cmd/testdata/output/lint-quiet-with-warning.txt
  pkg/lint/lint_test.go
  pkg/lint/rules/template.go
Labels: size/M, Has One Approval

#31074 add missing template directory to badcrdfile testdata
  pkg/lint/rules/testdata/badcrdfile/templates/.gitkeep
Labels: size/XS

#31057 Pass credentials when either chart repo or repo dont specify a port but it matches the default port of that scheme
  pkg/action/install.go
  pkg/action/install_test.go
Labels: size/M, Has One Approval

#31079 cleanup: Remove plugin deprecated 'UseTunnelDeprecated'
  pkg/plugin/plugin.go
Labels: size/XS

#31078 fix: k8s version parsing to match original
  pkg/chart/v2/util/capabilities.go
  pkg/chart/v2/util/capabilities_test.go
Labels: size/S, approved

#31101 feat: switch yaml library to go.yaml.in/yaml/v3
  go.mod
  pkg/action/hooks.go
Labels: size/XS
