Repository helm/helm, pull requests merged in 2025-09, with the labels that each got.

#31217 [HIP-0026] Move Postrenderer to a plugin type
  internal/plugin/config.go
  internal/plugin/loader_test.go
  internal/plugin/metadata.go
  internal/plugin/metadata_v1.go
  internal/plugin/runtime_subprocess.go
  internal/plugin/schema/postrenderer.go
  internal/plugin/testdata/plugdir/good/postrenderer-v1/plugin.yaml
  internal/plugin/testdata/plugdir/good/postrenderer-v1/sed-test.sh
  pkg/action/action.go
  pkg/action/install.go
  pkg/action/upgrade.go
  pkg/cmd/flags.go
  pkg/cmd/flags_test.go
  pkg/cmd/install.go
  pkg/cmd/template.go
  pkg/cmd/testdata/helmhome/helm/plugins/postrenderer-v1/plugin.yaml
  pkg/cmd/testdata/helmhome/helm/plugins/postrenderer-v1/sed-test.sh
  pkg/cmd/upgrade.go
  pkg/postrender/exec.go
  pkg/postrender/exec_test.go
  pkg/postrenderer/postrenderer.go
  pkg/postrenderer/postrenderer_test.go
  pkg/postrenderer/testdata/plugins/postrenderer-v1/plugin.yaml
  pkg/postrenderer/testdata/plugins/postrenderer-v1/sed-test.sh
Labels: feature, size/XL, v4.x, docs needed, dont-backport

#31219 Remove 'SetupPluginEnv'
  cmd/helm/helm.go
  cmd/helm/helm_test.go
  internal/plugin/error.go
  internal/plugin/plugin_test.go
  internal/plugin/runtime.go
  internal/plugin/runtime_extismv1.go
  internal/plugin/runtime_subprocess.go
  internal/plugin/runtime_subprocess_getter.go
  internal/plugin/runtime_subprocess_test.go
  internal/plugin/runtime_test.go
  internal/plugin/schema/postrenderer.go
  internal/plugin/subprocess_commands.go
  internal/plugin/subprocess_commands_test.go
  pkg/cmd/load_plugins.go
  pkg/cmd/plugin.go
  pkg/cmd/plugin_test.go
  pkg/cmd/root.go
  pkg/cmd/testdata/helmhome/helm/plugins/env/plugin-name.sh
  pkg/cmd/testdata/helmhome/helm/plugins/env/plugin.yaml
  pkg/cmd/testdata/helmhome/helm/plugins/fullenv/fullenv.sh
  pkg/postrenderer/postrenderer.go
  pkg/postrenderer/postrenderer_test.go
Labels: size/XL

#31222 Prevent failing `helm push` on ghcr.io using standard GET auth token flow
  pkg/registry/client.go
  pkg/registry/client_test.go
Labels: size/M, Has One Approval

#31200 fix: installer action goroutine count
  pkg/action/install.go
  pkg/action/install_test.go
Labels: size/M, bug, Has One Approval

#31064 lint: throw warning when chart version is not semverv2
  internal/chart/v3/lint/lint_test.go
  internal/chart/v3/lint/rules/chartfile.go
  internal/chart/v3/lint/rules/chartfile_test.go
  pkg/chart/v2/lint/lint_test.go
  pkg/chart/v2/lint/rules/chartfile.go
  pkg/chart/v2/lint/rules/chartfile_test.go
  pkg/chart/v2/metadata.go
  pkg/cmd/testdata/output/lint-chart-with-bad-subcharts-with-subcharts.txt
Labels: size/M, bug, Has One Approval

#31199 fix: flaky registry data race on mockdns close
  pkg/registry/client_http_test.go
  pkg/registry/client_insecure_tls_test.go
  pkg/registry/client_tls_test.go
  pkg/registry/main_test.go
  pkg/registry/utils_test.go
Labels: size/M, bug, Has One Approval

#31252 fix:chartfile tests - semver2 error message
  pkg/chart/v2/lint/rules/chartfile_test.go
Labels: size/XS

#31259 Adapt test-coverage command to be able to run for a certain package
  Makefile
  scripts/coverage.sh
Labels: size/S

#31275 Extend --skip-schema-validation for lint command
  internal/chart/v3/lint/lint.go
  internal/chart/v3/lint/rules/values.go
  internal/chart/v3/lint/rules/values_test.go
  pkg/chart/v2/lint/lint.go
  pkg/chart/v2/lint/rules/values.go
  pkg/chart/v2/lint/rules/values_test.go
Labels: size/M, Has One Approval

#31287 improve fileutil test coverage
  internal/fileutil/fileutil_test.go
Labels: size/M, Has One Approval

#31293 chore: remove pkg/time which is no longer needed
  pkg/action/action.go
  pkg/action/action_test.go
  pkg/action/get_metadata_test.go
  pkg/action/hooks.go
  pkg/action/install_test.go
  pkg/action/rollback.go
  pkg/action/uninstall.go
  pkg/action/upgrade_test.go
  pkg/cmd/flags_test.go
  pkg/cmd/helpers_test.go
  pkg/cmd/history.go
  pkg/cmd/list_test.go
  pkg/cmd/status_test.go
  pkg/cmd/testdata/output/status-with-resources.json
  pkg/cmd/testdata/output/status.json
  pkg/pusher/ocipusher.go
  pkg/registry/util.go
  pkg/registry/util_test.go
  pkg/release/v1/hook.go
  pkg/release/v1/info.go
  pkg/release/v1/mock.go
  pkg/release/v1/util/sorter_test.go
  pkg/time/ctime/ctime.go
  pkg/time/ctime/ctime_linux.go
  pkg/time/ctime/ctime_other.go
  pkg/time/time.go
  pkg/time/time_test.go
Labels: size/L, Has One Approval

#31198 fix: replace pkg/engine regular expressions with parser
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: refactor, size/L, Has One Approval

#31303 Update the action interfaces for chart apiversions
  internal/chart/v3/loader/archive.go
  internal/chart/v3/loader/directory.go
  internal/chart/v3/loader/load.go
  internal/chart/v3/loader/load_test.go
  internal/chart/v3/util/expand.go
  pkg/action/install.go
  pkg/action/install_test.go
  pkg/action/package.go
  pkg/action/upgrade.go
  pkg/chart/common.go
  pkg/chart/dependency.go
  pkg/chart/interfaces.go
  pkg/chart/loader/archive/archive.go
  pkg/chart/loader/archive/archive_test.go
  pkg/chart/loader/load.go
  pkg/chart/v2/loader/archive.go
  pkg/chart/v2/loader/archive_test.go
  pkg/chart/v2/loader/directory.go
  pkg/chart/v2/loader/load.go
  pkg/chart/v2/loader/load_test.go
  pkg/chart/v2/util/expand.go
  pkg/cmd/install.go
  pkg/cmd/upgrade.go
Labels: refactor, size/XXL

#31301 chore: remove helm version `--client` option
  pkg/cmd/testdata/output/version-client-shorthand.txt
  pkg/cmd/testdata/output/version-client.txt
  pkg/cmd/version.go
  pkg/cmd/version_test.go
Labels: size/S

#31294 Remove implicit support for helm lint current directory
  pkg/cmd/lint.go
  pkg/cmd/lint_test.go
Labels: size/S

#31048 fix(v3 backport): Add timeout flag to repo add and update flags
  cmd/helm/repo_add.go
  cmd/helm/repo_update.go
  pkg/getter/getter.go
  pkg/getter/getter_test.go
Labels: size/M, bug, Has One Approval, docs needed

#31315 Remove unused golangci-lint rules that produce warning
  .golangci.yml
Labels: size/XS

#31297 fix: hide notes in helm test command
  pkg/action/release_testing.go
  pkg/cmd/release_testing.go
  pkg/cmd/release_testing_test.go
Labels: size/M, Has One Approval

#31330 Restore lint rule for excluding meaningless name
  .golangci.yml
Labels: size/XS

#31334 Fix typo in bug-report issue template
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: size/XS, Has One Approval
