Repository helm/helm, pull requests merged in 2025-06, with the labels that each got.

#30917 fix: add debug logging to oci transport
  pkg/registry/client.go
  pkg/registry/transport.go
  pkg/registry/transport_test.go
Labels: size/XL

#12581 Consider full GroupVersionKind when matching resources
  pkg/kube/resource.go
  pkg/kube/resource_test.go
Labels: size/M, v4.x

#30939 fix: action hooks delete policy mutex
  pkg/action/action.go
  pkg/action/hooks.go
Labels: size/M

#30909 refactor: replace HasPrefix+TrimPrefix with CutPrefix
  pkg/ignore/rules.go
Labels: size/XS, v4.x

#13586 fix: add formatting for errors to make multiline stacktraces in helm templates
  pkg/action/install_test.go
  pkg/engine/engine.go
  pkg/engine/engine_test.go
Labels: size/L, dont-backport

#30955 Fix tests deleting XDG_DATA_HOME
  pkg/plugin/installer/local_installer_test.go
Labels: size/XS, bug, Has One Approval

#30957 chore: fix some function names in comment
  pkg/action/hooks.go
  pkg/chart/v2/util/chartfile.go
Labels: size/XS, v4.x

#30972 fix: kube client create mutex
  pkg/kube/client.go
Labels: size/XS

#30945 fix: backport add debug logging to oci transport
  pkg/registry/client.go
  pkg/registry/fallback.go
  pkg/registry/transport.go
  pkg/registry/transport_test.go
Labels: size/XL, bug, v3.x, Has One Approval

#30973 fix: wrap run release test error in case GetPodLogs failed.
  pkg/cmd/release_testing.go
Labels: size/XS, Has One Approval

#30963 Fix Oras v2 login
  pkg/registry/client.go
Labels: size/S, Has One Approval

#30979 fix: OAuth username password login for v4
  pkg/registry/client.go
Labels: size/S, Has One Approval

#30900 Add timeout flag to repo add and update commands
  pkg/cmd/repo_add.go
  pkg/cmd/repo_update.go
  pkg/getter/getter.go
  pkg/getter/getter_test.go
Labels: size/M, bug, Needs v3 backport, Has One Approval, docs needed

#31002 chore: fix function in comment
  pkg/chart/v2/util/dependencies_test.go
  pkg/kube/wait.go
Labels: size/XS

#31004 fix(docs): Typofix in README
  README.md
Labels: size/XS
