Repository helm/helm, pull requests merged in 2025-02, with the labels that each got.

#13656 fix: Bind repotest server to `localhost`
  pkg/repo/repotest/server.go
Labels: size/XS

#13534 fix (helm) : toToml` renders int as float [ backport to v3 ]
  cmd/helm/template_test.go
  cmd/helm/testdata/output/issue-totoml.txt
  cmd/helm/testdata/testcharts/issue-totoml/Chart.yaml
  cmd/helm/testdata/testcharts/issue-totoml/templates/configmap.yaml
  cmd/helm/testdata/testcharts/issue-totoml/values.yaml
  pkg/chart/loader/load.go
  pkg/chartutil/dependencies_test.go
  pkg/chartutil/values.go
Labels: size/M, approved

#13579 refactor: Remove duplicate `FindChartIn*RepoURL` functions
  pkg/action/install.go
  pkg/action/pull.go
  pkg/downloader/manager.go
  pkg/repo/chartrepo.go
  pkg/repo/chartrepo_test.go
Labels: size/L

#13665 chore: Remove unused `WaitAndGetCompletedPodPhase`
  pkg/kube/client.go
  pkg/kube/fake/fake.go
  pkg/kube/fake/printer.go
  pkg/kube/interface.go
Labels: size/M, approved

#13535 refactor: tlsutil use options pattern
  cmd/helm/root.go
  internal/tlsutil/cfg.go
  internal/tlsutil/tls.go
  internal/tlsutil/tls_test.go
  internal/tlsutil/tlsutil_test.go
  pkg/getter/httpgetter.go
  pkg/getter/httpgetter_test.go
  pkg/getter/ocigetter.go
  pkg/pusher/ocipusher.go
  pkg/registry/util.go
  pkg/registry/utils_test.go
  pkg/repo/repotest/server.go
Labels: size/L, Has One Approval

#30295 Add Percona to the list of organizations using Helm
  ADOPTERS.md
Labels: size/M, Has One Approval

#13481 feat: Enable CPU and memory profiling
  CONTRIBUTING.md
  cmd/helm/profiling.go
  cmd/helm/root.go
Labels: size/L, Needs v3 backport

#30546 refactor: using slices.Contains to simplify the code
  pkg/action/release_testing.go
Labels: size/S, Has One Approval

#30508 Update version option description with more accurate info
  scripts/get-helm-3
Labels: size/XS

#30294 Supports json arguments
  cmd/helm/flags.go
  cmd/helm/install.go
  cmd/helm/upgrade.go
  pkg/cli/values/options.go
  pkg/cli/values/options_test.go
Labels: size/L, Has One Approval, docs needed

#30550 Moving to SetOut and SetErr for Cobra
  cmd/helm/require/args_test.go
Labels: size/XS

#30470 Cleanup `repotest.Server` constructors
  cmd/helm/dependency_build_test.go
  cmd/helm/dependency_update_test.go
  cmd/helm/install_test.go
  cmd/helm/pull_test.go
  cmd/helm/repo_add_test.go
  cmd/helm/repo_remove_test.go
  cmd/helm/repo_update_test.go
  cmd/helm/show_test.go
  pkg/downloader/chart_downloader_test.go
  pkg/downloader/manager_test.go
  pkg/repo/repotest/server.go
  pkg/repo/repotest/server_test.go
  pkg/repo/repotest/tlsconfig.go
Labels: size/XL

#13471 Use a more direct and less error-prone return value
  pkg/cli/values/options.go
  pkg/kube/roundtripper.go
  pkg/plugin/installer/vcs_installer.go
  pkg/provenance/sign_test.go
Labels: size/S, Has One Approval

#30562 fixing error handling from a previous PR
  pkg/kube/roundtripper.go
Labels: size/XS

#13655 feat: support multi-document values files
  pkg/chart/loader/load.go
  pkg/chart/loader/load_test.go
  pkg/cli/values/options.go
  pkg/cli/values/options_test.go
Labels: size/L, Has One Approval, docs needed

#30566 remove unused config.go
  pkg/kube/config.go
Labels: size/M

#10309 Add hook annotation to output hook logs to client on error
  cmd/helm/helm.go
  pkg/action/action.go
  pkg/action/action_test.go
  pkg/action/hooks.go
  pkg/action/hooks_test.go
  pkg/action/install_test.go
  pkg/kube/client.go
  pkg/kube/client_test.go
  pkg/kube/fake/printer.go
  pkg/kube/interface.go
  pkg/release/hook.go
  pkg/releaseutil/manifest_sorter.go
Labels: feature, size/L

#30552 v3 backport: feat: Enable CPU and memory profiling
  CONTRIBUTING.md
  cmd/helm/profiling.go
  cmd/helm/root.go
Labels: size/L

#11112 perf(dep-up): do not update the same repo multiple times
  pkg/downloader/manager.go
  pkg/downloader/manager_test.go
Labels: size/M, Has One Approval

#30576 Fix flaky TestDedupeRepos
  pkg/downloader/manager_test.go
Labels: size/XS

#30580 Move pkg/releaseutil to pkg/release/util
  cmd/helm/history.go
  cmd/helm/template.go
  pkg/action/action.go
  pkg/action/install.go
  pkg/action/list.go
  pkg/action/resource_policy.go
  pkg/action/uninstall.go
  pkg/action/upgrade.go
  pkg/release/util/filter.go
  pkg/release/util/filter_test.go
  pkg/release/util/kind_sorter.go
  pkg/release/util/kind_sorter_test.go
  pkg/release/util/manifest.go
  pkg/release/util/manifest_sorter.go
  pkg/release/util/manifest_sorter_test.go
  pkg/release/util/manifest_test.go
  pkg/release/util/sorter.go
  pkg/release/util/sorter_test.go
  pkg/storage/storage.go
Labels: size/M

#30571 feat: error out when post-renderer produces no output
  pkg/postrender/exec.go
  pkg/postrender/exec_test.go
Labels: size/S

#30585 removing old apis
  pkg/kube/ready.go
  pkg/kube/ready_test.go
Labels: size/S

#30572 fix: error when more than one post-renderer is specified
  cmd/helm/flags.go
  cmd/helm/flags_test.go
Labels: size/S, Has One Approval

#30592 changing from log to slog
  pkg/repo/index.go
Labels: size/XS
